
.photo-item-layer {
    max-width: 360px;
    width: 360px;
    padding: 20px;
    display: inline-block;
}

.photo-item-layer>.photo-layout {
    border-radius: 10px;
    max-height: 320px;
    width: 100%;
    height: 320px;
    overflow: hidden;
    display: inline-block;
    position: relative;

}

.photo-item-layer>.photo-layout>.img {
    width: 100%;
    height: 100%;
}

.photo-item-layer>.photo-layout>.img>img {
    height: 100%;
    width: 100%;
    border: 0 none;
    vertical-align: top;
    object-fit: contain;
}

.photo-item-layer>.photo-layout .text-wrap {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: linear-gradient(to bottom,
            rgba(20, 20, 20, 0) 10%,
            /* rgba(20, 20, 20, 0.25) 25%, */
            rgba(20, 20, 20, 0.5) 50%,
            /* rgba(20, 20, 20, 0.75) 75%, */
            rgba(20, 20, 20, 1) 100%);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.photo-item-layer>.photo-layout .text-wrap .v-h {
    flex-grow: 1;
}
.no-posts {
    text-align: center;
    color: #fff;
    margin: 140px;~
}
.photo-item-layer .text-wrap .top {
    /* padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px; */
}

.photo-item-layer .text-wrap .bottom {
    color: #fff;
    /* padding-left: 10px; */
    /* padding-bottom: 15px; */
}

.photo-item-layer .text-wrap .bottom>div {
    margin-right: 10px;
}

.photo-item-layer .text-wrap .bottom>div img {
    margin-right: 4px;
}

.photo-item-layer .user-layout {
    color: #A7A8A9;
}

.photo-item-layer .user-layout>div {
    margin-right: 8px;
}

.sub-header .bc-activate {
    margin-left: 15px;
}