<script src="../../static/js/chat.js"></script>
<div class="content chatLayer bc-aside">
    <div class="chat">
        <div class="title">
            <p>전체 채팅<span class="">582</span></p>
        </div>
        <div id="chatingLayer" class="content">
            <div class="chatingLayer">
                <!-- 채팅 메시지가 여기에 추가됩니다 -->
            </div>
        </div>
        <div class="chatInsert bc-gray-dark">
            <img src="../static/images/svg/chat-icon-1.svg" alt=""/>
            <input type="text" id="messageInput" placeholder="채팅 메세지 보내기">
            <img src="../static/images/svg/chat-icon-2.svg" alt=""/>
            <img src="../static/images/svg/chat-icon-3.svg" alt="" onclick="sendMessage()"/>
        </div>
    </div>
</div>

<!--<div class="content chatLayer bc-aside">-->
<!--    <div class="chat">-->
<!--        <div class="title">-->
<!--            <p>코리아 스피드 바카라 A <span class="">582</span></p>-->
<!--        </div>-->
<!--        <div class="content">-->
<!--            <div class="chatingLayer">-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white bc-activate">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="chatInsert bc-gray-dark">-->
<!--            <img src="../static/images/svg/chat-icon-1.svg" alt=""/>-->
<!--            <input type="text" placeholder="채팅 메세지 보내기">-->
<!--            <img src="../static/images/svg/chat-icon-2.svg" alt=""/>-->
<!--            <img src="../static/images/svg/chat-icon-3.svg" alt=""/>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->