<script src="../../static/js/chat.js"></script>
<div class="content chatLayer bc-aside">
    <div class="chat">
        <div class="title">
            <p id="totalChatTab" class="tab px14 active">전체<span id="messageCount" class="m-l-5">0</span></p>
            <p id="tableChatTab" class="tab px14">테이블</p>
            <p id="alarmChatTab" class="tab px14">알림</p>
        </div>
        <div id="chatingLayer" class="content">
            <div id="totalChatContent" class="chatingLayer">
            </div>
            <div id="tableChatContent" class="chatingLayer" style="display:none;">
            </div>
            <div id="alarmChatContent" class="chatingLayer" style="display:none;">
            </div>
        </div>
        <div class="chatInsert bc-gray-dark">
            <input type="text" id="messageInput" placeholder="메시지를 입력해주세요.">
            <div class="user-chat-menu">
                <div class="chat-gif parents">
                    <div id="gif-fold">
                        <i class="fa-kit fa-icon-solid-fa-gif"></i>
                    </div>
                </div>
                <div class="chat-emoticon parents">
                    <div id="emoticon-fold">
                        <i class="fa-sharp fa-solid fa-face-angry fa-fw"></i>
                    </div>
                </div>
                <div class="chat-send-wrap">
                    <button id="chat-send" class="chat-send ripple">전송</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="content chatLayer bc-aside">-->
<!--    <div class="chat">-->
<!--        <div class="title">-->
<!--            <p>코리아 스피드 바카라 A <span class="">582</span></p>-->
<!--        </div>-->
<!--        <div class="content">-->
<!--            <div class="chatingLayer">-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white bc-activate">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chatLayout  flex-row ">-->
<!--                    <div class="profile"><img class="profile-img-44" src="../static/images/profile/default.png" alt="#"></div>-->
<!--                    <div class="chatContent">-->
<!--                        <div class="top flex-row flex-c">-->
<!--                            <div class="nickname grey-4">우울한협객</div>-->
<!--                            <div class="time grey-1">16:03</div>-->
<!--                        </div>-->
<!--                        <div class="bottom white opacity80 bc-gray-dark">-->
<!--                            <div class="text ">-->
<!--                                오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="chatInsert bc-gray-dark">-->
<!--            <img src="../static/images/svg/chat-icon-1.svg" alt=""/>-->
<!--            <input type="text" placeholder="채팅 메세지 보내기">-->
<!--            <img src="../static/images/svg/chat-icon-2.svg" alt=""/>-->
<!--            <img src="../static/images/svg/chat-icon-3.svg" alt=""/>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->