<div class="footer grey-5 bc-footer">
    <div class="footer-notification">
        <div class="top">
            <div class="logo flex-c flex-row">
                <!-- <img src="../static/images/logo/logo.png" alt="EVOLCHAT 로고"> -->
                 <div class="flex-row flex-c">
                    <img src="../static/images/svg/logo-icon.svg" alt="">  
                    <img class="p-l-10" src="../static/images/svg/logo-text.svg" alt="">
                    
                 </div>
                <div class="icons-wrap">
                    <img src="../static/images/svg/apple.svg" alt="">  
                    <img class="p-l-10" src="../static/images/svg/googleplay.svg" alt="">
                    <!-- <div class="icon-sns icon-apple"></div>
                    <div class="icon-sns icon-google-play"></div> -->
                </div>
            </div>

        </div>
        <div class="center  px13">
            <p>에볼챗(evolchat.com)은 데이터를 기반으로 한 게임 분석 및 커뮤니티, 채팅을 서비스합니다.<br> 금전을 걸고 할 수 있는 도박은 제공하지
                않으며,
                무료로 제공되는 양도가 불가능한 배팅 포인트를 이용하여 가상의 배팅을 즐기실 수 있습니다.</p>
        </div>
        <div class="bottom flex-row flex-c px13">
            <img src="../static/images/svg/19.svg" alt="">          
            <p class="p-l-10">에볼챗은 만 19세 미만의 청소년은 가입이 불가합니다.<br> 본인이 아닌 타인의 명의를 도용, 대여하여 인증하는 행위를 금지합니다.</p>
        </div>
    </div>
    <div class="footer-nav flex-row px14">
        <div class="nav-list">
            <div class="nav-title px17"><a href="home">에볼루션</a></div>
            <div class="nav-item"><a href="#">바카라</a></div>
            <div class="nav-item"><a href="#">식보</a></div>
            <div class="nav-item"><a href="#">최고의 게임</a></div>
            <div class="nav-item"><a href="#">룰렛</a></div>
            <div class="nav-item"><a href="#">게임 쇼</a></div>
            <div class="nav-item"><a href="#">즐겨찾기</a></div>
        </div>
        <div class="nav-list">
            <div class="nav-title px17"><a href="openchat">오픈채팅</a></div>
            <div class="nav-item"><a href="openchat">전체</a></div>
            <div class="nav-item"><a href="openchat_evolution">에볼루션</a></div>
            <div class="nav-item"><a href="openchat_sports">스포츠</a></div>
            <div class="nav-item"><a href="openchat_game">게임</a></div>
            <div class="nav-item"><a href="openchat_cryptocurrency">가상화폐</a></div>
            <div class="nav-item"><a href="openchat_stock">주식</a></div>
            <div class="nav-item"><a href="openchat_amity">친목</a></div>
            <div class="nav-item"><a href="openchat_favorites">즐겨찾기</a></div>
        </div>
        <div class="nav-list">
            <div class="nav-title px17"><a href="community_free">커뮤니티</a></div>
            <div class="nav-item"><a href="community_free">자유</a></div>
            <div class="nav-item"><a href="community_photo">포토</a></div>
<!--            <div class="nav-item"><a href="#">유머</a></div>-->
            <div class="nav-item"><a href="community_videos">동영상</a></div>
<!--            <div class="nav-item"><a href="#">노하우&팁</a></div>-->
<!--            <div class="nav-item"><a href="#">신고게시판</a></div>-->
        </div>
        <div class="nav-list">
            <div class="nav-title px17"><a href="rank">랭킹</a></div>
            <div class="nav-item"><a href="rank">수익</a></div>
            <div class="nav-item"><a href="#">승률</a></div>
            <div class="nav-item"><a href="#">연승</a></div>
            <div class="nav-item"><a href="#">잭팟 수령</a></div>
        </div>
        <div class="nav-list">
            <div class="nav-title px17"><a href="shopping">상점</a></div>
            <div class="nav-item"><a href="shpopping_chat">채팅</a></div>
            <div class="nav-item"><a href="shopping_decorate">꾸미기</a></div>
            <div class="nav-item"><a href="shopping_point">포인트</a></div>
            <div class="nav-item"><a href="shoppoing_goldchip">골드칩</a></div>
            <div class="nav-item"><a href="shopping_etc">기타</a></div>
        </div>
        <div class="nav-list">
            <div class="nav-title px17"><a href="support_notice">고객센터</a></div>
            <div class="nav-item"><a href="support_notice">공지사항</a></div>
            <div class="nav-item"><a href="support_help">도움말</a></div>
            <div class="nav-item"><a href="support_inquiry">문의하기</a></div>
            <div class="nav-item"><a href="#">블랙리스트</a></div>
        </div>
        <div class="nav-list">
            <div class="nav-title px17"><a href="messenger_friend">메신저</a></div>
            <div class="nav-item"><a href="messenger_friend">친구 목록</a></div>
            <div class="nav-item"><a href="messenger_message">다이렉트 메시지</a></div>
            <div class="nav-item"><a href="messenger_blocklists">차단 목록</a></div>
            <div class="nav-item"><a href="messenger_add_friend_wait">친구 추가하기</a></div>
        </div>
    </div>
    <div class="footer-corp">
        <!-- <div class="logo-corp graycode"></div> -->
         <div class="flex-row flex-c">
            <img src="../static/images/svg/graycode-icon.svg" alt="">
            <img class="p-l-10" src="../static/images/svg/graycode-text.svg" alt="">
         </div>
        
        <p class="px13">(주)그레이코드 개인정보보호책임자 홍길동 주소 : 서울시 강남구 논현동 243-17번지 1층 전화 : 1588-4444 팩스 :
            02-248-4444<br>
            E-mail : contact@evolchat.com 사업자등록번호 : 220-87-17456 통신판매업 신고번호 : 제2024-서울강남-1659호
            사업자정보확인</p>
        <!-- <div class="copy-corp"><img src="../static/images/logo/corp.png" alt="corp.png"></div> -->
        <div class="copy-corp"><img src="../static/images/svg/corp.svg" alt=""></div>
    </div>
</div>