<div class="header flex-row bc-header g-12">
    <div class="wrap flex-row left">
        <div class="logo flex-row flex-c cursor-p">
            <a href="home"><img src="../../static/images/svg/logo-icon.svg" alt=""/></a>
            <a href="home"><img class="p-l-10" src="../../static/images/svg/logo-text.svg" alt=""/></a>
            <div id="nav_button" class="menu-btn-layer cursor-p">
                <div class="menu-btn">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="center  flex-row flex-c">
        <div class="header-search">
            <input type="text" class="white px14" placeholder="에볼류션 테이블 검색">
            <img src="../../static/images/svg/search.svg" alt="" class="input-icon search"/>
        </div>
        <div class="white flex-row flex-c px15">
            <div id="header-item-tooltip-1"  class="items flex-c cursor-p">
                <img src="../../static/images/svg/header-item-1.svg" alt=""/>
                <span id="goldChip"></span>
                <div class="spinner" id="goldChipSpinner"></div>
            </div>
            <div id="header-item-tooltip-2"  class="items flex-c cursor-p">
                <img src="../../static/images/svg/header-item-2.svg" alt=""/>
                <span id="bettingPoints" class="p-l-3"></span>
                <div class="spinner" id="bettingPointsSpinner"></div>
            </div>
            <div class="items flex-c header-betting-point charge ripple px18">
                <i class="fa-sharp fa-light fa-bolt fa-fw opacity60"></i>
            </div>
            <div id="header-item-tooltip-4" class="items flex-c bc-red-f23f42 cursor-p header-betting-point coupon active ripple px18">
                <i class="fa-sharp fa-solid fa-ticket-perforated"></i>
                <span id="coupon-count">3</span>
            </div>
        </div>
    </div>
    <div class="wrap flex-row right flex-c">
        <div class="info_option flex-row">
            <div id="header-item-tooltip-5" class="items flex-c cursor-p">
                <a href="my_item">
                <div class="user-menu-item ripple">
                    <span class="mini-icon-box"><i class="fa-sharp fa-solid fa-gift fa-fw"></i></span>
                    <span class="mini-menu-box">선물</span>
                </div>
                </a>
            </div>
            <div id="header-item-tooltip-7" class="items flex-c cursor-p">
                <div class="user-menu-item ripple">
                    <span class="mini-icon-box"><i id="chat-icon" class="fa-kit fa-icon-solid-fa-chat fa-fw"></i></span>
                    <span class="mini-menu-box">채팅</span>
                </div>
            </div>
            <div id="header-item-tooltip-8" class="items flex-c cursor-p">
                <a href="my_bettingpoints">
                <div class="user-menu-item ripple">
                    <span class="mini-icon-box"><i class="fa-kit fa-icon-solid-fa-history fa-fw"></i></span>
                    <span class="mini-menu-box">배팅내역</span>
                </div>
                </a>
            </div>
            <div class="items flex-c dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="dropdown-toggle profile-img-44" src="../../static/images/profile/default.png" alt="프로필이미지.png"></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownHeaderButton">
                    <li><a class="dropdown-item" href="my_page">마이페이지</a></li>
                    <li><a class="dropdown-item" href="#" onclick="logout()">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
            url: `/user-points/current`,
            type: 'GET',
            success: function(response) {
                $('#bettingPoints').text(response.bbettingPoints.toLocaleString('ko-KR'));
                $('#goldChip').text(response.ggoldChip.toLocaleString('ko-KR'));
                $('#goldChipSpinner').remove();
                $('#bettingPointsSpinner').remove();
            },
            error: function() {
                console.log('Failed to fetch user points');
            }
        });

        tippy('#header-item-tooltip-1', {
            content: 'G 골드칩',
            placement: 'bottom',
            animation: 'fade',
        });

        tippy('#header-item-tooltip-2', {
            content: 'B 배팅 포인트',
            placement: 'bottom',
            animation: 'fade',
        });

        tippy('#header-item-tooltip-4', {
            content: '무료충전',
            placement: 'bottom',
            animation: 'fade',
        });

        // Initialize Tippy.js
        tippy('#header-item-tooltip-5', {
            content: '선물함',
            interactive: true,
            delay: [0,100],
            animation: 'fade',
        });

        tippy('#header-item-tooltip-6', {
            content: '히스토리',
            placement: 'bottom',
            animation: 'fade',
        });

        tippy('#header-item-tooltip-7', {
            content: '채팅방',
            placement: 'bottom',
            animation: 'fade',
        });

        tippy('#header-item-tooltip-8', {
            content: '알림',
            placement: 'bottom',
            animation: 'fade',
        });

        tippy('#header-item-tooltip-9', {
            content: '언어선택',
            placement: 'bottom',
            animation: 'fade',
        });
    });
</script>