<div class="header flex-row bc-header g-12">
    <div class="wrap flex-row left">
        <div class="logo flex-row flex-c" onclick="window.location.href = '/';">
            <img src="../static/images/svg/logo-icon.svg" alt=""/>
            <img src="../static/images/svg/logo-text.svg" alt=""/>
            <div class="menu-btn-layer">
                <div class="menu-btn">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="center  flex-row flex-c">
        <div class="header-search">
            <input type="text" class="white" placeholder="에볼류션 테이블 검색">
            <img src="../static/images/svg/search.svg" alt="" class="input-icon search"/>
        </div>
        <div class="white flex-row flex-c px15">
            <div class="items flex-c">
                <img src="../static/images/svg/header-item-1.svg" alt=""/>
                <span>JACKPOT</span><span id="bettingPoints">0</span>
            </div>
            <div class="items flex-c">
                <img src="../static/images/svg/header-item-2.svg" alt=""/>
                <span id="goldChip">0</span>
            </div>
            <div class="items flex-c">
                <img src="../static/images/svg/header-item-3.svg" alt=""/>
            </div>
            <div class="items flex-c bc-red-f23f42">
                <img src="../static/images/svg/header-item-4.svg" alt=""/>
            </div>
        </div>
    </div>
    <div class="wrap flex-row right flex-c">
        <div class="info_option flex-row">
            <div class="items flex-c">
                <img src="../static/images/svg/header-item-5.svg" alt=""/>
            </div>
            <div class="items flex-c">
                <img src="../static/images/svg/header-item-6.svg" alt=""/>
            </div>
            <div class="items flex-c active">
                <img src="../static/images/svg/header-item-7.svg" alt=""/>
            </div>
            <div class="items flex-c">
                <img src="../static/images/svg/header-item-8.svg" alt=""/>
            </div>
            <div class="items flex-c">
                <img src="../static/images/svg/header-item-9.svg" alt=""/>
                
            </div>
            <div class="items flex-c"><img src="../static/images/profile/user1.png" alt="프로필이미지.png"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        const userId = 1; // Set the userId here

        $.ajax({
            url: `/user-points/${userId}`,
            type: 'GET',
            success: function(response) {
                $('#bettingPoints').text(response.bbettingPoints);
                $('#goldChip').text(response.ggoldChip);
            },
            error: function() {
                console.log('Failed to fetch user points');
            }
        });
    });
</script>