<header id="initialNav" class="bc-aside">
    <ul class="nav">
        <li class="grey-1"><a class="text-white-50 nav-link" href="home">
            <img src="../static/images/svg/nav-item-1.svg" alt=""/>
            에볼루션
        </a></li>
        <!--        <li class="grey-1"><a class="nav-link" href="#">-->
        <!--            <img src="../static/images/svg/nav-item-2.svg" alt=""/>-->
        <!--                오토봇-->
        <!--            </a></li>-->
        <li class="grey-1"><a class="text-white-50 nav-link" href="openchat">
            <img src="../static/images/svg/nav-item-3.svg" alt=""/>
            <span class="nav-text">오픈채팅</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="community_free">
            <img src="../static/images/svg/nav-item-4.svg" alt=""/>
            <span class="nav-text">커뮤니티</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="rank">
            <img src="../static/images/svg/nav-item-5.svg" alt=""/>
            <span class="nav-text">랭킹</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="shopping">
            <img src="../static/images/svg/nav-item-6.svg" alt=""/>
            <span class="nav-text">상점</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="support_notice">
            <img src="../static/images/svg/nav-item-7.svg" alt=""/>
            <span class="nav-text">고객센터</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="messenger_friend">
            <img src="../static/images/svg/nav-item-8.svg" alt=""/>
            <span class="nav-text">메신저<span class="notice hidden">3</span></span>
        </a></li>
    </ul>
    <p class="px12 opacity60 white msg">최근 메시지 <span class="orange">4</span></p>
    <ul class="white recentMessages">
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
            <div class="opacity60">
                <p class=" px14">슈퍼컴퓨터분석</p>
                <p class=" px12">오늘 언제 시작하세요?</p>
            </div>
            <span class="notice">3</span>
        </a>
        </li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
            <div class="opacity60">
                <p class=" px14">슈퍼컴퓨터분석</p>
                <p class=" px12">오늘 언제 시작하세요?</p>
            </div>
            <span class="notice">3</span>
        </a>
        </li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
            <div class="opacity60">
                <p class=" px14">슈퍼컴퓨터분석</p>
                <p class=" px12">오늘 언제 시작하세요?</p>
            </div>
            <span class="notice">3</span>
        </a>
        </li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
            <div class="opacity60">
                <p class=" px14">슈퍼컴퓨터분석</p>
                <p class=" px12">오늘 언제 시작하세요?</p>
            </div>
            <span class="notice">3</span>
        </a>
        </li>
    </ul>
</header>
<header id="newNav" class="bc-aside" style="display: none;">
    <ul class="nav">
        <li class="grey-1"><a class="text-white-50 nav-link" href="home">
            <img src="../static/images/svg/nav-item-1.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="openchat">
            <img src="../static/images/svg/nav-item-3.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="community_free">
            <img src="../static/images/svg/nav-item-4.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="rank">
            <img src="../static/images/svg/nav-item-5.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="shopping">
            <img src="../static/images/svg/nav-item-6.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="support_notice">
            <img src="../static/images/svg/nav-item-7.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="messenger_friend">
            <img src="../static/images/svg/nav-item-8.svg" alt=""/>
        </a></li>
    </ul>
    <ul class="white recentMessages">
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
        </a></li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
        </a></li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
        </a></li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
        </a></li>
    </ul>
</header>
<script>
    $(document).ready(function() {
        const currentPath = $('body').attr('data-active-category');

        $('.nav-link').each(function() {
            const linkPath = $(this).attr('href');
            if (linkPath === currentPath) {
                $(this).addClass('active');
            }
        });
    });
</script>
