<header id="initialNav" class="bc-aside">
    <ul class="nav">
        <li class="grey-1"><a class="text-white-50 nav-link" href="home">
            <span class="nav-icon"><i class="fa-kit fa-fa-light-fa-evolution fa-fw"></i></span>
            <span class="nav-text px15">에볼루션</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="openchat">
            <span class="nav-icon"><i class="fa-kit fa-fa-light-fa-openchat fa-fw"></i></span>
            <span class="nav-text px15">오픈채팅</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="community_free">
            <span class="nav-icon"><i class="fa-sharp fa-light fa-mug-saucer fa-fw"></i></span>
            <span class="nav-text px15">커뮤니티</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="rank">
            <span class="nav-icon"><i class="fa-sharp fa-light fa-stars fa-fw"></i></span>
            <span class="nav-text px15">랭킹</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="shopping">
            <span class="nav-icon"><i class="fa-sharp fa-light fa-store fa-fw"></i></span>
            <span class="nav-text px15">상점</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="support_notice">
            <span class="nav-icon"><i class="fa-sharp fa-light fa-circle-info fa-fw"></i></span>
            <span class="nav-text px15">고객센터</span>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="messenger_friend">
            <span class="nav-icon"><i class="fa-kit fa-light-fa-evoltalk fa-fw"></i></span>
            <span class="nav-text px15">메신저<span class="notice hidden">3</span></span>
        </a></li>
    </ul>
    <p class="px12 opacity60 white msg">최근 메시지 <span class="orange">4</span></p>
    <ul class="white recentMessages">
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
            <div class="opacity60">
                <div class="receive">
                    <p class=" px12">슈퍼컴퓨터분석</p>
                    <span class="notice px12">+2</span>
                </div>
                <p class=" px12">오늘 언제 시작하세요?</p>
            </div>
        </a>
        </li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
            <div class="opacity60">
                <div class="receive">
                    <p class=" px12">슈퍼컴퓨터분석</p>
                    <span class="notice px12">+3</span>
                </div>
                <p class=" px12">오늘 언제 시작하세요?</p>
            </div>
        </a>
        </li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
            <div class="opacity60">
                <div class="receive">
                    <p class=" px12">슈퍼컴퓨터분석</p>
                    <span class="notice px12">+3</span>
                </div>
                <p class=" px12">오늘 언제 시작하세요?</p>
            </div>
        </a>
        </li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
            <div class="opacity60">
                <div class="receive">
                    <p class=" px12">슈퍼컴퓨터분석</p>
                    <span class="notice px12">+3</span>
                </div>
                <p class=" px12">오늘 언제 시작하세요?</p>
            </div>
        </a>
        </li>
    </ul>
</header>
<header id="newNav" class="bc-aside" style="display: none;">
    <ul class="nav">
        <li class="grey-1"><a class="text-white-50 nav-link" href="home">
            <img src="../static/images/svg/nav-item-1.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="openchat">
            <img src="../static/images/svg/nav-item-3.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="community_free">
            <img src="../static/images/svg/nav-item-4.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="rank">
            <img src="../static/images/svg/nav-item-5.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="shopping">
            <img src="../static/images/svg/nav-item-6.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="support_notice">
            <img src="../static/images/svg/nav-item-7.svg" alt=""/>
        </a></li>
        <li class="grey-1"><a class="text-white-50 nav-link" href="messenger_friend">
            <img src="../static/images/svg/nav-item-8.svg" alt=""/>
        </a></li>
    </ul>
    <ul class="white recentMessages">
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
        </a></li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
        </a></li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
        </a></li>
        <li class="grey-1"><a href="#" class="flex-row flex-c">
            <img class="profile-img-36" src="../static/images/profile/default.png" />
        </a></li>
    </ul>
</header>
<script>
    $(document).ready(function() {
        let isInitialNavVisible = JSON.parse(localStorage.getItem('isInitialNavVisible')) || false;
        let isNavExpanded = JSON.parse(localStorage.getItem('isNavExpanded')) || !isInitialNavVisible;

        // 페이지 로드 시 상태 복원
        if (isInitialNavVisible) {
            $("#initialNav").css({ display: "block", width: "100%", visibility: "visible", opacity: 1 });
            $("#newNav").css({ display: "none", width: "25%", visibility: "hidden", opacity: 0 });
            $("#nav").css("width", "100%");
        } else {
            $("#initialNav").css({ display: "none", width: "100%", visibility: "hidden", opacity: 0 });
            $("#newNav").css({ display: "block", width: "25%", visibility: "visible", opacity: 1 });
            $("#nav").css("width", "55px");
        }

        $("#nav_button").click(function() {
            if ($("#newNav").is(":visible")) {
                $("#newNav").animate({ width: "0%", opacity: 0 }, 300, function() {
                    $(this).css({ display: "none", visibility: "hidden" });
                    $("#initialNav").css({ display: "block", width: "0%", visibility: "hidden", opacity: 0 });

                    $("#initialNav").animate({ width: "100%" }, 0, function() {
                        $(this).css({ visibility: "visible" }).animate({ opacity: 1 }, 0);
                    });

                    $("#nav").animate({ width: "100%" }, 300);
                    localStorage.setItem('isInitialNavVisible', true);
                    localStorage.setItem('isNavExpanded', true);
                });
            } else {
                $("#initialNav").animate({ width: "0%", opacity: 1 }, 100, function() {
                    $(this).css({ display: "none", visibility: "hidden" });
                    $("#newNav").css({ display: "block", width: "0%", visibility: "hidden", opacity: 0 }).animate({ width: "25%" }, 0, function() {
                        $(this).css({ visibility: "visible" }).animate({ opacity: 1 }, 0);
                    });

                    $("#nav").animate({ width: "55px" }, 200);
                    localStorage.setItem('isInitialNavVisible', false);
                    localStorage.setItem('isNavExpanded', false);
                });
            }
             $(this).toggleClass('clicked');
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
            const navMenus = document.querySelectorAll('.nav-menu');

            navMenus.forEach(menu => {
                menu.addEventListener('click', function() {
                    // 현재 클릭된 메뉴가 이미 active 상태인 경우
                    const isActive = this.classList.contains('active');

                    // 모든 메뉴에서 active 제거 및 fa-solid를 fa-light로 변경
                    navMenus.forEach(nav => {
                        nav.classList.remove('active');
                        const icon = nav.querySelector('i');
                        if (icon && icon.className.includes('fa-solid')) {
                            icon.className = icon.className.replace('fa-solid', 'fa-light');
                        }
                    });

                    // 클릭된 메뉴가 active 상태가 아니었을 때만 active 추가
                    if (!isActive) {
                        this.classList.add('active');
                        const activeIcon = this.querySelector('i');
                        if (activeIcon && activeIcon.className.includes('fa-light')) {
                            activeIcon.className = activeIcon.className.replace('fa-light', 'fa-solid');
                        }
                    }
                });
            });
        });

</script>
