<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <link id="community_free" rel="stylesheet" href="../../static/css/page/community/community_free.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/community_free.js"></script>
</head>

<body>
<div id="content-area" class="flex-grow">
    <div class="wrapper bc-black vh100">
        <section class="flex-c">
            <div class="wrap bc-footer">
                <div class="content">
                    <div class="mainLayer bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list active"><a href="community_detail">자유</a></div>
                            <div class="list"><a href="community_photo">포토</a></div>
                            <div class="list"><a href="community_videos">동영상</a></div>
                        </div>
                        <div class="sub-header flex-row flex-c">
                            <div class="sub-header-search bc-footer flex-grow">
                                <input type="text" id="search-input" placeholder="제목, 내용, 태그 검색">
                                <img src="../../static/images/svg/search.svg" alt="" class="input-icon search" id="search-button" />
                            </div>
                            <a class="bc-activate white" href="community_write?boardId=1"><img src="../../static/images/svg/pen.svg" alt="">글작성</a>
                        </div>
                        <div class="mainLayer">
                            <div class="post-list">
                                <div class="sorting grey-5 flex-row th flex-c">
                                    <div class="sort-btn white active" id="sort-latest">최신글</div>
                                    <div class="sort-btn" id="sort-popular">인기글</div>
                                    <div class="sort-btn" id="sort-most-comments">댓글 많은 글</div>
                                </div>
                                <div class="posts" id="posts-container"></div>
                                <div class="pagination flex-row flex-c-c" id="pagination-container"></div>
                            </div>
                        </div>
                        <div id="footer" class="bc-footer" th:insert="~{include/footer}"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>

</html>
