<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/community_vedios.js"></script>
    <link rel="stylesheet" href="../../static/css/page/community/videos.css"/>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100 ">
            <!--        <div id="header" class="header flex-row bc-header"></div>-->
            <Section class="flex-row">
                <!--            <div id="nav"></div>-->
                <div class="wrap bc-footer ">
                    <div class="content">
                        <div class="mainContent bc-main">
                            <div class="sub-header flex-row flex-c white opacity60 px15">
                                <div class="list"><a href="community_free">자유</a></div>
                                <div class="list"><a href="community_photo">포토</a></div>
                                <!--                            <div class="list "><a href="#">유머</a></div>-->
                                <div class="list active"><a href="community_videos">동영상</a></div>
                                <!--                            <div class="list"><a href="#">노하우</a></div>-->
                                <!--                            <div class="list"><a href="#">신고게시판</a></div>-->
                            </div>
                            <div class="sub-header flex-row flex-c">
                                <div class="sub-header-search bc-footer flex-grow">
                                    <input type="text" placeholder="제목, 내용, 태그 검색">
                                    <img src="../../static/images/svg/search.svg" alt="" class="input-icon search" />
                                </div>
                                <button class="bc-activate white write_btn"><img src="../../static/images/svg/pen.svg" alt="">글작성</button>
                            </div>
                            <div class="mainLayer text-center">
                                <a href="#">
                                    <div class="video-container">
                                        <img class="img" src="../../static/images/photo/videos1.jpg" alt="Video Thumbnail">
                                        <div class="video-details">
                                            <h3>강승부 황당할 정도로 쉬워집니다.</h3>
                                            <p><img class="mini" src="../../static/images/svg/minister.svg" alt=""> &nbsp 전목사</p>
                                            <p class="meta">2024.3.13 8:23 &nbsp &nbsp <img src="../../static/images/svg/input-icon-eye.svg" alt="">2564 &nbsp &nbsp <img src="../../static/images/svg/hearts.svg" alt="">44</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="video-container">
                                        <img class="img" src="../../static/images/photo/videos2.jpg" alt="Video Thumbnail">
                                        <div class="video-details">
                                            <h3>바카라 밸런스 이거 모르면 파산합니다.</h3>
                                            <p><img class="mini" src="../../static/images/svg/minister.svg" alt=""> &nbsp 전목사</p>
                                            <p class="meta">2024.3.13 8:23 &nbsp &nbsp <img src="../../static/images/svg/input-icon-eye.svg" alt="">2564 &nbsp &nbsp <img src="../../static/images/svg/hearts.svg" alt="">44</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="video-container">
                                        <img class="img" src="../../static/images/photo/videos3.jpg" alt="Video Thumbnail">
                                        <div class="video-details">
                                            <h3>유튜브 '바카라' 불법도박 높으로 +12</h3>
                                            <p><img class="mini" src="../../static/images/svg/minister.svg" alt=""> &nbsp 전목사</p>
                                            <p class="meta">2024.3.13 8:23 &nbsp &nbsp <img src="../../static/images/svg/input-icon-eye.svg" alt="">2564 &nbsp &nbsp <img src="../../static/images/svg/hearts.svg" alt="">44</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="video-container">
                                        <img class="img" src="../../static/images/photo/videos4.jpg" alt="Video Thumbnail">
                                        <div class="video-details">
                                            <h3>하루수익 50장 바카라 공략집</h3>
                                            <p><img class="mini" src="../../static/images/svg/minister.svg" alt=""> &nbsp 전목사</p>
                                            <p class="meta">2024.3.13 8:23 &nbsp &nbsp <img src="../../static/images/svg/input-icon-eye.svg" alt="">2564 &nbsp &nbsp <img src="../../static/images/svg/hearts.svg" alt="">44</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="video-container">
                                        <img class="img" src="../../static/images/photo/videos5.jpg" alt="Video Thumbnail">
                                        <div class="video-details">
                                            <h3>온라인 바카라에서 승률 좋은 배팅법!</h3>
                                            <p><img class="mini" src="../../static/images/svg/minister.svg" alt=""> &nbsp 전목사</p>
                                            <p class="meta">2024.3.13 8:23 &nbsp &nbsp <img src="../../static/images/svg/input-icon-eye.svg" alt="">2564 &nbsp &nbsp <img src="../../static/images/svg/hearts.svg" alt="">44</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="video-container">
                                        <img class="img" src="../../static/images/photo/videos6.jpg" alt="Video Thumbnail">
                                        <div class="video-details">
                                            <h3>자x 하고 싶어요...음주배팅 위험성</h3>
                                            <p><img class="mini" src="../../static/images/svg/minister.svg" alt=""> &nbsp 전목사</p>
                                            <p class="meta">2024.3.13 8:23 &nbsp &nbsp <img src="../../static/images/svg/input-icon-eye.svg" alt="">2564 &nbsp &nbsp <img src="../../static/images/svg/hearts.svg" alt="">44</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="pagination flex-row flex-c-c" id="pagination-container"></div>
                            <tfoot class="h100px">
                            <tr>
                                <td colspan='8' class="text-cneter">
                                    <div class="pagination flex-row flex-c-c">
                                        <div class="page flex-c-c bc-activate">1</div>
                                        <div class="page flex-c-c">2</div>
                                        <div class="page flex-c-c">3</div>
                                        <div class="page flex-c-c">4</div>
                                        <div class="page flex-c-c">5</div>
                                        <div class="page flex-c-c">6</div>
                                        <div class="page flex-c-c">7</div>
                                        <div class="page flex-c-c">8</div>
                                        <div class="page flex-c-c">9</div>
                                        <div class="page flex-c-c">10</div>
                                        <button class="next-btn page flex-c-c">
                                            <img src="../../static/images/svg/next.svg" alt="">
                                        </button>
                                        <button class="next-btn page flex-c-c">
                                            <img src="../../static/images/svg/next-two.svg" alt="">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </div>
                        <div id="footer" class=" bc-footer" th:insert="include/footer">
                        </div>
                    </div>
            </section>
        </div>
    </div>
</body>
</html>