<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/community_photo.js"></script>
    <link id="community_photo" rel="stylesheet" href="../../static/css/page/community/community_photo.css"/>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">
            <Section class="flex-row">
                <div class="wrap bc-footer ">
                    <div class="content">
                        <div class="mainContent bc-main">
                            <div class="sub-header flex-row flex-c white opacity60 px15">
                                <div class="list"><a href="community_free">자유</a></div>
                                <div class="list active"><a href="community_photo">포토</a></div>
                                <div class="list"><a href="community_video">동영상</a></div>
                            </div>
                            <div class="sub-header flex-row flex-c">
                                <div class="sub-header-search bc-footer flex-grow">
                                    <input type="text" id="comm-photo-search-input" placeholder="제목, 내용, 태그 검색">
                                    <img src="../../static/images/svg/search.svg" alt="" class="input-icon search" id="comm-photo-search-button"/>
                                </div>
                                <a class="bc-activate white" href="community_write?boardId=2"><img src="../../static/images/svg/pen.svg" alt="">글작성</a>
                            </div>
                            <div class="mainLayer text-center"></div>
                            <div class="pagination flex-row flex-c-c" id="comm-photo-pagination-container"></div>
                        </div>
                        <div id="footer" class=" bc-footer" th:insert="~{include/footer}">
                    </div>
                </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>