<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/home.js"></script>
    <link id="home" rel="stylesheet" href="../../static/css/page/home.css"/>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">

            <Section class="flex-row">
    <!--            <div id="nav"></div>-->
                <div class="wrap bc-footer">
                    <div class="content">
                        <div class="mainContent">
                                <div class="sub-header flex-row flex-c white">
                                    <div class="list active"><a href="home">바카라</a></div>
                                    <div class="list"><a href="#">식보</a></div>
                                    <div class="list"><a href="#">최고의 게임</a></div>
                                    <div class="list"><a href="#">룰렛</a></div>
                                    <div class="list"><a href="#">게임 쇼</a></div>
                                    <div class="list"><a href="#">즐겨찾기</a></div>
                                </div>
                                <div class="header">
                                    <div class="options grey-4  flex-row  flex-c-c">
<!--                                        <div class="icon bdr">-->
<!--                                            <img src="../../static/images/svg/play.svg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="icon bdr m-r-50">-->
<!--                                            <img src="../../static/images/svg/pause.svg" alt="">-->
<!--                                        </div>-->
                                        <div class="icon">
                                            <img src="../../static/images/svg/return.svg" alt="">
                                        </div>
                                        <div class="item-wrap flex-row  flex-c">
                                            <div class="bg-game-chips bg-game-chips-1"></div>
                                            <div class="bg-game-chips bg-game-chips-2"></div>
                                            <div class="bg-game-chips bg-game-chips-3"></div>
                                            <div class="bg-game-chips bg-game-chips-4"></div>
                                            <div class="bg-game-chips bg-game-chips-5"></div>
                                            <div class="bg-game-chips bg-game-chips-6"></div>
                                        </div>
                                        <div class="icon m-r-70">
                                            <div class="bg-icon-item-4"></div>
                                        </div>
<!--                                        <div class="icon bdr">-->
<!--                                            패턴 등록-->
<!--                                        </div>-->
<!--                                        <div class="icon bdr">-->
<!--                                            패턴 테이블-->
<!--                                        </div>-->
                                    </div>
                                    <div class="bg"></div>
                                </div>
                                <div class="mainLayer text-center">
                                    <div class="gameLayer">
                                        <div class="gameLayout white">
                                            <div class="top flex-row flex-c">
                                                <div class="title">코리아 스피드 바카라 A&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                                <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">0</div>
                                            </div>
                                            <div class="middle flex-row flex-c-c">
                                                <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                                <div class="play-btn border-blue bg-b-b right-radius position-r flex-c player">
                                                    <div class="score position-a left px24">0</div>
                                                    <div class="card-wrap flex-row-reverse"></div>
                                                </div>
                                                <div class="play-btn border-green bg-g-b color-green">타이</div>
                                                <div class="play-btn border-red bg-r-b left-radius position-r flex-c banker">
                                                    <div class="score position-a right px24">0</div>
                                                    <div class="card-wrap flex-row flex-c"></div>
                                                </div>
                                                <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                            </div>
                                            <div class="bottom">
                                                <div class="top flex-row px14">
                                                    <div class="gameCount"># 0</div>
                                                    <div class="pWin">
                                                        <div class="i-circle bc-blue">P </div><span> 0</span>
                                                    </div>
                                                    <div class="bWin">
                                                        <div class="i-circle bc-red">B </div><span> 0</span>
                                                    </div>
                                                    <div class="noWin">
                                                        <div class="i-circle bc-green">T </div><span> 0</span>
                                                    </div>
                                                    <div class="">
                                                        <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                        <span>0</span>
                                                    </div>
                                                    <div class="">
                                                        <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                        <span>0</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="footer" class=" bc-footer" th:insert="~{include/footer}">
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
<script>
$(function() {

    $('select').selectric();

    function getCardType(cardNum) {
        const shape = cardNum.charAt(1); // 두 번째 문자가 카드 모양

        switch (shape) {
            case 'H':
                return 'heart';
            case 'D':
                return 'diamond';
            case 'C':
                return 'club';
            case 'S':
                return 'spade';
            default:
                return 'default';
        }
    }

    function updateCardDisplay(gameTypeNum) {
        fetch(`/game/latest-card-info/${gameTypeNum}`)
            .then(response => response.json())
            .then(data => {
                // 기존 카드 영역을 지우고 새로 업데이트
                const playerCards = document.querySelector('.player .card-wrap');
                const bankerCards = document.querySelector('.banker .card-wrap');
                playerCards.innerHTML = '';
                bankerCards.innerHTML = '';

                // 플레이어와 뱅커의 카드들을 분리
                const playerCardData = data.filter(card => card.cardPlace === 'player');
                const bankerCardData = data.filter(card => card.cardPlace === 'banker');

                // 플레이어 카드 업데이트 (카드 개수에 맞게)
                playerCardData.slice(0, 3).forEach(card => {
                    const cardElement = document.createElement('div');

                    // 카드의 첫 번째 문자가 J, Q, K일 때 값을 변경
                    let cardValue = card.cardNum.charAt(0);

                    if (cardValue === 'J') cardValue = 11;
                    else if (cardValue === 'Q') cardValue = 12;
                    else if (cardValue === 'K') cardValue = 13;

                    cardElement.className = `bg-card bg-card-${getCardType(card.cardNum)}-item-${cardValue}`;
                    playerCards.appendChild(cardElement);
                });

                // 뱅커 카드 업데이트 (카드 개수에 맞게)
                bankerCardData.slice(0, 3).forEach(card => {
                    const cardElement = document.createElement('div');

                    // 카드의 첫 번째 문자가 J, Q, K일 때 값을 변경
                    let cardValue = card.cardNum.charAt(0);
                    if (cardValue === 'J') cardValue = 11;
                    else if (cardValue === 'Q') cardValue = 12;
                    else if (cardValue === 'K') cardValue = 13;

                    cardElement.className = `bg-card bg-card-${getCardType(card.cardNum)}-item-${cardValue}`;
                    bankerCards.appendChild(cardElement);
                });

            })
            .catch(error => console.error('Error:', error));
    }

    // 1초마다 최신 game_id의 카드 정보 업데이트
    setInterval(() => updateCardDisplay('441'), 1000);

    function updateCardResultDisplay(gameTypeNum) {

        fetch(`/game/game-result/${gameTypeNum}`)
            .then(response => response.json())
            .then(data => {
                refreshGameResults(data);
            })
            .catch(error => console.error('Error:', error));
    }

    setInterval(() => updateCardResultDisplay('441'), 1000);

    function createTable(tableElement, rows, cols) {
        // 테이블의 기존 자식 요소를 모두 삭제
        while (tableElement.firstChild) {
            tableElement.removeChild(tableElement.firstChild);
        }

        // 새로운 테이블 생성
        for (let i = 0; i < rows; i++) {
            const tr = document.createElement('tr');
            for (let j = 0; j < cols; j++) {
                const td = document.createElement('td');
                const dot = document.createElement('div');
                dot.classList.add('dot');
                td.appendChild(dot);
                tr.appendChild(td);
            }
            tableElement.appendChild(tr);
        }
    }

    function addCircle(tableElement, row, col, color) {
        const cell = tableElement.rows[row].cells[col];
        const circle = document.createElement('div');
        circle.classList.add('circle', color);
        cell.innerHTML = '';
        cell.appendChild(circle);
    }

    function refreshGameResults(gameResults) {
        const tables = document.querySelectorAll('.gameTable');
        let gameCount = 0;
        let redCount = 0;
        let blueCount = 0;
        let tieCount = 0;

        const playerScore = document.querySelector('.player .score');
        const bankerScore = document.querySelector('.banker .score');

        playerScore.innerHTML = gameResults[gameResults.length-1].playerScore;
        bankerScore.innerHTML = gameResults[gameResults.length-1].bankerScore;

        tables.forEach((table, index) => {
            createTable(table, 6, 30);  // 6x30 테이블 생성

            // 열 별로 마지막으로 추가된 색상과 행을 추적
            let currentCol = 0;  // 현재 열을 추적
            let currentRow = 0;  // 현재 행을 추적
            let lastColor = null;  // 마지막으로 추가된 색

            // 게임 결과에 따라 원을 추가
            gameResults.forEach((result, i) => {
                let color;
                if (result.winner === 'player') {
                    color = 'blue';  // player가 승리하면 파란색
                    blueCount++;
                } else if (result.winner === 'banker') {
                    color = 'red';   // banker가 승리하면 빨간색
                    redCount++;
                } else if (result.winner === 'tie') {
                    color = 'green'; // 무승부면 초록색
                    tieCount++;
                }
                gameCount++;
                // 현재 결과 색상과 이전 색상이 같으면 같은 열에 추가, 다르면 새로운 열로 이동
                if (color === lastColor) {
                    currentRow++;  // 같은 색이면 행 증가
                    if (currentRow >= 6) {  // 행이 6을 넘으면 새로운 열로 이동
                        currentRow = 0;
                        currentCol++;
                    }
                } else {
                    currentRow = 0;  // 다른 색이면 행을 초기화
                    currentCol++;  // 열을 증가
                    if (currentCol >= 30) {  // 열이 30을 넘으면 열을 다시 0으로
                        currentCol = 0;
                    }
                }

                // 테이블에 각 게임 결과 추가 (행: currentRow, 열: currentCol)
                addCircle(table, currentRow, currentCol, color);

                // 마지막 색상 갱신
                lastColor = color;
            });
        });
        document.querySelector('.pWin span').textContent = ' ' + blueCount;  // 파란색 총 갯수
        document.querySelector('.bWin span').textContent = ' ' + redCount;   // 빨간색 총 갯수
        document.querySelector('.noWin span').textContent = ' ' + tieCount;   // 초록색 총 갯수
        document.querySelector('.gameCount').textContent = '# ' + gameCount;   // 초록색 총 갯수
    }
});
</script>
</body>

</html>