<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/home.js"></script>
    <link id="home" rel="stylesheet" href="../../static/css/page/home.css"/>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">

            <Section class="flex-row">
    <!--            <div id="nav"></div>-->
                <div class="wrap bc-footer">
                    <div class="content">
                        <div class="mainContent">
                                <div class="sub-header flex-row flex-c white">
                                    <div class="list active"><a href="home">바카라</a></div>
                                    <div class="list"><a href="#">식보</a></div>
                                    <div class="list"><a href="#">최고의 게임</a></div>
                                    <div class="list"><a href="#">룰렛</a></div>
                                    <div class="list"><a href="#">게임 쇼</a></div>
                                    <div class="list"><a href="#">즐겨찾기</a></div>
                                </div>
                                <div class="header">
                                    <div class="options grey-4  flex-row  flex-c-c">
<!--                                        <div class="icon bdr">-->
<!--                                            <img src="../../static/images/svg/play.svg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="icon bdr m-r-50">-->
<!--                                            <img src="../../static/images/svg/pause.svg" alt="">-->
<!--                                        </div>-->
                                        <div class="icon">
                                            <img src="../../static/images/svg/return.svg" alt="">
                                        </div>
                                        <div class="item-wrap flex-row  flex-c">
                                            <div class="bg-game-chips bg-game-chips-1"></div>
                                            <div class="bg-game-chips bg-game-chips-2"></div>
                                            <div class="bg-game-chips bg-game-chips-3"></div>
                                            <div class="bg-game-chips bg-game-chips-4"></div>
                                            <div class="bg-game-chips bg-game-chips-5"></div>
                                            <div class="bg-game-chips bg-game-chips-6"></div>
                                        </div>
                                        <div class="icon m-r-70">
                                            <div class="bg-icon-item-4"></div>
                                        </div>
<!--                                        <div class="icon bdr">-->
<!--                                            패턴 등록-->
<!--                                        </div>-->
<!--                                        <div class="icon bdr">-->
<!--                                            패턴 테이블-->
<!--                                        </div>-->
                                    </div>
                                    <div class="bg"></div>
                                </div>
                                <div class="mainLayer text-center">
                                    <div class="gameLayer">
                                        <div class="gameLayout white">
                                            <div class="top flex-row flex-c">
                                                <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                                <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                            </div>
                                            <div class="middle flex-row flex-c-c">
                                                <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                                <div class="play-btn border-blue bg-b-b right-radius position-r flex-c player">
                                                    <div class="score position-a left px24">4</div>
                                                    <div class="card-wrap flex-row-reverse">
                                                        <div class="bg-card bg-card-diamond-item-1"></div>
                                                        <div class="bg-card bg-card-diamond-item-2"></div>
                                                        <div class="bg-card bg-card-diamond-item-3 card-rotate-r"></div>
                                                    </div>
                                                </div>
                                                <div class="play-btn border-green bg-g-b color-green">타이</div>
                                                <div class="play-btn border-red bg-r-b left-radius position-r flex-c">
                                                    <div class="score position-a right px24">6</div>
                                                    <div class="card-wrap flex-row flex-c">
                                                        <div class="bg-card bg-card-diamond-item-1"></div>
                                                        <div class="bg-card bg-card-diamond-item-2"></div>
                                                        <div class="bg-card bg-card-diamond-item-3 card-rotate-l"></div>
                                                    </div>
                                                </div>
                                                <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                            </div>
                                            <div class="bottom">
                                                <div class="top flex-row px14">
                                                    <div class="gameCount"># 53</div>
                                                    <div class="pWin">
                                                        <div class="i-circle bc-blue">P </div><span> 23</span>
                                                    </div>
                                                    <div class="bWin">
                                                        <div class="i-circle bc-red">B </div><span> 29</span>
                                                    </div>
                                                    <div class="noWin">
                                                        <div class="i-circle bc-green">T </div><span> 1</span>
                                                    </div>
                                                    <div class="">
                                                        <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                        <span>5</span>
                                                    </div>
                                                    <div class="">
                                                        <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                        <span>4</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="footer" class=" bc-footer" th:insert="~{include/footer}">
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
<!--        const socket = new SockJS('/game');  // SockJS를 사용하여 연결-->
<!--        const stompClient = Stomp.over(socket);-->

<!--        stompClient.connect({}, function(frame) {-->
<!--            console.log('Game Connected: ' + frame);-->

<!--            // /topic/cards 구독-->
<!--            stompClient.subscribe('/topic/cards', function(messageOutput) {-->
<!--                const cardMessage = JSON.parse(messageOutput.body);-->
<!--                updateCardUI(cardMessage);-->
<!--            });-->

<!--            // /topic/gameResult 구독-->
<!--            stompClient.subscribe('/topic/gameResult', function(gameResultOutput) {-->
<!--                const gameResult = JSON.parse(gameResultOutput.body);-->
<!--                showGameResult(gameResult);-->
<!--            });-->
<!--        });-->

<!--        stompClient.connect({}, function(frame) {-->
<!--            console.log('Connected: ' + frame);-->
<!--            // 필요한 추가 구독이 있다면 추가-->
<!--        });-->

<!--        function updateCardUI(cardMessage) {-->
<!--            const layer = cardMessage.layer; // 카드 메시지에 포함된 레이어 정보-->
<!--            if (!layer) {-->
<!--                console.error('카드 메시지에 레이어 정보가 없습니다.');-->
<!--                return;-->
<!--            }-->

<!--            // 레이어별 카드 요소 업데이트-->
<!--            const prefix = `#${layer}-`;-->
<!--            if (cardMessage.playerCard1) document.querySelector(`${prefix}playerCard1`).className = 'bg-card ' + cardMessage.playerCard1;-->
<!--            if (cardMessage.playerCard2) document.querySelector(`${prefix}playerCard2`).className = 'bg-card ' + cardMessage.playerCard2;-->
<!--            if (cardMessage.playerCard3) document.querySelector(`${prefix}playerCard3`).className = 'bg-card ' + cardMessage.playerCard3;-->
<!--            if (cardMessage.bankerCard1) document.querySelector(`${prefix}bankerCard1`).className = 'bg-card ' + cardMessage.bankerCard1;-->
<!--            if (cardMessage.bankerCard2) document.querySelector(`${prefix}bankerCard2`).className = 'bg-card ' + cardMessage.bankerCard2;-->
<!--            if (cardMessage.bankerCard3) document.querySelector(`${prefix}bankerCard3`).className = 'bg-card ' + cardMessage.bankerCard3;-->
<!--        }-->

<!--        function showGameResult(gameResult) {-->
<!--            // 게임 결과를 화면에 표시하는 함수-->
<!--            console.log('Game Result:', gameResult);-->
<!--        }-->

        var gameSocket = new SockJS('/game'); // WebSocket 엔드포인트
        var stompGameClient = Stomp.over(gameSocket);
        // 최근 메시지 로드
        function loadGames() {
                stompGameClient.connect({}, function (frame) {
                        stompGameClient.subscribe('/topic/game/441', (message) => {
                                const gameMessage = JSON.parse(message.body)
                                console.log(gameMessage)
                        });
                });
        }
        loadGames();
    });
</script>
</body>

</html>