<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/home.js"></script>
    <link id="home" rel="stylesheet" href="../../static/css/page/home.css"/>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">

            <Section class="flex-row">
    <!--            <div id="nav"></div>-->
                <div class="wrap bc-footer">
                    <div class="content">
                        <div class="mainContent">
                            <div class="sub-header flex-row flex-c white opacity60 px15">
                                <div class="list active"><a href="home">바카라</a></div>
                                <div class="list"><a href="#">식보</a></div>
                                <div class="list"><a href="#">최고의 게임</a></div>
                                <div class="list"><a href="#">룰렛</a></div>
                                <div class="list"><a href="#">게임 쇼</a></div>
                                <div class="list"><a href="#">즐겨찾기</a></div>
                            </div>
                            <div class="header">
                                <div class="options grey-4  flex-row  flex-c-c">
                                    <div class="icon bdr">
                                        <img src="../../static/images/svg/play.svg" alt="">
                                    </div>
                                    <div class="icon bdr m-r-50">
                                        <img src="../../static/images/svg/pause.svg" alt="">
                                    </div>
                                    <div class="icon bdr">
                                        <img src="../../static/images/svg/return.svg" alt="">
                                    </div>
                                    <div class="item-wrap flex-row  flex-c">
                                        <div class="bg-game-chips bg-game-chips-1"></div>
                                        <div class="bg-game-chips bg-game-chips-2"></div>
                                        <div class="bg-game-chips bg-game-chips-3"></div>
                                        <div class="bg-game-chips bg-game-chips-4"></div>
                                        <div class="bg-game-chips bg-game-chips-5"></div>
                                        <div class="bg-game-chips bg-game-chips-6"></div>
                                    </div>
                                    <div class="icon m-r-70">
                                        <div class="bg-icon-item-4"></div>
                                    </div>
                                    <div class="icon bdr">
                                        패턴 등록
                                    </div>
                                    <div class="icon bdr">
                                        패턴 테이블
                                    </div>
                                </div>
                                <div class="bg"></div>
                            </div>
                            <div class="mainLayer text-center">
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius position-r flex-c player">
                                                <div class="score position-a left px24">4</div>
                                                <div class="card-wrap flex-row-reverse">
                                                    <div class="bg-card bg-card-diamond-item-1"></div>
                                                    <div class="bg-card bg-card-diamond-item-2"></div>
                                                    <div class="bg-card bg-card-diamond-item-3 card-rotate-r"></div>
                                                </div>
                                            </div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius position-r flex-c">
                                                <div class="score position-a right px24">6</div>
                                                <div class="card-wrap flex-row flex-c">
                                                    <div class="bg-card bg-card-diamond-item-1"></div>
                                                    <div class="bg-card bg-card-diamond-item-2"></div>
                                                    <div class="bg-card bg-card-diamond-item-3 card-rotate-l"></div>
                                                </div>
                                            </div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius"></div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius"></div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius"></div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius"></div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius"></div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius"></div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius"></div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius"></div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius"></div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius"></div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius"></div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius"></div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius"></div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius"></div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="gameLayer">
                                    <div class="gameLayout white">
                                        <div class="top flex-row flex-c">
                                            <div class="title">코리아 스피드 바카라&nbsp<img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                            <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                        </div>
                                        <div class="middle flex-row flex-c-c">
                                            <div class="play-btn border-blue bg-b-b left-radius color-blue">플레이어페어</div>
                                            <div class="play-btn border-blue bg-b-b right-radius"></div>
                                            <div class="play-btn border-green bg-g-b color-green">타이</div>
                                            <div class="play-btn border-red bg-r-b left-radius"></div>
                                            <div class="play-btn border-red bg-r-b right-radius color-red">뱅커페어</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="top flex-row px14">
                                                <div class="gameCount"># 53</div>
                                                <div class="pWin">
                                                    <div class="i-circle bc-blue">P </div><span> 23</span>
                                                </div>
                                                <div class="bWin">
                                                    <div class="i-circle bc-red">B </div><span> 29</span>
                                                </div>
                                                <div class="noWin">
                                                    <div class="i-circle bc-green">T </div><span> 1</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">P</span></div>
                                                    <span>5</span>
                                                </div>
                                                <div class="">
                                                    <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="gameTable"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="footer" class=" bc-footer" th:insert="~{include/footer}">
                    </div>
                </div>
            </section>
        </div>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        function createTable(tableElement, rows, cols) {
            for (let i = 0; i < rows; i++) {
                const tr = document.createElement('tr');
                for (let j = 0; j < cols; j++) {
                    const td = document.createElement('td');
                    const dot = document.createElement('div');
                    dot.classList.add('dot');
                    td.appendChild(dot);
                    tr.appendChild(td);
                }
                tableElement.appendChild(tr);
            }
        }

        function addCircle(tableElement, row, col, color) {
            const cell = tableElement.rows[row].cells[col];
            const circle = document.createElement('div');
            circle.classList.add('circle', color);
            cell.innerHTML = '';  // Clear the dot
            cell.appendChild(circle);
        }

        // Select all tables with the class 'gameTable'
        const tables = document.querySelectorAll('.gameTable');

        // Create tables and add circles
        tables.forEach((table, index) => {
            createTable(table, 6, 30);

            if (index === 0) addCircle(table, 0, 0, 'red');
            if (index === 0) addCircle(table, 0, 1, 'blue');
            if (index === 0) addCircle(table, 0, 2, 'red');
            if (index === 0) addCircle(table, 0, 3, 'blue');
            if (index === 0) addCircle(table, 0, 4, 'red');
            if (index === 0) addCircle(table, 0, 5, 'blue');
            if (index === 0) addCircle(table, 0, 6, 'red');
            if (index === 0) addCircle(table, 1, 6, 'red');
            if (index === 0) addCircle(table, 2, 6, 'red');
            if (index === 0) addCircle(table, 3, 6, 'red');
            if (index === 0) addCircle(table, 4, 6, 'red');
            if (index === 0) addCircle(table, 5, 6, 'red');
            if (index === 0) addCircle(table, 5, 7, 'red');
            if (index === 1) addCircle(table, 0, 0, 'red');
            if (index === 1) addCircle(table, 0, 1, 'blue');
            if (index === 1) addCircle(table, 0, 2, 'red');
            if (index === 1) addCircle(table, 0, 3, 'blue');
            if (index === 1) addCircle(table, 0, 4, 'red');
            if (index === 1) addCircle(table, 1, 4, 'red');
            if (index === 1) addCircle(table, 2, 4, 'red');
            if (index === 1) addCircle(table, 3, 4, 'red');
            if (index === 1) addCircle(table, 4, 4, 'red');
            if (index === 1) addCircle(table, 5, 4, 'red');
            if (index === 1) addCircle(table, 0, 5, 'blue');
            if (index === 1) addCircle(table, 0, 6, 'red');
            if (index === 1) addCircle(table, 0, 7, 'blue');
            if (index === 2) addCircle(table, 0, 0, 'red');
            if (index === 2) addCircle(table, 1, 0, 'red');
            if (index === 2) addCircle(table, 0, 1, 'blue');
            if (index === 2) addCircle(table, 1, 1, 'red');
            if (index === 2) addCircle(table, 0, 2, 'red');
            if (index === 2) addCircle(table, 1, 2, 'red');
            if (index === 2) addCircle(table, 0, 3, 'blue');
            if (index === 2) addCircle(table, 0, 4, 'red');
            if (index === 2) addCircle(table, 0, 5, 'blue');
            if (index === 2) addCircle(table, 0, 6, 'red');
            if (index === 2) addCircle(table, 1, 6, 'red');
            if (index === 2) addCircle(table, 2, 6, 'red');
            if (index === 2) addCircle(table, 3, 6, 'red');
            if (index === 2) addCircle(table, 4, 6, 'red');
            if (index === 3) addCircle(table, 0, 0, 'red');
            if (index === 3) addCircle(table, 0, 1, 'blue');
            if (index === 3) addCircle(table, 0, 2, 'red');
            if (index === 3) addCircle(table, 0, 3, 'blue');
            if (index === 3) addCircle(table, 0, 4, 'red');
            if (index === 3) addCircle(table, 0, 5, 'blue');
            if (index === 3) addCircle(table, 0, 6, 'red');
            if (index === 3) addCircle(table, 1, 6, 'red');
            if (index === 3) addCircle(table, 2, 6, 'red');
            if (index === 3) addCircle(table, 3, 6, 'red');
            if (index === 3) addCircle(table, 4, 6, 'red');
            if (index === 3) addCircle(table, 5, 6, 'red');
            if (index === 3) addCircle(table, 5, 7, 'red');
            if (index === 4) addCircle(table, 0, 0, 'red');
            if (index === 4) addCircle(table, 0, 1, 'blue');
            if (index === 4) addCircle(table, 0, 2, 'red');
            if (index === 4) addCircle(table, 0, 3, 'blue');
            if (index === 4) addCircle(table, 0, 4, 'red');
            if (index === 4) addCircle(table, 1, 4, 'red');
            if (index === 4) addCircle(table, 2, 4, 'red');
            if (index === 4) addCircle(table, 3, 4, 'red');
            if (index === 4) addCircle(table, 4, 4, 'red');
            if (index === 4) addCircle(table, 5, 4, 'red');
            if (index === 4) addCircle(table, 0, 5, 'blue');
            if (index === 4) addCircle(table, 0, 6, 'red');
            if (index === 4) addCircle(table, 0, 7, 'blue');
            if (index === 5) addCircle(table, 0, 0, 'red');
            if (index === 5) addCircle(table, 1, 0, 'red');
            if (index === 5) addCircle(table, 0, 1, 'blue');
            if (index === 5) addCircle(table, 1, 1, 'red');
            if (index === 5) addCircle(table, 0, 2, 'red');
            if (index === 5) addCircle(table, 1, 2, 'red');
            if (index === 5) addCircle(table, 0, 3, 'blue');
            if (index === 5) addCircle(table, 0, 4, 'red');
            if (index === 5) addCircle(table, 0, 5, 'blue');
            if (index === 5) addCircle(table, 0, 6, 'red');
            if (index === 5) addCircle(table, 1, 6, 'red');
            if (index === 5) addCircle(table, 2, 6, 'red');
            if (index === 5) addCircle(table, 3, 6, 'red');
            if (index === 5) addCircle(table, 4, 6, 'red');
            if (index === 6) addCircle(table, 0, 0, 'red');
            if (index === 6) addCircle(table, 0, 1, 'blue');
            if (index === 6) addCircle(table, 0, 2, 'red');
            if (index === 6) addCircle(table, 0, 3, 'blue');
            if (index === 6) addCircle(table, 0, 4, 'red');
            if (index === 6) addCircle(table, 0, 5, 'blue');
            if (index === 6) addCircle(table, 0, 6, 'red');
            if (index === 6) addCircle(table, 1, 6, 'red');
            if (index === 6) addCircle(table, 2, 6, 'red');
            if (index === 6) addCircle(table, 3, 6, 'red');
            if (index === 6) addCircle(table, 4, 6, 'red');
            if (index === 6) addCircle(table, 5, 6, 'red');
            if (index === 6) addCircle(table, 5, 7, 'red');
            if (index === 7) addCircle(table, 0, 0, 'red');
            if (index === 7) addCircle(table, 0, 1, 'blue');
            if (index === 7) addCircle(table, 0, 2, 'red');
            if (index === 7) addCircle(table, 0, 3, 'blue');
            if (index === 7) addCircle(table, 0, 4, 'red');
            if (index === 7) addCircle(table, 1, 4, 'red');
            if (index === 7) addCircle(table, 2, 4, 'red');
            if (index === 7) addCircle(table, 3, 4, 'red');
            if (index === 7) addCircle(table, 4, 4, 'red');
            if (index === 7) addCircle(table, 5, 4, 'red');
            if (index === 7) addCircle(table, 0, 5, 'blue');
            if (index === 7) addCircle(table, 0, 6, 'red');
            if (index === 7) addCircle(table, 0, 7, 'blue');
            if (index === 8) addCircle(table, 0, 0, 'red');
            if (index === 8) addCircle(table, 1, 0, 'red');
            if (index === 8) addCircle(table, 0, 1, 'blue');
            if (index === 8) addCircle(table, 1, 1, 'red');
            if (index === 8) addCircle(table, 0, 2, 'red');
            if (index === 8) addCircle(table, 1, 2, 'red');
            if (index === 8) addCircle(table, 0, 3, 'blue');
            if (index === 8) addCircle(table, 0, 4, 'red');
            if (index === 8) addCircle(table, 0, 5, 'blue');
            if (index === 8) addCircle(table, 0, 6, 'red');
            if (index === 8) addCircle(table, 1, 6, 'red');
            if (index === 8) addCircle(table, 2, 6, 'red');
            if (index === 8) addCircle(table, 3, 6, 'red');
            if (index === 8) addCircle(table, 4, 6, 'red');
        });
</script>
</body>

</html>