<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert2 라이브러리 추가 -->
    <script src="../../static/js/messenger_add_friend_wait.js"></script>
    <link id="messenger_add_friend_wait" rel="stylesheet" href="../../static/css/page/messenger/messenger_add_friend_wait.css">
</head>

<body>
<div id="content-area" class="flex-grow">
    <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">
        <section class="flex-row">
            <div class="wrap bc-footer">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white px15">
                            <div class="list"><a href="messenger_friend">친구</a></div>
                            <div class="list"><a href="messenger_message">메시지</a></div>
                            <div class="list"><a href="messenger_blocklists">차단 목록</a></div>
                            <div class="list active"><a href="messenger_add_friend_wait"><img src="../../static/images/svg/icon-add.svg" alt="#"> 친구 추가하기</a></div>
                        </div>

                        <div class="sub-header flex-row flex-c">
                            <div class="sub-header-search bc-footer flex-grow search">
                                <input id="receiverUsername" type="text" placeholder="닉네임을 입력하여 친구를 추가할 수 있어요.">
                                <button id="sendRequestButton" class="btn">친구 요청 보내기</button>
                            </div>
                        </div>

                        <div class="mainLayer">
                            <div id="userList" class="user-list-layer px15 white">
                                <!-- 친구 요청 목록이 동적으로 추가됩니다. -->
                            </div>
                        </div>
                    </div>

                    <div id="footer" class="bc-footer" th:insert="~{include/footer}"></div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>

</html>