<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/messenger_friend.js"></script>
    <link id="messenger_friend" rel="stylesheet" href="../../static/css/page/messenger/messenger_friend.css">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>
<body>
<div id="content-area" class="flex-grow">
    <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">

        <div class="mainContent bc-main">
            <div class="sub-header flex-row flex-c white px15">
                <div class="list active"><a href="messenger_friend">친구</a></div>
                <div class="list"><a href="messenger_message">메시지</a></div>
                <div class="list"><a href="messenger_blocklists">차단 목록</a></div>
                <div class="list"><a href="messenger_add_friend_wait"><img src="../../static/images/svg/icon-add.svg" alt="#">친구 추가하기</a></div>
            </div>
            <div class="sub-header flex-row flex-c">
                <div class="sub-header-search bc-footer flex-grow">
                    <input type="text" placeholder="닉네임 검색" id="search-input">
                    <img src="../../static/images/svg/search.svg" alt="" class="input-icon search" id="search-icon"/>
                </div>
            </div>
            <div class="mainLayer">
                <div id="user-list-layer" class="user-list-layer px15 white">
                    <!-- 친구 리스트가 동적으로 추가될 곳 -->
                </div>
                <div id="no-friends-message" class="no-posts">
                    아직 친구가 없습니다.
                </div>
                <div id="footer" class="bc-footer" th:insert="~{include/footer}">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
