<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/messenger_blocklists_null.js"></script>
    <link rel="stylesheet" href="../../static/css/page/messenger/blocklists.css">
</head>

<body>

    <div class="wrapper bc-black vh100 ">
<!--        <div id="header" class="header flex-row bc-header"></div>-->
        <Section class="flex-row">
<!--            <div id="nav" class="bc-aside g-12"></div>-->
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list"><a href="messenger_friend">친구</a></div>
                            <div class="list"><a href="messenger_message">메시지</a></div>
                            <div class="list active"><a href="messenger_blocklists">차단 목록</a></div>
                            <div class="list "><a href="messenger_add_friend">친구 추가하기</a></div>
                        </div>
                        <div class="sub-header flex-row flex-c">
                            <div class="sub-header-search bc-footer flex-grow">
                                <input type="text" placeholder="닉네임 검색">
                                <img src="../../static/images/svg/search.svg" alt=""
                                     class="input-icon search" />
                            </div>
                        </div>
                      
                        <div class="mainLayer h100">
                            <div class="content-wrap flex-c-c flex-column h100">
                                <!-- <div class="img-illust illust-4 m-b-20"></div> -->
                                <img src="../../static/images/svg/illustration-blocklists.svg" alt="">
                                <p class="gray px19">차단 친구가 없습니다.</p>
                            </div>
                        </div>
                    </div>

                    <div id="footer" class=" bc-footer" th:insert="include/footer">
                </div>

            </div>

        </section>
    </div>

</body>

</html>