<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/my_activitypoints.js"></script>
    <link id="my_activitypoints" rel="stylesheet" href="../../static/css/page/my/my_activitypoints.css"/>
</head>

<body>
    <div id="content-area" class="flex-grow">
        <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">

            <Section class="flex-row">
    <!--            <div id="nav" class="bc-aside g-12"></div>-->
                <div class="wrap bc-footer ">
                    <div class="content">
                        <div class="mainContent bc-main">
                            <div class="sub-header flex-row flex-c white opacity60 px15">
                                <div class="list"><a href="my_page">내정보</a></div>
                                <div class="list"><a href="my_item">아이템</a></div>
                                <div class="list"><a href="my_cash">캐시</a></div>
                                <div class="list"><a href="my_bettingpoints">배팅 포인트</a></div>
                                <div class="list active"><a href="my_activitypoints">활동 포인트</a></div>
                                <div class="list"><a href="my_goldchip">골드칩</a></div>
    <!--                            <div class="list"><a href="#">마이홈</a></div>-->
    <!--                            <div class="list"><a href="#">비빌번호 변경</a></div>-->
                            </div>
                            <div class="mainLayer white">
                                <div class="content-wrap flex-c-c flex-column p-10 mypage">
                                    <div class="etc flex-row">
                                        <div class="money-wrap g-6 jackpot">
                                             <div class="money flex-row flex-c">
                                                <div><img src="../../static/images/svg/activepoints.svg" alt=""> 보유 활동 포인트</div>
                                                <div>20644</div>
                                            </div>
                                            <br>
                                            <div class="money flex-row flex-c">
                                                <div><img src="../../static/images/svg/pen.svg" alt="">&nbsp 게시글</div>
                                                <div>101</div>
                                            </div>
                                            <div class="money flex-row flex-c">
                                                <div><img src="../../static/images/svg/nav-item-3.svg" alt="">&nbsp 댓글</div>
                                                <div>204</div>
                                            </div>
                                            <div class="money flex-row flex-c">
                                                <div><img src="../../static/images/svg/input-icon-eye.svg" alt="">&nbsp 조회수</div>
                                                <div>2000</div>
                                            </div>
                                            <div class="money flex-row flex-c">
                                                <div><img src="../../static/images/svg/hearts.svg" alt="">&nbsp 추천</div>
                                                <div>45000</div>
                                            </div>
                                        </div>
                                        <div class="flex-row g-6 jackpot">
                                            <div class="text-wrap txt">
                                                <div class="title px22 m-b-18"><img style="margin-top: -5px" src=../../static/images/svg/activepoint.svg alt="">&nbsp활동 포인트</div>
                                                <ol>
                                                    <li class="px13 m-b-5">활동 포인트 200은 골드칩 1개로 전환이 가능합니다.</li>
                                                    <li class="px13 m-b-5">게시글, 댓글, 추천으로 얻은 포인트는 게시물이나 댓글 삭제 시 회수되며, 이를 골다 칩의 전환 목적으로 악용 시 모든 포인트와 골다 칩, 캐시 등이 몰수되며, 활동 정지를 당할 수 있습니다.</li>
                                                    <li class="px13 m-b-5">조회수에 의한 활동 포인트 지급은 전체 조회 수가 100씩 올라갈 때마다 지급됩니다.</li>
                                                </ol>
                                                <div class="flex-row flex-c">
                                                    <div><img src="../../static/images/svg/pen.svg" alt=""> 게시글<span>+5</span></div>
                                                    <div><img src="../../static/images/svg/nav-item-3.svg" alt=""> 댓글<span>+2</span></div>
                                                    <div><img src="../../static/images/svg/input-icon-eye.svg" alt=""> 조회수<span>+1</span></div>
                                                    <div><img src="../../static/images/svg/hearts.svg" alt=""> 추천<span>+2</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-radius">
                                        <table class="mypqge-table white">
                                            <thead>
                                                <tr class="text-center hd">
                                                    <th>분류</th>
                                                    <th>내용</th>
                                                    <th>활동 포인트</th>
                                                    <th>남은 포인트</th>
                                                    <th>일시</th>
                                                </tr>
                                            </thead>
                                            <tbody  class="text-left">
                                                <tr class="tr">
                                                    <td>게시글</td>
                                                    <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                    <td class="text-center">+5</td>
                                                    <td class="text-right">20,649</td>
                                                    <td  class="text-center">2024-05-21 23:23:09</td>
                                                </tr>
                                                <tr class="tr">
                                                    <td>댓글</td>
                                                    <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                    <td class="text-center">+5</td>
                                                    <td class="text-right">20,649</td>
                                                    <td  class="text-center">2024-05-21 23:23:09</td>
                                                </tr>
                                                <tr class="tr">
                                                    <td>조회수</td>
                                                    <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                    <td class="text-center">+5</td>
                                                    <td class="text-right">20,649</td>
                                                    <td  class="text-center">2024-05-21 23:23:09</td>
                                                </tr>
                                                <tr class="tr">
                                                    <td>추천</td>
                                                    <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                    <td class="text-center">+5</td>
                                                    <td class="text-right">20,649</td>
                                                    <td  class="text-center">2024-05-21 23:23:09</td>
                                                </tr>
                                                <tr class="tr">
                                                    <td>전환</td>
                                                    <td>골드칩 5개로 전환</td>
                                                    <td class="text-center">-1000</td>
                                                    <td class="text-right">20,649</td>
                                                    <td  class="text-center">2024-05-21 23:23:09</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <tfoot class="h100px">
                                <tr>
                                    <td colspan='8' class="text-cneter">
                                        <div class="pagination flex-row flex-c-c">
                                            <div class="page flex-c-c bc-activate">1</div>
                                            <div class="page flex-c-c">2</div>
                                            <div class="page flex-c-c">3</div>
                                            <div class="page flex-c-c">4</div>
                                            <div class="page flex-c-c">5</div>
                                            <div class="page flex-c-c">6</div>
                                            <div class="page flex-c-c">7</div>
                                            <div class="page flex-c-c">8</div>
                                            <div class="page flex-c-c">9</div>
                                            <div class="page flex-c-c">10</div>
                                            <button class="next-btn page flex-c-c">
                                                <img src="../../static/images/svg/next.svg" alt="">
                                            </button>
                                            <button class="next-btn page flex-c-c">
                                                <img src="../../static/images/svg/next-two.svg" alt="">
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </div>
                            <div id="footer" class=" bc-footer" th:insert="~{include/footer}"></div>
                        </div>
                        </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>