<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/item.js"></script>
    <link rel="stylesheet" href="../../static/css/page/my/my_item.css"/>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100 ">
    <!--        <div id="header" class="header flex-row bc-header"></div>-->
            <Section class="flex-row">
    <!--            <div id="nav" class="bc-aside g-12"></div>-->
                <div class="wrap bc-footer ">
                    <div class="content">
                        <div class="mainContent bc-main myitem">
                            <div class="sub-header flex-row flex-c white opacity60 px15">
                                <div class="list"><a href="my_pqge">내정보</a></div>
                                <div class="list active"><a href="my_item">아이템</a></div>
                                <div class="list"><a href="my_cash">캐시</a></div>
                                <div class="list"><a href="my_bettingpoints">배팅 포인트</a></div>
                                <div class="list"><a href="my_activitypoints">활동 포인트</a></div>
                                <div class="list"><a href="my_goldchip">골드칩</a></div>
    <!--                        <div class="list"><a href="#">마이홈</a></div>-->
    <!--                         div class="list"><a href="#">비빌번호 변경</a></div>-->
                            </div>
                            <div class="sub-header ">
                                <div class="sub-header-search bc-footer flex-grow">
                                    <input type="text" placeholder="상품명,상품 설명 검색">
                                    <img src="../../static/images/svg/search.svg" alt="" class="input-icon search" />
                                </div>
                            </div>
                            <div class="mainLayer">
                                <div class="item-list">
                                    <!-- Thymeleaf 템플릿 코드 시작 -->
                                    <div th:each="summary : ${itemPurchaseSummaries}" class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8" th:text="${summary.type}">일회용</div>
                                                    <div class="name px17 m-b-10" th:text="${summary.name}">아이템 이름</div>
                                                    <div class="text px13 description" th:text="${summary.description}">아이템 설명</div>
                                                </div>
                                                <div class="right">
                                                    <div th:class= "'shopping-item shopping-item-' + ${summary.itemId}"></div>
                                                </div>
                                            </div>
                                            <div class="btn-wrap flex-row">
                                                <button class="gift px15">보유 <span class="orange-FFBF00" th:text="${summary.totalQuantity}">0</span></button>
                                                <button class="purchase activate px15" th:if="${summary.totalQuantity > 0}">사용하기</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Thymeleaf 템플릿 코드 끝 -->
                                </div>
                            </div>
                        </div>
                        <div id="footer" class=" bc-footer" th:insert="~{include/footer}">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>