<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <link id="openchat_place" rel="stylesheet" href="../../static/css/page/openchat_place.css" />
    <script src="../../static/js/openchat_place.js"></script>
</head>
<body>
<div id="content-area" class="flex-grow" style="">
    <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">
        <Section class="flex-row">
            <div class="wrap bc-footer">
                <div class="content">
                    <div class="Content bc-main text-center">
                        <div class="sub-header flex-row flex-c white px15">
                            <div class="list active"><a href="openchat">전체</a></div>
                            <div class="list"><a href="openchat_evolution">에볼루션</a></div>
                            <div class="list"><a href="openchat_sports">스포츠</a></div>
                            <div class="list"><a href="openchat_game">게임</a></div>
                            <div class="list"><a href="openchat_cryptocurrency">가상화폐</a></div>
                            <div class="list"><a href="openchat_stock">주식</a></div>
                            <div class="list"><a href="openchat_amity">친목</a></div>
                            <div class="list"><a href="openchat_favorites">즐겨찾기</a></div>
                        </div>
                        <div class="mainLayer bc-black">
                            <div class="jcs flex-row flex-c px20">
                                <div class="flex-c">
                                    <div class="title">코리아 스피드 바카라 <img src="../../static/images/svg/flag-korea.svg" alt=""></div>
                                    <div class="count px14"><img src="../../static/images/svg/person.svg" alt="">582</div>
                                </div>
                                <div class="icon-row flex-row">
                                    <img src="../../static/images/svg/stars.svg" alt="Star Icon" class="icon">
                                    <img src="../../static/images/svg/compass.svg" alt="Compass Icon" class="icon">
                                    <img src="../../static/images/svg/analyze.svg" alt="Analyze Icon" class="icon">
                                    <img src="../../static/images/svg/mark.svg" alt="Mark Icon" class="icon">
                                    <img src="../../static/images/svg/sound.svg" alt="Sound Icon" class="icon">
                                    <img src="../../static/images/svg/setting.svg" alt="Setting Icon" class="icon">
                                    <img src="../../static/images/svg/cancel.svg" alt="Cancel Icon" class="icon">
                                </div>
                            </div>
                            <div class="container">
                                <div class="left-section">
                                    <div class="small-rectangle"><img src="../../static/images/svg/blue-small.svg" alt=""></div>
                                    <div class="small-rectangle brown"><img src="../../static/images/svg/brown-small.svg" alt=""></div>
                                    <div class="small-rectangle"><img src="../../static/images/svg/blue-small.svg" alt=""></div>
                                </div>
                                <div class="middle-section">
                                    <div class="blue-section"><img src="../../static/images/svg/blue-section.svg" alt=""></div>
                                    <div class="arch"><img src="../../static/images/svg/green-arch.svg" alt=""></div>
                                    <div class="red-section"><img src="../../static/images/svg/red-section.svg" alt=""></div>
                                </div>
                                <div class="right-section">
                                    <div class="small-rectangle"><img src="../../static/images/svg/red-small.svg" alt=""></div>
                                    <div class="small-rectangle"><img src="../../static/images/svg/brown-small.svg" alt=""></div>
                                    <div class="small-rectangle"><img src="../../static/images/svg/red-small.svg" alt=""></div>
                                </div>
                            </div>
                            <div class="options flex-row flex-c-c gap">
                                <div class="icon flex-c gap">
                                    <span>되돌리기</span>
                                    <img src="../../static/images/svg/return.svg" alt="">
                                </div>
                                <div class="item-wrap flex-row  flex-c">
                                    <div class="bg-game-chips bg-game-chips-1"></div>
                                    <div class="bg-game-chips bg-game-chips-2"></div>
                                    <div class="bg-game-chips bg-game-chips-3"></div>
                                    <div class="bg-game-chips bg-game-chips-4"></div>
                                    <div class="bg-game-chips bg-game-chips-5"></div>
                                    <div class="bg-game-chips bg-game-chips-6"></div>
                                </div>
                                <div class="icon flex-c gap">
                                    <div class="bg-icon-item-4"></div><span>반복</span>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="top flex-row px14">
                                    <div class="gameCount"># 53</div>
                                    <div class="pWin">
                                        <div class="i-circle bc-blue">P </div><span> 23 (6연속)</span>
                                    </div>
                                    <div class="bWin">
                                        <div class="i-circle bc-red">B </div><span> 29 (6연속)</span>
                                    </div>
                                    <div class="noWin">
                                        <div class="i-circle bc-green">T </div><span> 1 (2연속)</span>
                                    </div>
                                    <div class="blue-win">
                                        <div  class="i-circle bc-grey"><span class="v-h">P</span></div>
                                        <span>5</span>
                                    </div>
                                    <div class="red-win">
                                        <div class="i-circle bc-grey"><span class="v-h">B</span></div>
                                        <span>4</span>
                                    </div>
                                    <img src="../../static/images/svg/pwin.svg" alt="">
                                    <img src="../../static/images/svg/bwin.svg" alt="">
                                </div>
                            </div>
                            <div class="dot-table-container">
                                <div class="dot-left-section"></div>
                                <div class="dot-right-section">
                                    <div class="dot-top-right"></div>
                                    <div class="dot-bottom-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="chatInsert">
                            <div class="chat-container">
                                <div class="chat-messages">
                                    <div class="chat-date">2024년 5월 20일 월요일</div>
                                    <div class="chat-message system tr">
                                        <div class="profile">
                                            <img class="profile-img-48" src="../../static/images/profile/default.png" alt="#">
                                        </div>
                                        <div class="name-time">
                                            <span class="px14 orange">알리</span>
                                            <span class="px11 opacity60">오후 7:00</span>
                                            <div class="text-message">오늘은 그림장이 좋네요.</div>
                                        </div>
                                        <img src="../static/images/svg/hyphenation.svg" alt="" class="hover-image">
                                        <div class="dropbox">
                                            <div class="menu-item"><span>메시지 삭제</span><img src="../../static/images/svg/dropbox-1.svg" alt=""></div>
                                            <div class="menu-item"><span>채팅금지</span><img src="../../static/images/svg/dropbox-2.svg" alt=""></div>
                                            <div class="menu-item"><span>차단하기</span><img src="../../static/images/svg/dropbox-3.svg" alt=""></div>
                                            <div class="menu-item"><span>추방하기</span><img src="../../static/images/svg/dropbox-4.svg" alt=""></div>
                                            <div class="menu-item"><span>관리 권한 부여</span><img src="../../static/images/svg/dropbox-5.svg" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="chat-message system tr">
                                        <div class="profile">
                                            <img class="profile-img-48" src="../../static/images/profile/default.png" alt="#">
                                        </div>
                                        <div class="name-time">
                                            <span class="px14 orange">알리</span>
                                            <span class="px11 opacity60">오후 7:00</span>
                                            <div class="text-message">3판 정도 뒤에 본격적으로 픽 드리겠습니다.</div>
                                        </div>
                                        <img src="../static/images/svg/hyphenation.svg" alt="" class="hover-image">
                                        <div class="dropbox">
                                            <div class="menu-item"><span>메시지 삭제</span><img src="../../static/images/svg/dropbox-1.svg" alt=""></div>
                                            <div class="menu-item"><span>채팅금지</span><img src="../../static/images/svg/dropbox-2.svg" alt=""></div>
                                            <div class="menu-item"><span>차단하기</span><img src="../../static/images/svg/dropbox-3.svg" alt=""></div>
                                            <div class="menu-item"><span>추방하기</span><img src="../../static/images/svg/dropbox-4.svg" alt=""></div>
                                            <div class="menu-item"><span>관리 권한 부여</span><img src="../../static/images/svg/dropbox-5.svg" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="chat-message system tr">
                                        <div class="profile">
                                            <img class="profile-img-48" src="../../static/images/profile/default.png" alt="#">
                                        </div>
                                        <div class="name-time">
                                            <span class="px14">그림자분쇄기</span>
                                            <span class="px11 opacity60">오후 7:00</span>
                                            <div class="text-message">
                                                안녕하세요! 오늘도 아름다운 픽을 부탁드립니다~<br>
                                                어제 너무 져서 오늘 복구 안되면 정말 한강각을 잡아봐야 할...
                                            </div>
                                        </div>
                                        <img src="../static/images/svg/hyphenation.svg" alt="" class="hover-image">
                                        <div class="dropbox">
                                            <div class="menu-item"><span>메시지 삭제</span><img src="../../static/images/svg/dropbox-1.svg" alt=""></div>
                                            <div class="menu-item"><span>채팅금지</span><img src="../../static/images/svg/dropbox-2.svg" alt=""></div>
                                            <div class="menu-item"><span>차단하기</span><img src="../../static/images/svg/dropbox-3.svg" alt=""></div>
                                            <div class="menu-item"><span>추방하기</span><img src="../../static/images/svg/dropbox-4.svg" alt=""></div>
                                            <div class="menu-item"><span>관리 권한 부여</span><img src="../../static/images/svg/dropbox-5.svg" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-input-container">
                                <img src="../../static/images/svg/icon-add.svg" alt="">
                                <input type="text" placeholder="채팅 메시지 보내기" class="chat-input">
                                    <div class="chat-gif parents">
                                        <div id="gif-fold">
                                            <i class="fa-kit fa-icon-solid-fa-gif" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                <div class="chat-emoticon parents">
                                    <div id="emoticon-fold">
                                        <i class="fa-sharp fa-solid fa-face-angry fa-fw" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>