<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/rank.js" defer></script>
    <link id="rank" rel="stylesheet" href="../../static/css/page/rank.css" />
</head>

<body>
<div id="content-area" class="flex-grow">
    <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">
        <section class="flex-row">
            <div class="wrap bc-footer">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list active"><a href="rank">배팅 수익</a></div>
<!--                            <div class="list "><a href="#">최근 100게임 적중률</a></div>-->
<!--                            <div class="list "><a href="#">바카라 연승</a></div>-->
<!--                            <div class="list"><a href="#">최대 배당 당첨</a></div>-->
<!--                            <div class="list"><a href="#">잭팟 수령</a></div>-->
<!--                            <div class="list"><a href="#">활동 포인트</a></div>-->
                        </div>
                        <div class="sub-header flex-row flex-c">
                            <div class="sub-header-search bc-footer flex-grow">
                                <input type="text" placeholder="닉네임 검색">
                                <img src="../../static/images/svg/search.svg" alt="" class="input-icon search" />
                            </div>
                        </div>
                        <div class="mainLayer text-center">
                            <div class="table-padding">
                                <div class="table-radius">
                                    <table class="rank-table white">
                                        <thead class="h50px">
                                        <tr>
                                            <th width="9.62%">순위</th>
                                            <th width="7.69%">프로필</th>
                                            <th width="25.96%">닉네임</th>
                                            <th width="19.23%">배팅 수익</th>
                                            <th width="13.46%">배팅 전적</th>
                                            <th width="9.62%">승률</th>
                                            <th width="5.77%">최대 연승</th>
                                            <th width="8.65%">활동기간</th>
                                        </tr>
                                        </thead>
                                        <tbody id="rank-table-body" class="h100px">
                                        <!-- 사용자 데이터는 JavaScript를 통해 동적으로 추가됨 -->
                                        </tbody>
                                        <tfoot class="h100px">
                                        <tr>
                                            <td colspan='8' class="text-center">
                                                <div id="rank-pagination-container" class="pagination flex-row flex-c-c">
                                                    <!-- 페이지네이션은 JavaScript를 통해 동적으로 추가됨 -->
                                                </div>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="footer" class="bc-footer" th:insert="~{include/footer}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>

</html>
