<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <link id="shopping" rel="stylesheet" href="../../static/css/page/shopping.css"/>
    <script src="../../static/js/shopping.js"></script>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">

            <section class="flex-row">
    <!--            <div id="nav" class="bc-aside g-12"></div>-->
                <div class="wrap bc-footer ">
                    <div class="content">
                        <div class="mainContent bc-main">
                            <div class="sub-header flex-row flex-c white px15">
                                <div class="list active"><a href="shopping">전체</a></div>
                                <div class="list"><a href="shopping_chat">채팅</a></div>
                                <div class="list "><a href="shopping_decorate">꾸미기</a></div>
                                <div class="list"><a href="shopping_point">포인트</a></div>
                                <div class="list"><a href="shopping_goldchip">골드칩</a></div>
                                <div class="list"><a href="shopping_etc">기타</a></div>
                            </div>
                            <div class="sub-header flex-row flex-c">
                                <div class="sub-header-search bc-footer flex-grow">
                                    <input id="search-input" type="text" placeholder="상품명, 상품 설명 검색">
                                    <img id="search-button" src="../../static/images/svg/search.svg" alt="" class="input-icon search" />
                                </div>
                            </div>
                            <div class="mainLayer">
                                <div class="item-list">
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">일회용</div>
                                                    <div class="name px17 m-b-10">닉네임 변경권</div>
                                                    <div class="text px13 description">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-1"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">일회용</div>
                                                    <div class="name px17 m-b-10">프로필 사진 등록권</div>
                                                    <div class="text px13 description">프로필을 클릭하여 프로필 사진을 변경할 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-2"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">일회용</div>
                                                    <div class="name px17 m-b-10">마이홈 배경 등록권</div>
                                                    <div class="text px13 description">마이홈 배경 이미지를 등록, 변경할 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-3"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">일회용</div>
                                                    <div class="name px17 m-b-10">오늘의 한마디 변경권</div>
                                                    <div class="text px13 description">오늘의 한마디를 변경할 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-4"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">무제한</div>
                                                    <div class="name px17 m-b-10">움직이는 프로필 이미지</div>
                                                    <div class="text px13 description">WebP, GIF확장자를 업로드하여 움직이는 이미지를 프로필 사진으로 등록 할 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-5"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/chip.svg" alt="" />
                                                    <span class="px17">1,000,000,000</span>
                                                </div>
                                                <div class="case flex-row hidden"></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">무제한</div>
                                                    <div class="name px17 m-b-10">채팅 이용권</div>
                                                    <div class="text px13 description">신규회원 대기시간을 무시하고 전체 채팅과 오픈채팅을 이용할 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-6"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">24시간</div>
                                                    <div class="name px17 m-b-10">오픈채팅 개설권</div>
                                                    <div class="text px13 description">오픈채팅에 나만의 방을 개설할 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-7"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">1개월</div>
                                                    <div class="name px17 m-b-10">채팅 GIF & 이모티콘 이용권</div>
                                                    <div class="text px13 description">채팅 메세지에 GIF와 이모티콘을 보낼 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-8"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">1개월</div>
                                                    <div class="name px17 m-b-10">채팅 이미지 & 파일 업로드</div>
                                                    <div class="text px13 description">채팅 메세지에 이미지를 보낼 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-9"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">1개월</div>
                                                    <div class="name px17 m-b-10">메신저 이용권</div>
                                                    <div class="text px13 description">회원님들과 자유롭게 메세지를 주고 받으실 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-10"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                    <span class="px17">198</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">일회용</div>
                                                    <div class="name px17 m-b-10">1,000만 배팅 포인트 충전권</div>
                                                    <div class="text px13 description">보유한 배팅 포인트에서 1,000만 배팅 포인트 추가지급 됩니다.
                                                        <p class="px12 red">5,000만 이상의 배팅 포인트 시 사용이 불가합니다.</p>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-11"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">에볼챗 가상화폐</div>
                                                    <div class="name px17 m-b-10">골드칩</div>
                                                    <div class="text px13 description">원하는 회원님에게 도네이션(후원)을 목적으로 사용되는 애볼챗 가상화폐로 환전이
                                                        가능합니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-12"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">1개월</div>
                                                    <div class="name px17 m-b-10">에볼챗 프리미엄 구독권</div>
                                                    <div class="text px13 description">닉네임, 프로필 사진, 마이홈 배경, 오늘의 한마디, 채팅, 메신저, 채팅 이미지,
                                                        GIF, 이모티콘 무제한 이용가능</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-13"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">일회용</div>
                                                    <div class="name px17 m-b-10">전적 초기화</div>
                                                    <div class="text px13 description">지난 배팅 내역을 초기화 합니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-14"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">일회용</div>
                                                    <div class="name px17 m-b-10">활동정지 해제</div>
                                                    <div class="text px13 description">애볼쳇 이용규정을 어겨 활동정지된 상태에서 벗어 날 수 있습니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-15"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
    <!--                            <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">1개월</div>
                                                    <div class="name px17 m-b-10">오토봇 사용권</div>
                                                    <div class="text px13 description">내 설정값으로 자동으로 에볼루션 게임에 배팅되게 도와줍니다.</div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-16"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">1개월</div>
                                                    <div class="name px17 m-b-10">고성능 확성기</div>
                                                    <div class="text px13 description">모든 채팅창 상단에 메세지를 5분간 노출시켜 줍니다.
                                                        <p class="px12 red">이미 노출된 메세지가 있다면 순서대로 노출 됩니다.</p>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-17"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                    <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopping-item-wrap">
                                        <div class="line">
                                            <div class="top flex-row">
                                                <div class="left flex-grow">
                                                    <div class="type px14 m-b-8">일회용</div>
                                                    <div class="name px17 m-b-10">무료충전 리필권</div>
                                                    <div class="text px13 description">무료충전을 10회 리필합니다.
                                                        <p class="px12 red">잔여 무료충전 횟수에서 10회가 추가됩니다.</p>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    <div class="shopping-item shopping-item-18"></div>
                                                </div>
                                            </div>
                                            <div class="center flex-row white">
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/cash.svg" alt="" />
                                                    <span class="px17">19,800</span>
                                                </div>
                                                <div class="case v-h " style="flex-grow: .175;"></div>
                                                <div class="case flex-row">
                                                    <img src="../../static/images/svg/goldchip.svg" alt="" />
                                                     <span class="px17">198</span>
                                                </div>
                                                <div class="case flex-grow v-h "></div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="btn-wrap flex-row">
                                                <div class="count-btn-wrap flex-c flex-row flex-sa">
                                                    <div class="count-btn count-down border-l"><img src="../../static/images/svg/minus.svg" alt="" /></div>
                                                    <div class="count px15">1</div>
                                                    <div class="count-btn count-up border-r"><img src="../../static/images/svg/plus.svg" alt="" /></div>
                                                </div>
                                                <button class="gift px15">선물</button>
                                                <button class="purchase px15">구매</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="footer" class=" bc-footer" th:insert="~{include/footer}"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>