<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/support_support_write.js"></script>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100 ">
    <!--        <div id="header" class="header flex-row bc-header"></div>-->
            <Section class="flex-row">
    <!--            <div id="nav" class="bc-aside g-12"></div>-->
                <div class="wrap bc-footer ">
                    <div class="content">
                        <div class="mainContent bc-main">
                            <div class="sub-header flex-row flex-c white opacity60 px15">
                                <div class="list "><a href="support_notice">공지사항</a></div>
                                <div class="list "><a href="support_help">도움말</a></div>
                                <div class="list active"><a href="support_inquiry">문의하기</a></div>
                            </div>
                            <div class="sub-header flex-row flex-c">
                                <div class="sub-header-search bc-footer flex-grow">
                                    <input type="text" placeholder="닉네임 검색">
                                    <img src="../../static/images/svg/search.svg" alt=""
                                         class="input-icon search" />
                                </div>
                            </div>

                            <div class="mainLayer ">
                                <div class="content-head">
                                    <div class="title">문의글 작성</div>
                                    <div class="btn">
                                        <div class="btn">임시등록</div>
                                        <button class="btn disabled">등록</button>
                                    </div>

                                </div>
                                <div class="content-wrap">
                                    <div class="select-box">
                                        <select>
                                            <option>어떤 부분에 대한 질문인지 선택해 주세요.</option>
                                            <option>골드칩 환전에 관한 질문이 있습니다.</option>
                                            <option>기술적인 문제가 있습니다.</option>
                                            <option>사용 계정에 대한 질문이 있습니다.</option>
                                            <option>상점 아이템에 대한 질문이 있습니다.</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="footer" class=" bc-footer" th:insert="include/footer">
                    </div>

                </div>

            </section>
        </div>
    </div>
</body>

</html>