<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../../static/js/support_inquiry.js"></script>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-black vh100" th:data-active-category="${activeCategory}" th:data-active-page="${activePage}">

            <Section class="flex-row">
    <!--            <div id="nav" class="bc-aside g-12"></div>-->
                <div class="wrap bc-footer ">
                    <div class="content">
                        <div class="mainContent bc-main">
                            <div class="sub-header flex-row flex-c white px15">
                                <div class="list"><a href="support_notice">공지사항</a></div>
                                <div class="list"><a href="support_help">도움말</a></div>
                                <div class="list active"><a href="support_inquiry">문의하기</a></div>

                            </div>
                            <div class="sub-header flex-row flex-c">
                                <div class="sub-header-search bc-footer flex-grow">
                                    <input type="text" placeholder="제목, 내용 검색">
                                    <img src="../../static/images/svg/search.svg" alt="" class="input-icon search" />
                                </div>
                                <a href="support_inquiry_write" class="bc-activate white"><img src="../../static/images/svg/pen.svg" alt="" class="hidden">문의글 작성</a>
                            </div>
                            <div class="mainLayer">
                                <div class="table-padding">
                                    <div class="table-radius">
                                        <table class="rank-table white px14">
                                            <thead class="h60px">
                                                <tr>
                                                    <th class="opacity60 text-center">상태</th>
                                                    <th class="opacity60 text-center">문의내용</th>
                                                    <th class="opacity60">일시</th>
                                                </tr>
                                            </thead>
                                            <tbody class="h60px">
                                            </tbody>
                                            <tfoot class="h100px">
                                                <tr>
                                                    <td colspan='8' class="text-cneter">
                                                        <div class="pagination flex-row flex-c-c">
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div id="footer" class=" bc-footer" th:insert="~{include/footer}">
                            </div>
                        </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>