@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 16px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #2C2E33;
}

input[type=text],
input[type="password"] {
    background-color: transparent;
    outline: transparent;
    background: 0 0;
    -webkit-appearance: none;
    text-overflow: ellipsis;
    box-sizing: border-box;
    color: white !important;
}

img {
    border: 0 none;
    vertical-align: top;
}

*::-webkit-scrollbar {
    width: 2px;
    background: transparent;
}

*::-webkit-scrollbar-track {
    background:transparent;
}

html.wf-loading {
    visibility: hidden;
}

.fs {
    justify-content: flex-start;
}

/* 폰트 사이즈 정리 1rem : 16px*/
.px8 {
    font-size: 0.5rem;
}

.px9 {
    font-size: 0.5625rem;
}

.px10 {
    font-size: 0.625rem;
}

.px11 {
    font-size: 0.6875rem;
}

.px12 {
    font-size: 0.75rem;
}

.px13 {
    font-size: 0.8125rem;
}

.px14 {
    font-size: 0.875rem;
}

.px15 {
    font-size: 0.9375rem;
}

.px16 {
    font-size: 1rem;
}

.px17 {
    font-size: 1.0625rem;
}

.px18 {
    font-size: 1.125rem;
}

.px19 {
    font-size: 1.1875rem;
}

.px20 {
    font-size: 1.25rem;
}

.px21 {
    font-size: 1.3125rem;
}

.px22 {
    font-size: 1.375rem;
}

.px23 {
    font-size: 1.4375rem;
}

.px24 {
    font-size: 1.5rem;
}

.px25 {
    font-size: 1.5625rem;
}

.px26 {
    font-size: 1.625rem;
}

.px27 {
    font-size: 1.6875rem;
}

.px28 {
    font-size: 1.75rem;
}

.px29 {
    font-size: 1.8125rem;
}

.px30 {
    font-size: 1.875rem;
}

.px31 {
    font-size: 1.9375rem;
}

.px32 {
    font-size: 2rem;
}

.px33 {
    font-size: 2.0625rem;
}

.px34 {
    font-size: 2.125rem;
}

.px35 {
    font-size: 2.1875rem;
}

.px36 {
    font-size: 2.25rem;
}

.px37 {
    font-size: 2.3125rem;
}

.px38 {
    font-size: 2.375rem;
}

.px39 {
    font-size: 2.4375rem;
}

.px40 {
    font-size: 2.5rem;
}

.px41 {
    font-size: 2.5625rem;
}

.px42 {
    font-size: 2.625rem;
}

.px43 {
    font-size: 2.6875rem;
}

.px44 {
    font-size: 2.75rem;
}

.px45 {
    font-size: 2.8125rem;
}

.px46 {
    font-size: 2.875rem;
}

.px47 {
    font-size: 2.9375rem;
}

.px48 {
    font-size: 3rem;
}

/* padding , margin*/

.p-20 {
    padding: 20px;
}

.p-lr-20 {
    padding: 0 20px !important;
}

.p-l-3 {
    padding-left: 3px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.m-0 {
    margin: 0 !important;
}

.m-t-3 {
    margin-top: 3px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-80 {
    margin-top: 80px !important;
}

.m-tb-20 {
    margin: 20px 0 !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-lr-10 {
    margin: 0 10px;
}

.m-r-4 {
    margin-right: 4px;
}

.m-r-6 {
    margin-right: 6px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-14 {
    margin-right: 14px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-50 {
    margin-right: 50px !important;
}

.m-r-70 {
    margin-right: 70px !important;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-6 {
    margin-bottom: 6px;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-18 {
    margin-bottom: 18px;
}


.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-40 {
    margin-bottom: 40px;
}

/* padding , margin*/
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading-overlay.show {
    display: flex;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wrapper {
    font-size: 1rem;
}

.cb {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    border: none !important;
    visibility: hidden !important;
    line-height: 0 !important;
    clear: both;
}

.lh {
    line-height: 1.3;
}

.hidden {
    display: none !important;
}

.v-h {
    visibility: hidden;
}

.max1280 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.flex-row {
    display: flex !important;
    flex-direction: row;
}

.flex-column {
    display: flex !important;
    flex-direction: column;
}

.flex-row-reverse {
    display: flex !important;
    flex-direction: row-reverse;
}

.flex-c {
    display: flex !important;
    align-items: center;
}

.flex-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-sa {
    display: flex !important;
    justify-content: space-around;
}

.flex-grow {
    flex-grow: 1;
}

.position-r {
    position: relative;
}

.position-a {
    position: absolute;
}

.vh100 {
    height: 100vh;
    overflow-y: auto;
}

.vh100::-webkit-scrollbar-thumb {
    background-color: #35373D;
    border:4px solid #27292D;
}

.vh100::-webkit-scrollbar-thumb:hover {
    background-color: #5F6064;
    cursor:pointer;
}

.h100 {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.opacity100 {
    opacity: 100%;
}

.opacity80 {
    opacity: 80%;
}

.opacity60 {
    opacity: 60%;
}

.opacity40 {
    opacity: 40%;
}

.g-1 {
    display: inline-block;
    width: 8.333333333333334%;
}

.g-2 {
    display: inline-block;
    width: 16.666666666666668%;
}

.g-3 {
    display: inline-block;
    width: 25%;
}

.g-4 {
    display: inline-block;
    width: 33.333333333333336%;
}

.g-5 {
    display: inline-block;
    width: 41.66666666666667%;
}

.g-6 {
    display: inline-block !important;
    width: 50%;
}

.g-7 {
    display: inline-block;
    width: 58.333333333333336%;
}

.g-8 {
    display: inline-block;
    width: 66.66666666666667%;
}

.g-9 {
    display: inline-block;
    width: 75%;
}

.g-10 {
    display: inline-block;
    width: 83.33333333333334%;
}

.g-11 {
    display: inline-block;
    width: 91.66666666666667%;
}

.g-12 {
    display: inline-block;
    width: 100%;
}


.col-1 {
    display: inline-block;
    width: 100%;
}

.col-2 {
    width: 50%;
    display: inline-block;
}

.col-3 {
    width: 33.333%;
    display: inline-block;
}

.col-4 {
    width: 25%;
    display: inline-block;
}

.col-5 {
    width: 20%;
    display: inline-block;
}

.col-6 {
    width: 16.6666%;
    display: inline-block;
}

.col-7 {
    width: 14.285714%;
    display: inline-block;
}

.col-8 {
    width: 12.5%;
    display: inline-block;
}

.col-9 {
    width: 11.1111%;
    display: inline-block;
}

.col-10 {
    width: 10%;
    display: inline-block;
}

.col-11 {
    width: 9.0909%;
    display: inline-block;
}

.col-12 {
    width: 8.333333%;
    display: inline-block;
}

/* 배경색 정의 */
/*
2024-05-27 기준으로
상단 해더  #1B1C1E
푸터 #232428
왼쪽 사이드 #27292D
오른쪽 채팅창 #27292D
메인 #2C2E33
*/

.bc-header {
    background-color: #171819;
}

.bc-footer {
    background-color: #232428;
}

.bc-aside {
    background-color: #1b1d1e;
}

.bc-main {
    background-color: #2C2E33;
}

.bc-black {
    background-color: #1e2124;
}

.bc-brown {
    background-color: #2e292b;
}

.bc-gray {
    background-color: #727681;
}

.bc-gray-dark {
    background-color: #35373D;
}

.bc-dark {
    background-color: #2f2f2f;
}

.bc-dark-chat {
    background-color: rgba(255, 255, 255, .05);
}

.bc-dark-3A3C43 {
    background-color: #3A3C43;
}

.bg-r-b {
    background: linear-gradient(#600d10, #310c10);
}

.bg-b-b {
    background: linear-gradient(#08295d, #0a1931);
}

.bg-g-b {
    background: linear-gradient(#08600b, #0a310e);
}

.bc-ivory {
    background-color: #BF9B30;
}

.bc-blue-2379FF {
    background-color: #2379FF !important;
}

.bc-blue {
    background-color: #185cc6 !important;
}

.bc-red {
    background-color: #c52123 !important;
}

.bc-red-f23f42 {
    background-color: #f23f42 !important;
}

.bc-green {
    background-color: #4f9e46 !important;
}

.bc-grey {
    background-color: #767683 !important;
}

.bc-activate {
    background-color: #8744ff !important;
    color: #fff;
    cursor: pointer;
}


/* 글자 색 정의 */
.label-color {
    color: #77787C;
}

.description-color {
    color: #4D4F53;
}

.white {
    color: #fff;
}

.gray-dadde2 {
    color: #dadde2;
}

.msg {
    padding-left: 20px;
}

.orange-FBC22B {
    color: #FBC22B
}

.orange-FFBF00 {
    color: #FFBF00
}

.orange-FFD01A {
    color: #FFD01A
}

.orange {
    color: #FFCF40
}

.gray {
    color: #727681;
}

.grey-1 {
    color: #a0afbd;
}

.grey-2 {
    color: #8b8a8a;
}

.grey-3 {
    color: #77828c;
}

.grey-4 {
    color: #c5d7e8;
}

.grey-5 {
    color: #76777D
}

.red {
    color: #FF4447
}

.blue {
    color: #185CC6
}

.color-red {
    color: #cf0e0f;
}

.color-blue {
    color: #044bb6;
}

.color-green {
    color: #03c104;
}

/* border-radius-r 이런식으로 이름 수정필요. */
.border-5 {
    border-radius: 5px;
}

.border-l {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.border-r {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.border-t {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.border-b {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.border-t-10 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.border-b-10 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* 테두리 색 정의 */
.border-red {
    border-color: #cf0e0f;
}

.border-blue {
    border-color: #044bb6;
}

.border-green {
    border-color: #03c104;
}

.bg-nav {
    width: 36px;
    height: 36px;
}

.search-area .search input[type=text] {
    color: #000 !important;
}

/* svg관련 */
.input-icon.search {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* svg관련 */



/* 로고들 */
.bg-logo {
    background: url('../images/sprites/css_sprites.png') -10px -10px;
    margin-right: 8px;
}

.graycode {
    background: url('../images/sprites/etc_sprites.png');
    width: 158px;
    height: 22px;
    display: inline-block;
    background-position: -49px -435px;
}


/* 로고들 */


.bg-nav-1 {
    background: url('../images/sprites/css_sprites.png') -66px -10px;
}

.bg-nav-2 {
    background: url('../images/sprites/css_sprites.png') -122px -10px;
}

.bg-nav-3 {
    background: url('../images/sprites/css_sprites.png') -177px -10px;
}

.bg-nav-4 {
    background: url('../images/sprites/css_sprites.png') -232px -10px;
}

.bg-i-btn {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.bg-i-btn-1 {
    background: url('../images/sprites/css_sprites.png') -290px -10px;
}

.bg-i-btn-2 {
    background: url('../images/sprites/css_sprites.png') -342px -10px;
}

.bg-i-btn-3 {
    background: url('../images/sprites/css_sprites.png') -394px -10px;
}

.bg-i-btn-4 {
    background: url('../images/sprites/css_sprites.png') -446px -10px;
}

.bg-i-btn-5 {
    background: url('../images/sprites/css_sprites.png') -498px -10px;
}

.bg-i-manu {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.bg-i-manu-1 {
    background: url('../images/sprites/css_sprites.png') -10px -66px;
}

.bg-i-manu-2 {
    background: url('../images/sprites/css_sprites.png') -30px -66px;
}

.bg-i-manu-3 {
    background: url('../images/sprites/css_sprites.png') -50px -66px;
}

.bg-i-manu-4 {
    background: url('../images/sprites/css_sprites.png') -70px -66px;
}

.bg-i-manu-5 {
    background: url('../images/sprites/css_sprites.png') -90px -66px;
}

.bg-i-manu-6 {
    background: url('../images/sprites/css_sprites.png') -110px -66px;
}

.bg-i-manu-7 {
    background: url('../images/sprites/css_sprites.png') -132px -66px;
}

.bg-i-item-1 {
    width: 20px;
    height: 20px;
    background: url('../images/sprites/icon_sprites.png') 0 0;
}

.bg-i-item-2 {
    width: 20px;
    height: 20px;
    background: url('../images/sprites/icon_sprites.png') -30px 0px;
}

.bg-i-item-2 {
    width: 20px;
    height: 20px;
    background: url('../images/sprites/icon_sprites.png') -30px 0px;
}

.bg-game-chips {
    width: 40px;
    height: 40px;
}

.bg-game-chips-1 {
    background: url('../images/sprites/icon_sprites.png') -55px 0px;
}

.bg-game-chips-2 {
    background: url('../images/sprites/icon_sprites.png') -105px 0px;
}

.bg-game-chips-3 {
    background: url('../images/sprites/icon_sprites.png') -155px 0px;
}

.bg-game-chips-4 {
    background: url('../images/sprites/icon_sprites.png') -205px 0px;
}

.bg-game-chips-5 {
    background: url('../images/sprites/icon_sprites.png') -255px 0px;
}

.bg-game-chips-6 {
    background: url('../images/sprites/icon_sprites.png') -305px 0px;
}

.bg-icon-item-1 {
    width: 26px;
    height: 26px;
    background: url('../images/sprites/icon_sprites_1.png') 0px 0px;
}

.bg-icon-item-2 {
    width: 12px;
    height: 16px;
    background: url('../images/sprites/icon_sprites_1.png') -34px 0px;
}

.bg-icon-item-3 {
    width: 14px;
    height: 14px;
    background: url('../images/sprites/icon_sprites_1.png') -56px 0px;
}

.bg-icon-item-4 {
    width: 36px;
    height: 36px;
    background: url('../images/sprites/icon_sprites_1.png') -70px 9px;
    border: 1px solid #35373D;
    border-radius: 20px;
}

.bg-icon-item-5 {
    width: 26px;
    height: 26px;
    background: url('../images/sprites/icon_sprites_1.png') -25px 0px;
}

.icon-sns {
    background: url('../images/sprites/etc_sprites.png');
    width: 30px;
    height: 30px;
    display: inline-block;
}

.icon-google-play {
    background-position: -95px -826px;
}

.icon-apple {
    background-position: -54px -825px;
}

.icon-naver {
    background-position: 1px -372px;
}

.icon-kakao {
    background-position: 1px -431px;
}

.icon-google {
    background-position: 1px -491px;
}


/* 일러스트 캐릭터들 */
.img-illust {
    background: url('../images/sprites/illust_sprites.png');
    display: inline-block;
}

/* 문의 내역 없음 */
.illust-1 {
    width: 318px;
    height: 200px;
    background-position: -185px -220px;
}

/* 보유 아이템 없음 */
.illust-2 {
    width: 200px;
    height: 200px;
    background-position: 8px 0px;
}

/* 친구추가 */
.illust-3 {
    width: 210px;
    height: 200px;
    background-position: -220px 0px;
}

/* 차단친구 없음 */
.illust-4 {
    width: 140px;
    height: 200px;
    background-position: 0px -220px;
}

/* 마이페이지 */
.illust-5 {
    width: 130px;
    height: 130px;
    background-position: -455px 5px;
}

.illust-6 {
    width: 318px;
    height: 200px;
    background-position: 0px 0px;
}


/* 일러스트 캐릭터들 */


/* 성인표시 아이콘 */
.icon-19 {
    background: url('../images/sprites/etc_sprites.png');
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position: -45px -368px;
}

.shopping-item {
    background: url('../images/sprites/shopping_sprites.png');
    width: 80px;
    height: 80px;
}

.shopping-item-1 {
    background-position: -200px 0px;
}

.shopping-item-2 {
    background-position: -540px 0px;
}

.shopping-item-3 {
    background-position: 80px 0px;
}

.shopping-item-4 {
    background-position: -200px -256px;
}

.shopping-item-5 {
    background-position: -540px -256px;
}

.shopping-item-6 {
    background-position: 80px -256px;
}

.shopping-item-7 {
    background-position: -200px -512px;
}

.shopping-item-8 {
    background-position: -540px -512px;
}

.shopping-item-9 {
    background-position: 80px -515px;
}

.shopping-item-10 {
    background-position: -200px 592px;
}

.shopping-item-11 {
    background-position: -540px 590px
}

.shopping-item-12 {
    background-position: 80px 590px
}

.shopping-item-13 {
    background-position: -200px 336px;
}

.shopping-item-14 {
    background-position: -540px 336px;
}

.shopping-item-15 {
    background-position: 80px 336px;
}

.shopping-item-16 {
    background-position: -200px 80px;
}

.shopping-item-17 {
    background-position: -540px 80px;
}

.shopping-item-18 {
    background-position: 80px 80px;
}

.shopping-item-icon {
    background: url('../images/sprites/shopping_sprites.png');
    width: 20px;
    height: 20px;
}

.shopping-item-icon-1 {
    background-position: -93px -121px
}

.shopping-item-icon-2 {
    background-position: -26px -122px;
}

.shopping-item-icon-3 {
    background-position: 2px -122px;
}

/* Space, Clover, Heart, Diamond */
.bg-card {
    background-image: url('../images/sprites/card_sprites.png');
    background-size: 500px 150px;
    width: 18px;
    height: 26px;
    background-repeat: no-repeat;
}

.card-rotate-r {
    transform: rotate(90deg);
}

.card-rotate-l {
    transform: rotate(-90deg);
}

.bg-card-space-item-1 {
    background-position: -20px -17px;
}

.bg-card-space-item-2 {
    background-position: -43px -17px;
}

.bg-card-space-item-3 {
    background-position: -66px -17px;
}

.bg-card-space-item-4 {
    background-position: -89px -17px;
}

.bg-card-space-item-5 {
    background-position: -112px -17px;
}

.bg-card-space-item-6 {
    background-position: -135px -17px;
}

.bg-card-space-item-7 {
    background-position: -158px -17px;
}

.bg-card-space-item-8 {
    background-position: -181px -17px;
}

.bg-card-space-item-9 {
    background-position: -204px -17px;
}

.bg-card-space-item-10 {
    background-position: -227px -17px;
}

.bg-card-space-item-11 {
    background-position: -250px -17px;
}

.bg-card-space-item-12 {
    background-position: -273px -17px;
}

.bg-card-space-item-13 {
    background-position: -296px -17px;
}

.bg-card-clover-item-1 {
    background-position: -20px -45px
}

.bg-card-clover-item-2 {
    background-position: -43px -45px
}

.bg-card-clover-item-3 {
    background-position: -66px -45px
}

.bg-card-clover-item-4 {
    background-position: -89px -45px
}

.bg-card-clover-item-5 {
    background-position: -112px -45px
}

.bg-card-clover-item-6 {
    background-position: -135px -45px
}

.bg-card-clover-item-7 {
    background-position: -158px -45px
}

.bg-card-clover-item-8 {
    background-position: -181px -45px
}

.bg-card-clover-item-9 {
    background-position: -204px -45px
}

.bg-card-clover-item-10 {
    background-position: -227px -45px
}

.bg-card-clover-item-11 {
    background-position: -250px -45px
}

.bg-card-clover-item-12 {
    background-position: -273px -45px
}

.bg-card-clover-item-13 {
    background-position: -296px -45px
}

.bg-card-heart-item-1 {
    background-position: -20px -74px;
}

.bg-card-heart-item-2 {
    background-position: -43px -74px;
}

.bg-card-heart-item-3 {
    background-position: -66px -74px;
}

.bg-card-heart-item-4 {
    background-position: -89px -74px;
}

.bg-card-heart-item-5 {
    background-position: -112px -74px;
}

.bg-card-heart-item-6 {
    background-position: -135px -74px;
}

.bg-card-heart-item-7 {
    background-position: -158px -74px;
}

.bg-card-heart-item-8 {
    background-position: -181px -74px;
}

.bg-card-heart-item-9 {
    background-position: -204px -74px;
}

.bg-card-heart-item-10 {
    background-position: -227px -74px;
}

.bg-card-heart-item-11 {
    background-position: -250px -74px;
}

.bg-card-heart-item-12 {
    background-position: -273px -74px;
}

.bg-card-heart-item-13 {
    background-position: -296px -74px;
}

.bg-card-diamond-item-1 {
    background-position: -20px -102px;
}

.bg-card-diamond-item-2 {
    background-position: -43px -102px;
}

.bg-card-diamond-item-3 {
    background-position: -66px -102px;
}

.bg-card-diamond-item-4 {
    background-position: -89px -102px;
}

.bg-card-diamond-item-5 {
    background-position: -112px -102px;
}

.bg-card-diamond-item-6 {
    background-position: -135px -102px;
}

.bg-card-diamond-item-7 {
    background-position: -158px -102px;
}

.bg-card-diamond-item-8 {
    background-position: -181px -102px;
}

.bg-card-diamond-item-9 {
    background-position: -204px -102px;
}

.bg-card-diamond-item-10 {
    background-position: -227px -102px;
}

.bg-card-diamond-item-11 {
    background-position: -250px -102px;
}

.bg-card-diamond-item-12 {
    background-position: -273px -102px;
}

.bg-card-diamond-item-13 {
    background-position: -296px -102px;
}

.notice {
    display: inline-block;
    border-radius: 10px;
    color: #ffd700;
    padding: 0 6px;
}

.receive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 3px;
}

.i-circle {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    padding: 3px;
    width: 20px;
    height: 20px;
}


/* 파일 업로드 버튼 */
.btn-upload {
    min-width: 150px;
    max-width: 168px;
    /* width: 100%; */
    height: 40px;
    background: transparent;
    border: 1px solid #535560;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btn-upload:hover {
    background: #4d4d4d;
    color: #fff;
}

.file {
    display: none;
}

/* 테이블 공통 */
/* rank */
.table-padding {
    /* border-radius: 10px;
    border: 1px solid #33353B; */
    padding: 10px 20px;
}

.table-radius {
    border-radius: 10px;
    border: 1px solid #33353B;
}

.rank-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    /* border: 1px solid #35373D;
    border-radius: 10px; */
    border-style: none;
    border-collapse: collapse;
    border-style: hidden;
}

.h50px tr {
    height: 50px;
}

.h60px tr {
    height: 60px;
}

.h100px tr {
    height: 100px;
}

.rank-table th,
.rank-table td {
    vertical-align: middle;
}


.rank-table tr {
    border-collapse: collapse;
    border: 1px solid #35373D;
    color: #afafaf;
}

.rank-table tbody tr:hover,
.tr:hover {
    background-color: #282A2E;
}

.rank-table tr:hover td {
    opacity: 1;
}

.cursor-p {
    cursor: pointer;
}

/* .rank-table tfoot tr {
    height: 100px;
} */

/* rank */
/* pagination */
.pagination .page {
    width: 44px;
    height: 44px;
    cursor: pointer;
    color: #CACACE;
    background-color: transparent;
}

.pagination .page.bc-activate {
    border-radius: 5px;
}

.pagination .page:hover {
    background-color: #35373D;
    border-radius: 5px;
}

/* pagination */


/* 여기부터 index */
.wrapper {
    display: flex !important;
    flex-direction: column;
}

/* header */
#nav {
    max-width: 240px;
    background-color: #1b1d1e;
}

#newNav {
    max-width: 55px;
    width: 25% !important;
    opacity: 1;
    visibility: visible;
}

#initialNav, #newNav {
    display: none;
    opacity: 0;
    visibility: hidden;
}

#initialNav {
    min-width: 152px;
}

.nav-text {
    color: white;
}

/* 최근메시지 영역 */
header>p {
    margin-top: 20px;
    margin-bottom: 10px;
}
#content-area {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
#content-area>div>section>div {
    display: flex;
    width: 100%;
}

#content-area>div>section>div>div {
    flex-grow: 1;
}

/* 최근메시지 영역 */
header>.nav {
    flex-flow: column;
    padding: 10px 10px;
    gap: 6px;
    border-bottom: 1px solid #2c2e33;
}

#newNav .nav {
    padding: 10px 5px;
}


header>.nav a.active {
    background-color: #8744FF;
    color: #fff !important;
    border-radius: 2px;
}

header>.nav a {
    color: #a0afbd !important;
    display: flex;
    width: 100%;
    height: 36px;
    gap: 15px;
    padding: 10px 28px 10px 15px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

header>.nav a img {
    margin-right: 17px;
}

header>.nav a>div {
    margin-right: 20px;
}

/* .nav-menu.active {
     background-color: #f0f0f0;
} */

header .chat-message {
    max-height: 300px; /* 고정 높이 설정 */
    overflow-y: auto;  /* 세로 스크롤 활성화 */
    overflow-x: hidden; /* 가로 스크롤 숨기기 (필요에 따라) */
}

header .recentMessages li {
    padding: 10px 17px;
}

#newNav .recentMessages li {
    padding: 10px 10px; /* 새로운 padding 값 설정 */
}


header .recentMessages li>a {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

header .recentMessages li div {
    line-height: 1rem;
}

.wrap>.content {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}

.gameLayer {
    padding: 10px;
    display: inline-block;
}

#profile {
    width: 60px;
    border: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


section.container>.chatLayer {
    padding: 0 0 20px 0;
}

.gameLayout {
    max-height: 217px;
    height: 100%;
    min-height: 260px;
    max-width: 320px;
    width: 100%;
    min-width: 320px;
    border-radius: 10px;
    background-color: #171516;
}

.play-btn {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    min-height: 70px;
    margin: 0 1px;
}

.left-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
}

.right-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
}

/* .header */
.wrapper>.header {
    padding: 0 20px;
    min-height: 60px;
}

.wrapper>.header .left {
    max-width: 240px;
    width: 100%;
    align-items: center;
    /* padding: 0 10px; */
}

.wrapper>.header .center .items {
    height: 34px;
    margin: 0 5px;
    background-color: #000000;
    padding: 0 14px;
}

.wrapper>.header .wrap .items button {
    border-color: #171819;
}

.charge {
    background-color: transparent !important;
    border: 1px solid #2c2e33;
}

*, :after, :before {
    outline:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    transition:all .05s ease-in-out;
    color: white;
}

.tippy-arrow::before {
    color: inherit !important;
}

.mini-icon-box {
    width: 34px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1e2023;
    border-right: 1px solid #27292d;
}

.user-menu-item {
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #27292d;
    cursor: pointer;
    color: white;
}

.mini-menu-box {
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.user-chat-menu {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    gap: 2px;
}

.chat-send-wrap {
    margin-left: auto;
}

.chat-send {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 2px;
    color: white;
    font-size: 13px;
}

.nav-icon .fa-kit {
    font-size: 18px;
}

.nav-icon .fa-sharp {
    font-size: 18px;
}

#newNav .nav-icon .fa-kit,
#newNav .nav-icon .fa-sharp {
    padding-right: 5px;
}

#gif-fold .fa-kit {
    font-size: 20px;
}

#emoticon-fold .fa-solid {
    font-size: 20px;
}

#emoticon-fold, #gif-fold {
    width: 34px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.wrapper>.header .center .items span {
    margin: 0 8px;
}

.wrapper>.header .center {
    flex-grow: 1;
    justify-content: space-between;
}

.wrapper>.header .right {
    max-width: 360px;
    width: 100%;
}

.wrapper>.header .logo {
    flex-wrap: wrap;
    width: 220px;

}

.wrapper>.header>.menu li {
    padding: 0 20px;
}

.wrapper>.header .logo {
    max-height: 60px;
}

.wrapper>.header .logo .logoText {
    font-size: 1.5rem;
    color: #fff;

}

.wrapper>.header .header-search {
    max-width: 300px;
    width: 100%;
    max-height: 34px;
    min-height: 34px;
    height: 34px;
    background-color: #2C2E33;
    border-radius: 2px;
    padding: 0 12px;
    position: relative;
}

.wrapper>.header .header-search input {
    height: 100%;
    width: 100%;
}

.wrapper>.header .menu-btn-layer {
    height: 36px;
    width: 36px;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 5px;
}

.wrapper>.header .menu-btn-layer .menu-btn {
    width: 18px;
    height: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    top: 2px;
}

.wrapper>.header .menu-btn-layer .menu-btn>.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1); /* 그림자 효과 */
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.menu-btn .line:nth-child(1) {
    top: 0;
}

.menu-btn .line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-btn .line:nth-child(3) {
    bottom: 0;
}

.wrapper>.header .menu {
    max-width: 700px;
    width: 100%;
}

.menu-btn-layer.clicked .line {
    box-shadow: none !important; /* 클릭 시 그림자 제거 */
}

.wrapper>.header .info_option {
    justify-content: right;
    width: 100%;
    gap: 10px;
}

.wrapper>.header .info_option .items {
    font-size: 0.9rem;
}


/* .wrapper>.header .info_option .items:nth-child(1),
.wrapper>.header .info_option .items:nth-child(2) {
    border-radius: 20px;
    border: 1px solid #312c2e;
} */

.wrapper>.header .info_option .items:nth-child(1) {
    color: #c4a572;
}

.wrapper>.header .info_option .items:nth-child(2) {
    color: #fff;
    padding: 0;
}

/* .wrapper>.header .info_option .items:nth-child(2)>span:last-child {
    background-color: #d88117;
    border-radius: 10px;
    height: 100%;
    padding: 10px
} */

body>div>section {
    flex-grow: 1;
    overflow: hidden;
}

body>div>section>div.wrap {
    /* flex: 1 0 auto; */
    flex-grow: 1;
    margin: 0 auto;
    text-align: center;
}

/* chatLayer */
.chatLayer {
    width: 100%;
    height: 100%;
    max-width: 360px;

}

.chatLayer>div {
    display: flex !important;
    flex-direction: column;
    height: 100%;
}

/* #a0afbd */
.chatLayer>div>div.content {
    flex-grow: 1;
    overflow-y: scroll;
}

.chatLayer>div>div.content::-webkit-scrollbar-thumb {
    background-color: #232428;
    border: 4px solid #1E2023;
}

.chatLayer>div>div.content::-webkit-scrollbar-thumb:hover {
    background-color: #5F6064;
    cursor:pointer;
}

.chatLayer>div>div.content>div>div {
    padding: 10px 0;
}

body>div>section>div.wrap>div {
    display: flex !important;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

div.mainContent {
    flex-grow: 1;
    padding: 0 0 80px 0;
}


/* sub-header */
.sub-header {
    height: 51px;
    padding: 8px 20px;
    gap: 10px;
}

.sub-header:nth-child(1) {
    border-bottom: 1px solid #3b3b3b;
}

.sub-header>.list {
    padding: 10px 12px;
    font-size: 15px;
    color: #dadde2;
}


.sub-header>.active {
    border-radius: 2px;
    background-color: #515151;
    color: #fff;
}

.sub-header-search {
    max-height: 44px;
    min-height: 44px;
    padding: 0 14px;
    border-radius: 5px;
    position: relative;
}

.sub-header-search input {
    width: 100%;
    min-height: 44px;
    height: 100%;
    color: #fff;
}

.sub-header button {
    /* width: 92px; */
    margin-left: 10px;
    padding: 0 10px;
    height: 44px;
    border-radius: 5px;
}

.sub-header .white {
    /* width: 92px; */
    margin-left: 10px;
    padding: 13px 10px;
    height: 44px;
    border-radius: 5px;
}

/* sub-header */


.chatingLayer {
    padding: 0 20px;
}

#chatingLayer {
    overflow-y: auto;
    scroll-behavior: smooth; /* 스크롤 애니메이션 */
}


.chatLayer>div>div.title {
    color: #fff;
    margin-left: 2px;
    display: flex;
    background-color: #1e2023;
    height: 51px;
}

.chatLayer>div>div.title p {
    flex: 1;
    margin: 0;
    padding: 15px 10px;
    text-align: center;
    color: #999;
    cursor: pointer;
    background-color: #1e2023;
    transition: background-color 0.3s, color 0.3s;
    line-height: 1.5; /* 텍스트 라인 높이를 조정합니다 */
}

.chatLayer>div>div.title p.active {
    color: #fff;
    background: linear-gradient(0deg, rgba(135,68,255,.3) 0%, rgba(135,68,255,.01) 100%);
    border-bottom: 2px solid #7d55ff;
}

.chatLayer>div>div.title span {
    color: white;
}

div.chatContent {
    margin-top: 8px;
    margin-left: 10px;
}

div.chatContent>div.bottom.grey-1 {
    padding: 10px;
}

div.chatContent>div.bottom {
    margin-top: 10px;
    border-radius: 0 2px 2px 10px;
    padding: 10px;
}

div.chatContent>div.text.grey-1 {
    border-radius: 10px;
    padding: 10px;
}

.chatLayer>div>div.chatInsert {
    width: 100%;
    height: 100px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background: #5f6064;
}

.chatLayer>div>div.chatInsert>input[type=text] {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0 20px;
}

/* 프로젝트 레이아웃 변경으로 html 구조가 변하여 수정  */
/* footer */
.footer {
    text-align: left;
    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    width: 100%;
}

.footer p {
    color: #B0B0B1;
}

.footer .footer-notification,
.footer .footer-corp {
    font-size: 0.8125 rem;
}

.footer .top .logo {
    justify-content: space-between;
}

.footer .center {
    margin: 20px 0;
}

.footer .footer-nav {
    justify-content: space-between;
    max-width: 1200px;
}

.footer .footer-nav .nav-list .nav-title {
    color: #B0B0B1;
    font-size: 1.0625 rem;
    margin: 20px 0;
}

.footer .footer-nav .nav-list .nav-item {
    font-size: 0.875 rem;
    margin: 15px 0;
    color: #B0B0B1;
}

.footer-corp {
    margin-top: 20px;
}

.footer-corp>div {
    margin: 12px 0;
}

/* 여기까지 footer */


/* support_notice */
.square {
    width: 74px;
    height: 30px;
    margin: 0 auto;
}

/* support_notice */
img.profile-img-24 {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

img.profile-img-30 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

img.profile-img-32 {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

img.profile-img-36 {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

img.profile-img-44 {
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

img.profile-img-48 {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

img.profile-img-52 {
    height: 52px;
    width: 52px;
    border-radius: 50%;
}

img.profile-img-60 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.no-posts {
    text-align: center;
    color: #fff;
    margin: 140px;~
}

.pointer {
    cursor: pointer;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    background: var(--rgba-08);
    transform: scale(0);
    animation: ripple-animation 0.4s linear;
    pointer-events: none;
}

#goldChip, #bettingPoints {
    font-size: 1.1rem;
}

.dropdown-toggle::after {
    color: transparent;
}

.dropdown-menu {
    transition: none !important; /* 애니메이션 전환 제거 */
}

.header-betting-point.active > i {
    color: white;
}

#coupon-count {
    margin: 0 0 0 5px;
    font-size: 16px !important;
}

.chat-panel {
  width: 300px;
  background-color: #1c1c1c;
  border-left: 1px solid #333;
  position: absolute;
  left: 15rem;
  bottom: 6rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  box-shadow: -2px 0px 5px rgba(0,0,0,0.5);
}

.chat-header {
  padding: 10px 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  z-index: 1000; /* 다른 요소들 위에 표시 */
}

.chat-content {
  flex-grow: 1;
  padding: 10px;
  color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 400px;
  scroll-behavior: smooth;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.chat-toggle {
    cursor: pointer;
}
.message-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message.me {
    justify-content: flex-end;
}

.message-text-left {
  background-color: #3d3d3d; /* 배경색 */
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
}

.message.me .message-text-right {
  background-color: #536DFE; /* 본인 메시지 배경색 */
  border-radius: 3px;
  padding: 10px;
  color: white;
  display: inline-block;
}

.message-time {
    font-size: 10px;
    color: #ccc;
    align-self: flex-end;
    width: 80px;
}
.me .message-time {
    font-size: 10px;
    color: #ccc;
    align-self: flex-end;
    width: 50px;
}

.message.me .message-time {
    margin-left: 5px;
}

.chat-footer {
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 12px;
  color: #ccc;
}

.line-container {
    display: flex;
    align-items: center;
}

.line-container p {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 8px;
}

.line-container .line {
    flex-grow: 1;
    height: 1px;
    background-color: #333;
}

.close-btn {
  cursor: pointer;
  color: #ddd;
  font-size: 16px;
  font-weight: bold;
}

.chat-text {
    justify-content: space-between;
    background-color: #3d3d3d;
    padding: 10px 0;
    overflow: hidden;
}

.chat-text input {
    width: 100%;
}

.chat-text img {
    margin: 0 5px;
}

.chat-text i {
    margin-right: 20px;
}

.emotion-btn {
    display:flex;
}

.gap {
    gap: 25px;
}

.ui-resizable {
    position: absolute !important;
}

/* 스피너 스타일 */
.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}