<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 포토</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">

<script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
<script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
        <div id="header"></div>
        <Section class="container flex-row">
           <div id="nav"></div>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list"><a href="community_free.html">지유</a></div>
                            <div class="list active"><a href="community_photo.html">포토</a></div>
                            <div class="list "><a href="#">유머</a></div>
                            <div class="list"><a href="#">동영상</a></div>
                            <div class="list"><a href="#">노하우</a></div>
                            <div class="list"><a href="#">신고게시판</a></div>
                        </div>
                        <div class="sub-header">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="제목, 내용, 태그 검색">
                            </div>
                        </div>
                        <div class="mainLayer">

                            <div class="photo-item-layer">
                                <div class="photo-layout">
                                    <div class="img">
                                        <img src="../static/images/photo/photo_1.jpg" alt="#">
                                    </div>
                                    <div class="text-wrap position-a">
                                        <div class="v-h"></div>
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                아이유가 이번에 컨셉을 아주 제대로 잡은 것 같아 보인다!
                                                <span class="count">+19</span>
                                            </div>
                                        </div>
                                        <div class="bottom  flex-row">
                                            <div class="datetime">2024.4.13 8:23</div>
                                            <div class="view">2564</div>
                                            <div class="like">44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-layout flex-row flex-c">
                                    <div class="profile">
                                        <img src="../static/images/profile/user1.png" alt="#">
                                    </div>
                                    <div class="nickname">고스트라이더</div>
                                    <div class="rank">RANK 1</div>
                                </div>
                            </div>
                            <div class="photo-item-layer">
                                <div class="photo-layout">
                                    <div class="img">
                                        <img src="../static/images/photo/photo_2.jpg" alt="#">
                                    </div>
                                    <div class="text-wrap position-a">
                                        <div class="v-h"></div>
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                박은빈 '화이트데이 사탕 주고픈 연예인' 1위
                                                <span class="count">+19</span>
                                            </div>
                                        </div>
                                        <div class="bottom  flex-row">
                                            <div class="datetime">2024.4.13 8:23</div>
                                            <div class="view">2564</div>
                                            <div class="like">44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-layout flex-row flex-c">
                                    <div class="profile">
                                        <img src="../static/images/profile/user1.png" alt="#">
                                    </div>
                                    <div class="nickname">고스트라이더</div>
                                    <div class="rank">RANK 1</div>
                                </div>
                            </div>
                            <div class="photo-item-layer">
                                <div class="photo-layout">
                                    <div class="img">
                                        <img src="../static/images/photo/photo_1.jpg" alt="#">
                                    </div>
                                    <div class="text-wrap position-a">
                                        <div class="v-h"></div>
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                아이유가 이번에 컨셉을 아주 제대로 잡은 것 같아 보인다!
                                                <span class="count">+19</span>
                                            </div>
                                        </div>
                                        <div class="bottom  flex-row">
                                            <div class="datetime">2024.4.13 8:23</div>
                                            <div class="view">2564</div>
                                            <div class="like">44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-layout flex-row flex-c">
                                    <div class="profile">
                                        <img src="../static/images/profile/user1.png" alt="#">
                                    </div>
                                    <div class="nickname">고스트라이더</div>
                                    <div class="rank">RANK 1</div>
                                </div>
                            </div>
                            <div class="photo-item-layer">
                                <div class="photo-layout">
                                    <div class="img">
                                        <img src="../static/images/photo/photo_2.jpg" alt="#">
                                    </div>
                                    <div class="text-wrap position-a">
                                        <div class="v-h"></div>
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                박은빈 '화이트데이 사탕 주고픈 연예인' 1위
                                                <span class="count">+19</span>
                                            </div>
                                        </div>
                                        <div class="bottom  flex-row">
                                            <div class="datetime">2024.4.13 8:23</div>
                                            <div class="view">2564</div>
                                            <div class="like">44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-layout flex-row flex-c">
                                    <div class="profile">
                                        <img src="../static/images/profile/user1.png" alt="#">
                                    </div>
                                    <div class="nickname">고스트라이더</div>
                                    <div class="rank">RANK 1</div>
                                </div>
                            </div>
                            <div class="photo-item-layer">
                                <div class="photo-layout">
                                    <div class="img">
                                        <img src="../static/images/photo/photo_1.jpg" alt="#">
                                    </div>
                                    <div class="text-wrap position-a">
                                        <div class="v-h"></div>
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                아이유가 이번에 컨셉을 아주 제대로 잡은 것 같아 보인다!
                                                <span class="count">+19</span>
                                            </div>
                                        </div>
                                        <div class="bottom  flex-row">
                                            <div class="datetime">2024.4.13 8:23</div>
                                            <div class="view">2564</div>
                                            <div class="like">44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-layout flex-row flex-c">
                                    <div class="profile">
                                        <img src="../static/images/profile/user1.png" alt="#">
                                    </div>
                                    <div class="nickname">고스트라이더</div>
                                    <div class="rank">RANK 1</div>
                                </div>
                            </div>
                            <div class="photo-item-layer">
                                <div class="photo-layout">
                                    <div class="img">
                                        <img src="../static/images/photo/photo_2.jpg" alt="#">
                                    </div>
                                    <div class="text-wrap position-a">
                                        <div class="v-h"></div>
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                박은빈 '화이트데이 사탕 주고픈 연예인' 1위
                                                <span class="count">+19</span>
                                            </div>
                                        </div>
                                        <div class="bottom  flex-row">
                                            <div class="datetime">2024.4.13 8:23</div>
                                            <div class="view">2564</div>
                                            <div class="like">44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-layout flex-row flex-c">
                                    <div class="profile">
                                        <img src="../static/images/profile/user1.png" alt="#">
                                    </div>
                                    <div class="nickname">고스트라이더</div>
                                    <div class="rank">RANK 1</div>
                                </div>
                            </div>
                            <div class="photo-item-layer">
                                <div class="photo-layout">
                                    <div class="img">
                                        <img src="../static/images/photo/photo_1.jpg" alt="#">
                                    </div>
                                    <div class="text-wrap position-a">
                                        <div class="v-h"></div>
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                아이유가 이번에 컨셉을 아주 제대로 잡은 것 같아 보인다!
                                                <span class="count">+19</span>
                                            </div>
                                        </div>
                                        <div class="bottom  flex-row">
                                            <div class="datetime">2024.4.13 8:23</div>
                                            <div class="view">2564</div>
                                            <div class="like">44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-layout flex-row flex-c">
                                    <div class="profile">
                                        <img src="../static/images/profile/user1.png" alt="#">
                                    </div>
                                    <div class="nickname">고스트라이더</div>
                                    <div class="rank">RANK 1</div>
                                </div>
                            </div>
                            <div class="photo-item-layer">
                                <div class="photo-layout">
                                    <div class="img">
                                        <img src="../static/images/photo/photo_2.jpg" alt="#">
                                    </div>
                                    <div class="text-wrap position-a">
                                        <div class="v-h"></div>
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                박은빈 '화이트데이 사탕 주고픈 연예인' 1위
                                                <span class="count">+19</span>
                                            </div>
                                        </div>
                                        <div class="bottom  flex-row">
                                            <div class="datetime">2024.4.13 8:23</div>
                                            <div class="view">2564</div>
                                            <div class="like">44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-layout flex-row flex-c">
                                    <div class="profile">
                                        <img src="../static/images/profile/user1.png" alt="#">
                                    </div>
                                    <div class="nickname">고스트라이더</div>
                                    <div class="rank">RANK 1</div>
                                </div>
                            </div>

                        </div>
                    </div>

                   <div id="footer"></div>
                </div>

            </div>
           <div id="chat"></div>
        </Section>
    </div>
    <script>
        $(function () {
            $('select').selectric();
        });
    </script>
</body>

</html>