<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <link rel="stylesheet" href="../static/css/page/community/write.css">
    <script src="../static/js/community.js"></script>
</head>
<body>
    <div class="wrapper bc-black vh100 ">
        <Section class="flex-row">
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="mainLayer">
                            <div class="sub-header flex-row flex-c white opacity60 px15">
                                <div class="list active"><a href="community_free">자유</a></div>
                                <div class="list "><a href="community_photo">포토</a></div>
                                <!--                            <div class="list "><a href="#">유머</a></div>-->
                                <div class="list"><a href="#">동영상</a></div>
                                <!--                            <div class="list"><a href="#">노하우</a></div>-->
                                <!--                            <div class="list"><a href="#">신고게시판</a></div>-->
                            </div>
                            <div class="container">
                                <div class="tit">
                                    <span>글작성</span>
                                    <div class="submit-buttons">
                                        <button>임시등록</button>
                                        <button>등록</button>
                                    </div>
                                </div>
                                <input type="text" class="input-title" placeholder="제목을 입력해 주세요.">
                                <div class="toolbar-wrapper">
                                    <div class="toolbar">
                                        <div class="section">
                                            <button class="toolbar-btn"></button>
                                            <button class="toolbar-btn"></button>
                                            <button class="toolbar-btn"></button>
                                            <button class="toolbar-btn"></button>
                                        </div>
                                        <div class="section">
                                            <button class="toolbar-btn"></button>
                                            <button class="toolbar-btn"></button>
                                            <button class="toolbar-btn"></button>
                                            <button class="toolbar-btn"></button>
                                        </div>
                                        <div class="section">
                                            <button class="toolbar-btn"></button>
                                            <button class="toolbar-btn"></button>
                                        </div>
                                        <div style="flex-grow: 1;"></div>
                                    </div>
                                    <div class="editor" contenteditable="true"></div>
                                    <input type="text" class="input-tags" placeholder="# 태그를 입력해 주세요 (최대 5개)">
                                </div>
                            </div>
                    <div id="footer" class=" bc-footer">
                </div>
            </div>
        </Section>
    </div>
</body>
</html>