<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/find-id.js"></script>
    <link rel="stylesheet" href="../static/css/page/assign.css"/>
</head>

<body>

<div class="wrapper bc-brown vh100 ">
    <div class="login-wrap max1280 flex-c-c assign-wrap">
        <div class="header"></div>
        <div class="content">
            <form action="/login" method="post">
                <div class="inputfields">
                    <div class="field-input  flex-c">
                        <input type="text" name="username" id="id" placeholder="아이디" required>
                    </div>
                    <div class="field-input  flex-c">
                        <input type="password" name="password" id="password" placeholder="비밀번호" required>
                    </div>
                    <div class="etcGroup">
                        <div class="field">
                            <input type="checkbox" name="remember-me" id="all">
                            <label for="all"></label>
                            <div class="top">
                                로그인 상태 유지
                            </div>
                        </div>
                        <div class="href">
                            <a href="/register">회원가입</a>
                            <a href="/find-id">계정정보 찾기</a>
                            <a href="/find-password">비밀번호 찾기</a>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <button type="submit">로그인</button>
                </div>
            </form>
            <!-- hjh.20240610 : SNS 주석처리 -->
            <!-- <div class="sns">-->
            <!--     <p class="line">SNS 로그인</p>-->
            <!--     <div class="herf-sns">-->
            <!--         <a href="" class="login-btn-sns naver position-r"><span class="icon-sns icon-naver position-a"></span>-->
            <!--             <div class="text-center"><span>네이버 로그인</span></div></a>-->
            <!--         <a href="" class="login-btn-sns kakao  position-r"><span class="icon-sns icon-kakao position-a"></span><span>카카오 로그인</span></a>-->
            <!--         <a href="" class="login-btn-sns google  position-r"><span class="icon-sns icon-google position-a"></span><span>구글 로그인</span></a>-->
            <!--     </div>-->
            <!-- </div>-->
        </div>
        <div class="footer">© Graycode All Rights Reserved.</div>
    </div>
</div>
</body>

</html>
