<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <link rel="stylesheet" href="../static/css/page/assign.css"/>
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/find-password.js"></script>
</head>

<body>
    <div id="content-area" class="flex-grow" style="">
        <div class="wrapper bc-main vh100 ">
            <div class="login-wrap max1280 flex-c-c assign-wrap">
                <div class="header m-t-80 m-b-40 m-b-40">
                    <div class="logo m-b-40">
                        <img th:src="@{/static/images/logo/login_logo.png}" alt="logo.png">
                    </div>
                </div>
                <div class="content">
                    <form action="/login" method="post">
                        <div class="top px16 white m-b-18">
                            비밀번호 찾기를 위한 에볼챗 아이디를 입력해 주세요.
                        </div>
                        <div class="inputfields m-b-18">
                            <div class="field-input  flex-c">
                                <img class="id" src="../static/images/svg/input-icon-id.svg" alt="">
                                <input type="text" name="username" id="id" placeholder="graycode" required>
                            </div>
                        </div>
                        <div class="btns">
                            <button id="login-button" type="submit">
                                <span class="white">다음</span>
                            </button>
                        </div>
                    </form>
                    <!-- hjh.20240610 : SNS 주석처리 -->
                    <!-- <div class="sns">-->
                    <!--     <p class="line">SNS 로그인</p>-->
                    <!--     <div class="herf-sns">-->
                    <!--         <a href="" class="login-btn-sns naver position-r"><span class="icon-sns icon-naver position-a"></span>-->
                    <!--             <div class="text-center"><span>네이버 로그인</span></div></a>-->
                    <!--         <a href="" class="login-btn-sns kakao  position-r"><span class="icon-sns icon-kakao position-a"></span><span>카카오 로그인</span></a>-->
                    <!--         <a href="" class="login-btn-sns google  position-r"><span class="icon-sns icon-google position-a"></span><span>구글 로그인</span></a>-->
                    <!--     </div>-->
                    <!-- </div>-->
                </div>
                <div class="footer">
                    <img th:src="@{/static/images/logo/corp.png}" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
