<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴</title>
    <script src="../static/js/item.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
<!--        <div id="header" class="header flex-row bc-header"></div>-->
        <Section class="flex-row">
<!--            <div id="nav" class="bc-aside g-12"></div>-->
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list"><a href="#">내정보</a></div>
                            <div class="list active"><a href="#">아이템</a></div>
                            <div class="list"><a href="#">캐시</a></div>
                            <div class="list"><a href="#">배팅 포인트</a></div>
                            <div class="list"><a href="#">활동 포인트</a></div>
                            <div class="list"><a href="#">골드칩</a></div>
                            <div class="list"><a href="#">마이홈</a></div>
                            <div class="list"><a href="#">비밀번호변경</a></div>
                        </div>
                        <div class="sub-header flex-row flex-c">
                            <div class="sub-header-search bc-footer flex-grow">
                                <input type="text" placeholder="닉네임 검색">
                                <img src="../static/images/svg/search.svg" alt=""
                                    class="input-icon search" />
                            </div>
                        </div>

                        <div class="mainLayer ">
                            <div class="content-wrap flex-c-c flex-column h100"> <!-- <div class="img-illust illust-2"></div> -->
                                <img src="../static/images/svg/illustration-my-item.svg" alt="">
                                <p class="gray px19">보유 아이템이 없습니다.</p>
                            </div>
                        </div>
                    </div>

                    <div id="footer" class=" bc-footer">
                </div>

            </div>

        </Section>
    </div>
    
</body>

</html>