<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
    <script th:src="@{/static/js/login.js}"></script>
    <link href="../static/css/page/assign.css"/>
</head>

<body>

<div class="wrapper bc-main vh100">
    <div class="loading-overlay">
        <div class="loading-spinner"></div>
    </div>
    <div class="login-wrap max1280 flex-c-c assign-wrap">
        <div class="header m-b-40">
            <div class="safety grey-3 px17 m-b-40">
                <p>SAFETY AREA</p>
            </div>
            <div class="logo">
                <img th:src="@{/static/images/logo/login_logo.png}" alt="logo.png">
            </div>
        </div>
        <div class="content">
            <form id="loginForm" th:action="@{/login}" method="post">
                <div th:if="${param.error}" class="error-message">
                    <p th:text="${error}"></p>
                </div>
                <div th:if="${param.logout}" class="success-message">
                    <p th:text="${logout}"></p>
                </div>
                <div class="inputfields">
                    <div class="field-input m-b-10 flex-c">
                        <input type="text" name="username" id="id" placeholder="아이디" autocomplete="username" required>
                    </div>
                    <div class="field-input flex-c">
                        <input type="password" name="password" id="password" placeholder="비밀번호" autocomplete="current-password" required>
                    </div>
                    <div class="etcGroup">
                        <div class="field white flex-c flex-row m-b-20">
                            <input type="checkbox" name="remember-me" id="remember-me">
                            <label for="remember-me"></label>
                            <div class="top opacity60 px14">
                                로그인 상태 유지
                            </div>
                        </div>
                        <div class="btns m-b-20">
                            <button type="submit">
                                <span class="white">로그인</span>
                            </button>
                        </div>
                        <div class="href px14 flex-c-c flex-sa">
                            <a class="white opacity60" th:href="@{/register}">회원가입</a>
                            <a class="white opacity60" th:href="@{/find-id}">아이디 찾기</a>
                            <a class="white opacity60" th:href="@{/find-password}">비밀번호 찾기</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="footer">
            <img th:src="@{/static/images/logo/corp.png}" alt="">
        </div>
    </div>
</div>
</body>
</html>
