<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
</head>

<body>

    <div class="wrapper bc-main vh100 ">
        <div class="login-wrap max1280 flex-c-c assign-wrap">
            <div class="header m-b-40">
                <div class="safety grey-3 px17 m-b-40"><p>SAFETY AREA</p></div>
                <div class="logo"><img src="../static/images/logo/login_logo.png" alt="logo.png"></div>
            </div>
            <div class="content">
                <form action="/login" method="post">
                    <div class="inputfields ">
                        <p class="white px15">비밀번호 찾기를 위한 에볼챗 아이디를 입력해 주세요.</p>
                        <div class="field-input m-b-10 flex-c">
                            <input type="text" name="username" id="id" placeholder="아이디" required>
                        </div>
                        <div class="etcGroup">
                            <div class="btns m-b-20">
                                <button type="submit"><span class="white">다음</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="footer"><img src="../static/images/logo/corp.png" alt=""></div>
        </div>
    </div>
</body>

</html>