<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 메신저 - 차단목록</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
        <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
        <div id="header"></div>
        <Section class="container flex-row">
            <div id="nav"></div>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list"><a href="messenger_friend.html">친구</a></div>
                            <div class="list"><a href="messenger_message.html">메시지</a></div>
                            <div class="list active"><a href="messenger_blocklists.html">차단 목록</a></div>
                            <div class="list"><a href="messenger_add_friend.html">친구 추가하기</a></div>
                        </div>
                        <div class="sub-header">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="닉네임 검색">
                            </div>
                        </div>
                      
                        <div class="mainLayer ">
                            <div class="content-wrap flex-c-c flex-column">
                                <div class="img-illust illust-4"></div>
                                <P>차단 친구가 없습니다.</P>
                            </div>
                        </div>
                    </div>

                    <div id="footer"></div>
                </div>

            </div>
            <div id="chat"></div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>