<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 활동포인트</title>
    <script src="../static/js/my_activitypoints.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
<!--        <div id="header" class="header flex-row bc-header"></div>-->
        <Section class="container flex-row">
<!--            <div id="nav" class="bc-aside g-12"></div>-->
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list active"><a href="#">내정보</a></div>
                            <div class="list"><a href="#">아이템</a></div>
                            <div class="list"><a href="#">캐시</a></div>
                            <div class="list"><a href="#">배팅 포인트</a></div>
                            <div class="list"><a href="#">활동 포인트</a></div>
                            <div class="list"><a href="#">골드칩</a></div>
                            <div class="list"><a href="#">마이홈</a></div>
                            <div class="list"><a href="#">비빌번호 변경</a></div>
                        </div>
                        <div class="sub-header hidden">
                            <div class="sub-header-search bc-footer flex-grow">
                                <input type="text" placeholder="닉네임 검색">
                                <img src="../static/images/svg/search.svg" alt=""
                                    class="input-icon search" />
                            </div>
                        </div>

                        <div class="mainLayer white">
                            <div class="content-wrap flex-c-c flex-column p-20 mypage">
                                <div class="etc flex-row">
                                    <div class="money-wrap g-6" style="margin-right: 20px;">
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>보유 활동 포인트</div>
                                            <div>20,644</div>
                                        </div>
                                        <br>
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>게시글</div>
                                            <div>101</div>
                                        </div>
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>댓글</div>
                                            <div>204</div>
                                        </div>
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>조회수</div>
                                            <div>2,000</div>
                                        </div>
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>추천</div>
                                            <div>45000</div>
                                        </div>
                                      
                                    </div>
                                    <div class="flex-row g-6">
                                        <div class="text-wrap  g-6">
                                            <div class="title">활동 포인트</div>
                                            <ol>
                                                <li>활동 포인트 200은 골드칩 1개로 전환이 가능합니다.</li>
                                                <li>게시글, 댓글, 추천으로 얻은 포인트는 게시물이나 댓글 삭제 시 회수되며, 이를 골다 칩의 전환 목적으로 악용 시 모든 포인트와 골다 칩, 캐시 등이 몰수되며, 활동 정지를 당할 수 있습니다.</li>
                                                <li>조회수에 의한 활동 포인트 지급은 전체 조회 수가 100씩 올라갈 때마다 지급됩니다.</li>
                                            </ol>
                                            <div class="flex-row flex-c">
                                                <div>게시글<span>+5</span></div>
                                                <div>댓글<span>+2</span></div>
                                                <div>조회수<span>+1</span></div>
                                                <div>추천<span>+2</span></div>
                                            </div>

                                        </div>
                                        <div class="img-illust illust-5"></div>
                                    </div>

                                </div>
                                <div class="table-radius">
                                    <table class="mypqge-table white">
                                        <thead>
                                            <tr class="text-center">
                                                <th>분류</th>
                                                <th>내용</th>
                                                <th>활동 포인트</th>
                                                <th>남은 포인트</th>
                                                <th>일시</th>
                                            </tr>
                                        </thead>
                                        <tbody  class="text-left">
                                            <tr>
                                                <td>게시글</td>
                                                <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                <td class="text-center">+5</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            <tr>
                                                <td>댓글</td>
                                                <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                <td class="text-center">+5</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            <tr>
                                                <td>조회수</td>
                                                <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                <td class="text-center">+5</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            <tr>
                                                <td>추천</td>
                                                <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                <td class="text-center">+5</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            <tr>
                                                <td>전환</td>
                                                <td>골드칩 5개로 전환</td>
                                                <td class="text-center">-1000</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
    
                                </div>
                            </div>
                           
                        </div>
                       
                    </div>

                
                </div>

            </div>
<!--            <div id="chat" class="content chatLayer bc-aside"></div>-->
        </Section>
    </div>

</body>

</html>