<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 활동포인트</title>

    <script>
        (function (d) {
            var config = {
                kitId: 'xfr4aba',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <link rel="stylesheet" href="../static/css/style.css">
<!-- select box -->
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <!-- select box -->

</head>

<body>
    <div class="wrapper bc-black vh100 ">
        <div class="header flex-row bc-header">
            <div class="wrap flex-row left">
                <div class="logo flex-row flex-c">
                    <div class="bg-nav bg-logo"></div>
                    <div class="logoText">EVOLCHAT</div>
                    <div class="menu-btn-layer">
                        <div class="menu-btn">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center  flex-row flex-c">
                <div class="header-search">
                    <input type="text" class="white" placeholder="에볼류션 테이블 검색">
                    <i class="search"></i>
                </div>
                <div class="white flex-row flex-c px15">
                    <div class="items flex-c"><span class="bg-i-item-1 "></span><span>JACKPOT</span><span>1,592</span>
                    </div>
                    <div class="items flex-c"><span class="bg-i-item-2 "></span><span>B</span><span>1,000,002</span>
                    </div>
                    <div class="items flex-c"><span class="bg-i-item-3 ">TEMP</span></div>
                    <div class="items flex-c"><span class="bg-i-item-4 ">TEMP</span></div>
                </div>
            </div>
            <div class="wrap flex-row right flex-c">
                <div class="info_option flex-row">
                    <div class="items flex-c"><span class="bg-i-btn  bg-i-btn-1"></span></div>
                    <div class="items flex-c"><span class="bg-i-btn  bg-i-btn-2"></span></div>
                    <div class="items flex-c active"><span class="bg-i-btn  bg-i-btn-3"></span></div>
                    <div class="items flex-c"><span class="bg-i-btn  bg-i-btn-4"></span></div>
                    <div class="items flex-c"><span class="bg-i-btn  bg-i-btn-5"></span></div>
                    <div class="items flex-c"><img src="../static/images/profile/user1.png" alt="프로필이미지.png"></div>
                </div>
            </div>


        </div>
        <Section class="container flex-row">
            <header class="bc-aside">
                <ul class="nav">
                    <li class="grey-1"><a class="" href="#">
                            <div class="bg-i-manu bg-i-manu-1"></div>에볼루션
                        </a></li>
                    <li class="grey-1"><a class="" href="#">
                            <div class="bg-i-manu bg-i-manu-10"></div>오토봇
                        </a></li>

                    <li class="grey-1"><a class="" href="openchat.html">
                            <div class="bg-i-manu bg-i-manu-3"></div>오픈채팅
                        </a></li>
                    <li class="grey-1"><a class="" href="community_free.html">
                            <div class="bg-i-manu bg-i-manu-4"></div>커뮤니티
                        </a></li>
                    <li class="grey-1"><a class="" href="rank.html">
                            <div class="bg-i-manu bg-i-manu-5"></div>랭킹
                        </a></li>
                      <li class="grey-1"><a class="" href="shopping.html">
                            <div class="bg-i-manu bg-i-manu-6"></div>상점
                        </a></li>
                    <li class="grey-1"><a class="" href="support_notice.html">
                            <div class="bg-i-manu bg-i-manu-7"></div>고객센터
                        </a></li>
                    <li class="grey-1"><a class="" href="messenger_friend.html">
                            <div class="bg-i-manu bg-i-manu-2"></div>메신저<span class="notice hidden">3</span>
                        </a></li>
                </ul>
                <p class="px12 opacity60 white">최근 메시지 <span class="orange">4</span></p>
                <ul class="white recentMessages">
                    <li class="grey-1"><a href="#" class="flex-row flex-c">
                            <img src="../static/images/profile/user1.png" />
                            <div class="opacity60">
                                <p class=" px14">슈퍼컴퓨터분석</p>
                                <p class=" px12">오늘 언제 시작하세요?</p>
                            </div>
                            <span class="notice">3</span>
                        </a>
                    </li>
                    <li class="grey-1"><a href="#" class="flex-row flex-c">
                            <img src="../static/images/profile/user1.png" />
                            <div class="opacity60">
                                <p class=" px14">슈퍼컴퓨터분석</p>
                                <p class=" px12">오늘 언제 시작하세요?</p>
                            </div>
                            <span class="notice">3</span>
                        </a>
                    </li>
                    <li class="grey-1"><a href="#" class="flex-row flex-c">
                            <img src="../static/images/profile/user1.png" />
                            <div class="opacity60">
                                <p class=" px14">슈퍼컴퓨터분석</p>
                                <p class=" px12">오늘 언제 시작하세요?</p>
                            </div>
                            <span class="notice">3</span>
                        </a>
                    </li>
                    <li class="grey-1"><a href="#" class="flex-row flex-c">
                            <img src="../static/images/profile/user1.png" />
                            <div class="opacity60">
                                <p class=" px14">슈퍼컴퓨터분석</p>
                                <p class=" px12">오늘 언제 시작하세요?</p>
                            </div>
                            <span class="notice">3</span>
                        </a>
                    </li>
                </ul>
            </header>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list active"><a href="#">내정보</a></div>
                            <div class="list"><a href="#">아이템</a></div>
                            <div class="list"><a href="#">캐시</a></div>
                            <div class="list"><a href="#">배팅 포인트</a></div>
                            <div class="list"><a href="#">활동 포인트</a></div>
                            <div class="list"><a href="#">골드칩</a></div>
                            <div class="list"><a href="#">마이홈</a></div>
                            <div class="list"><a href="#">비빌번호 변경</a></div>
                        </div>
                        <div class="sub-header hidden">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="닉네임 검색">
                            </div>
                        </div>

                        <div class="mainLayer white">
                            <div class="content-wrap flex-c-c flex-column p-20 mypage">
                                <div class="etc flex-row">
                                    <div class="money-wrap g-6" style="margin-right: 20px;">
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>보유 활동 포인트</div>
                                            <div>20,644</div>
                                        </div>
                                        <br>
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>게시글</div>
                                            <div>101</div>
                                        </div>
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>댓글</div>
                                            <div>204</div>
                                        </div>
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>조회수</div>
                                            <div>2,000</div>
                                        </div>
                                        <div class="flex-row flex-c">
                                            <div></div>
                                            <div>추천</div>
                                            <div>45000</div>
                                        </div>
                                      
                                    </div>
                                    <div class="flex-row g-6">
                                        <div class="text-wrap  g-6">
                                            <div class="title">활동 포인트</div>
                                            <ol>
                                                <li>활동 포인트 200은 골드칩 1개로 전환이 가능합니다.</li>
                                                <li>게시글, 댓글, 추천으로 얻은 포인트는 게시물이나 댓글 삭제 시 회수되며, 이를 골다 칩의 전환 목적으로 악용 시 모든 포인트와 골다 칩, 캐시 등이 몰수되며, 활동 정지를 당할 수 있습니다.</li>
                                                <li>조회수에 의한 활동 포인트 지급은 전체 조회 수가 100씩 올라갈 때마다 지급됩니다.</li>
                                            </ol>
                                            <div class="flex-row flex-c">
                                                <div>게시글<span>+5</span></div>
                                                <div>댓글<span>+2</span></div>
                                                <div>조회수<span>+1</span></div>
                                                <div>추천<span>+2</span></div>
                                            </div>

                                        </div>
                                        <div class="img-illust illust-5"></div>
                                    </div>

                                </div>
                                <div class="table-radius">
                                    <table class="mypqge-table white">
                                        <thead>
                                            <tr class="text-center">
                                                <th>분류</th>
                                                <th>내용</th>
                                                <th>활동 포인트</th>
                                                <th>남은 포인트</th>
                                                <th>일시</th>
                                            </tr>
                                        </thead>
                                        <tbody  class="text-left">
                                            <tr>
                                                <td>게시글</td>
                                                <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                <td class="text-center">+5</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            <tr>
                                                <td>댓글</td>
                                                <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                <td class="text-center">+5</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            <tr>
                                                <td>조회수</td>
                                                <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                <td class="text-center">+5</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            <tr>
                                                <td>추천</td>
                                                <td>내일만 사는 놈은 오늘만 사는놈 한테 죽는다.</td>
                                                <td class="text-center">+5</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            <tr>
                                                <td>전환</td>
                                                <td>골드칩 5개로 전환</td>
                                                <td class="text-center">-1000</td>
                                                <td class="text-right">20,649</td>
                                                <td  class="text-center">2024-05-21 23:23:09</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
    
                                </div>
                            </div>
                           
                        </div>
                       
                    </div>

                
                </div>

            </div>
            <div class="content chatLayer bc-aside">
                <div class="chat">
                    <div class="title">
                        <p>코리아 스피드 바카라 A <span class="">582</span></p>
                    </div>
                    <div class="content">
                        <div class="chatingLayer">
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white bc-activate">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="../static/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="chatInsert bc-gray-dark">
                        <div class="btn other"></div>
                        <input type="text" placeholder="채팅 메세지 보내기">
                        <div class="btn gif"></div>
                        <div class="btn img"></div>
                    </div>
                </div>
            </div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>