<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 내 아이템</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
        <div id="header" class="header flex-row bc-header"></div>
        <Section class="container flex-row">
            <div id="nav" class="bc-aside g-12"></div>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main myitem">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list "><a href="#">내정보</a></div>
                            <div class="list active"><a href="#">아이템</a></div>
                            <div class="list"><a href="#">캐시</a></div>
                            <div class="list"><a href="#">배팅 포인트</a></div>
                            <div class="list"><a href="#">활동 포인트</a></div>
                            <div class="list"><a href="#">골드칩</a></div>
                            <div class="list"><a href="#">마이홈</a></div>
                            <div class="list"><a href="#">비빌번호 변경</a></div>
                        </div>
                        <div class="sub-header ">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="닉네임 검색">
                                <img src="../../resources/static/images/svg/search.svg" alt=""
                                    class="input-icon search" />
                            </div>
                        </div>
                        <div class="mainLayer">
                            <div class="item-list">
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-1"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="bottom white flex-row flex-c">
                                        <div class="count-btn-wrap">
                                            보유<span>3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">프로필 사진 등록권</div>
                                            <div class="text">프로필 사진을 등록, 변경할 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-2"></div>
                                        </div>
                                    </div>
                                    <div class="bottom white flex-row flex-c">
                                        <div class="count-btn-wrap">
                                            보유<span>3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">프로필 배경 등록권</div>
                                            <div class="text">프로필 배경 이미지를 등록, 변경할 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-3"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="bottom white flex-row flex-c">
                                        <div class="count-btn-wrap">
                                            보유<span>3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">전적 초기화</div>
                                            <div class="text">지난 배팅 내역을 초기화 합니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-14"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="bottom white flex-row flex-c">
                                        <div class="count-btn-wrap">
                                            보유<span>3</span>
                                        </div>
                                        <button>사용하기</button>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">활동정지 해제</div>
                                            <div class="text">애볼쳇 이용규정을 어겨 활동정지된 상태에서 벗어 날 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-15"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="bottom white flex-row flex-c">
                                        <div class="count-btn-wrap">
                                            보유<span>3</span>
                                        </div>
                                        <button>사용하기</button>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">1개월</div>
                                            <div class="name">에볼챗 프리미엄 구독권</div>
                                            <div class="text">닉네임, 프로필 사진, 마이홈 배경, 오늘의 한마디, 채팅, 메신저, 채팅 이미지, GIF, 이모티콘 무제한 이용가능</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-13"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="bottom white flex-row flex-c">
                                        <div class="count-btn-wrap use-btn ">
                                            사용중
                                        </div>
                                        <p class="use" >5월 30일 19:23:12 만료됨</p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div id="footer"></div>
                </div>

            </div>
            <div id="chat" class="content chatLayer bc-aside"></div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>