<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 오픈채팅</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/openchat.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
<!--        <div id="header" class="header flex-row bc-header"></div>-->
        <Section class="container flex-row">
<!--            <div id="nav" class="bc-aside g-12"></div>-->
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="mainLayer">
                            <div class="room-layer">
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img flex-c-c">
                                            <img src="../static/images/svg/logo.svg" alt="" style="height: auto; width: auto;" />
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="../static/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="../static/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="../static/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="../static/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="../static/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="../static/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="../static/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="../static/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="../static/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom flex-c">
                                            <img src="../static/images/svg/people.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">582</span>
                                            <img src="../static/images/svg/hearts.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">485</span>
                                            <img src="../static/images/svg/star.svg" alt="" style="height: auto; width: auto;" /><span class="opacity60">4856</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div id="footer"></div>
                </div>

            </div>
<!--            <div id="chat" class="content chatLayer bc-aside"></div>-->
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>