<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 오픈채팅</title>

    <script>
        (function (d) {
            var config = {
                kitId: 'xfr4aba',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <link rel="stylesheet" href="/static/css/style.css">
<!-- select box -->
    <script src="/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <link rel="stylesheet" href="/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <!-- select box -->
    
</head>

<body>
    <div class="wrapper bc-black vh100 ">
        <div class="header flex-row bc-header">
            <div class="wrap flex-row left">
                <div class="logo flex-row flex-c">
                    <div class="bg-nav bg-logo"></div>
                    <div class="logoText">EVOLCHAT</div>
                    <div class="menu-btn-layer">
                        <div class="menu-btn">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center  flex-row flex-c">
                <div class="header-search">
                    <input type="text" class="white" placeholder="에볼류션 테이블 검색">
                    <i class="search"></i>
                </div>
                <div class="white flex-row flex-c px15">
                    <div class="items flex-c"><span class="bg-i-item-1 "></span><span>JACKPOT</span><span>1,592</span>
                    </div>
                    <div class="items flex-c"><span class="bg-i-item-2 "></span><span>B</span><span>1,000,002</span>
                    </div>
                    <div class="items flex-c"><span class="bg-i-item-3 ">TEMP</span></div>
                    <div class="items flex-c"><span class="bg-i-item-4 ">TEMP</span></div>
                </div>
            </div>
            <div class="wrap flex-row right flex-c">
                <div class="info_option flex-row">
                    <div class="items flex-c"><span class="bg-i-btn  bg-i-btn-1"></span></div>
                    <div class="items flex-c"><span class="bg-i-btn  bg-i-btn-2"></span></div>
                    <div class="items flex-c active"><span class="bg-i-btn  bg-i-btn-3"></span></div>
                    <div class="items flex-c"><span class="bg-i-btn  bg-i-btn-4"></span></div>
                    <div class="items flex-c"><span class="bg-i-btn  bg-i-btn-5"></span></div>
                    <div class="items flex-c"><img src="/images/profile/user1.png" alt="프로필이미지.png"></div>
                </div>
            </div>


        </div>
        <Section class="container flex-row">
            <header class="bc-aside">
                <ul class="nav">
                    <li class="grey-1"><a class="" href="#">
                            <div class="bg-i-manu bg-i-manu-1"></div>에볼루션
                        </a></li>
                    <li class="grey-1"><a class="" href="#">
                            <div class="bg-i-manu bg-i-manu-10"></div>오토봇
                        </a></li>

                    <li class="grey-1"><a class="" href="./openchat.html">
                            <div class="bg-i-manu bg-i-manu-3"></div>오픈채팅
                        </a></li>
                    <li class="grey-1"><a class="" href="./community_free.html">
                            <div class="bg-i-manu bg-i-manu-4"></div>커뮤니티
                        </a></li>
                    <li class="grey-1"><a class="" href="./rank.html">
                            <div class="bg-i-manu bg-i-manu-5"></div>랭킹
                        </a></li>
                      <li class="grey-1"><a class="" href="./shopping.html">
                            <div class="bg-i-manu bg-i-manu-6"></div>상점
                        </a></li>
                    <li class="grey-1"><a class="" href="./support_notice.html">
                            <div class="bg-i-manu bg-i-manu-7"></div>고객센터
                        </a></li>
                    <li class="grey-1"><a class="" href="./messenger_friend.html">
                            <div class="bg-i-manu bg-i-manu-2"></div>메신저<span class="notice hidden">3</span>
                        </a></li>
                </ul>
                <p class="px12 opacity60 white">최근 메시지 <span class="orange">4</span></p>
                <ul class="white recentMessages">
                    <li class="grey-1"><a href="#" class="flex-row flex-c">
                            <img src="/images/profile/user1.png" />
                            <div class="opacity60">
                                <p class=" px14">슈퍼컴퓨터분석</p>
                                <p class=" px12">오늘 언제 시작하세요?</p>
                            </div>
                            <span class="notice">3</span>
                        </a>
                    </li>
                    <li class="grey-1"><a href="#" class="flex-row flex-c">
                            <img src="/images/profile/user1.png" />
                            <div class="opacity60">
                                <p class=" px14">슈퍼컴퓨터분석</p>
                                <p class=" px12">오늘 언제 시작하세요?</p>
                            </div>
                            <span class="notice">3</span>
                        </a>
                    </li>
                    <li class="grey-1"><a href="#" class="flex-row flex-c">
                            <img src="/images/profile/user1.png" />
                            <div class="opacity60">
                                <p class=" px14">슈퍼컴퓨터분석</p>
                                <p class=" px12">오늘 언제 시작하세요?</p>
                            </div>
                            <span class="notice">3</span>
                        </a>
                    </li>
                    <li class="grey-1"><a href="#" class="flex-row flex-c">
                            <img src="/images/profile/user1.png" />
                            <div class="opacity60">
                                <p class=" px14">슈퍼컴퓨터분석</p>
                                <p class=" px12">오늘 언제 시작하세요?</p>
                            </div>
                            <span class="notice">3</span>
                        </a>
                    </li>
                </ul>
            </header>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="mainLayer">
                            <div class="room-layer">
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room">
                                    <div class="photo-layout">
                                        <div class="img">
                                            <img src="/images/photo/photo_1.jpg" alt="#">
                                        </div>
                                    </div>
                                    <div class="text-wrap position-r">
                                        <div class="position-a">
                                            <img src="/images/profile/user1.png" alt="#">
                                        </div>
                                        <div class="v-h"></div> 
                                        <div class="top">
                                            <div class="tit-wrap white">
                                                코리아 스피드 바카라 B
                                            </div>
                                            <div class="summary">
                                                🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트🤩100출 500마감 프로젝트
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <span class="">582</span>
                                            <span class="">485</span>
                                            <span class="">4856</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="footer grey-5 bc-footer">
                        <div class="footer-notification">
                            <div class="top">
                                <div class="logo flex-c flex-row"><img src="/images/logo/logo.png" alt="EVOLCHAT 로고">
                                    <div class="icons-wrap">
                                        <div class="icon-sns icon-apple"></div>
                                        <div class="icon-sns icon-google-play"></div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="center  px13">
                                <p>에볼챗(evolchat.com)은 데이터를 기반으로 한 게임 분석 및 커뮤니티, 채팅을 서비스합니다.<br> 금전을 걸고 할 수 있는 도박은 제공하지 않으며,
                                    무료로 제공되는 양도가 불가능한 배팅 포인트를 이용하여 가상의 배팅을 즐기실 수 있습니다.</p>
                            </div>
                            <div class="bottom flex-row flex-c px13">
                                <div class="icon icon-19"></div>
                                <p>에볼챗은 만 19세 미만의 청소년은 가입이 불가합니다.<br> 본인이 아닌 타인의 명의를 도용, 대여하여 인증하는 행위를 금지합니다.</p>
                            </div>
                        </div>
                        <div class="footer-nav flex-row px14">
                            <div class="nav-list">
                                <div class="nav-title px17"><a href="#">에볼루션</a></div>
                                <div class="nav-item"><a href="#">바카라</a></div>
                                <div class="nav-item"><a href="#">식보</a></div>
                                <div class="nav-item"><a href="#">최고의 게임</a></div>
                                <div class="nav-item"><a href="#">룰렛</a></div>
                                <div class="nav-item"><a href="#">게임 쇼</a></div>
                                <div class="nav-item"><a href="#">즐겨찾기</a></div>
                            </div>
                            <div class="nav-list">
                                <div class="nav-title px17"><a href="#">커뮤니티</a></div>
                                <div class="nav-item"><a href="#">자유</a></div>
                                <div class="nav-item"><a href="#">포토</a></div>
                                <div class="nav-item"><a href="#">유머</a></div>
                                <div class="nav-item"><a href="#">동영상</a></div>
                                <div class="nav-item"><a href="#">노하우&팁</a></div>
                                <div class="nav-item"><a href="#">신고게시판</a></div>
                            </div>
                            <div class="nav-list">
                                <div class="nav-title px17"><a href="#">오픈채팅</a></div>
                                <div class="nav-item"><a href="#">오픈채팅 목록</a></div>
                                <div class="nav-item"><a href="#">오픈채팅 개설</a></div>
                            </div>
                            <div class="nav-list">
                                <div class="nav-title px17"><a href="#">랭킹</a></div>
                                <div class="nav-item"><a href="#">수익</a></div>
                                <div class="nav-item"><a href="#">승률</a></div>
                                <div class="nav-item"><a href="#">연승</a></div>
                                <div class="nav-item"><a href="#">잭팟 수령</a></div>
                            </div>
                            <div class="nav-list">
                                <div class="nav-title px17"><a href="#">상점</a></div>
                                <div class="nav-item"><a href="#">채팅</a></div>
                                <div class="nav-item"><a href="#">꾸미기</a></div>
                                <div class="nav-item"><a href="#">포인트</a></div>
                                <div class="nav-item"><a href="#">골드칩</a></div>
                                <div class="nav-item"><a href="#">기타</a></div>
                            </div>
                            <div class="nav-list">
                                <div class="nav-title px17"><a href="#">고객센터</a></div>
                                <div class="nav-item"><a href="#">공지사항</a></div>
                                <div class="nav-item"><a href="#">도움말</a></div>
                                <div class="nav-item"><a href="#">문의하기</a></div>
                                <div class="nav-item"><a href="#">블랙리스트</a></div>
                            </div>
                            <div class="nav-list">
                                <div class="nav-title px17"><a href="#">메신저</a></div>
                                <div class="nav-item"><a href="#">친구 목록</a></div>
                                <div class="nav-item"><a href="#">다이렉트 메시지</a></div>
                                <div class="nav-item"><a href="./messenger_blocklists.html">차단 목록</a></div>
                                <div class="nav-item"><a href="./messenger_add_friend.html">친구 추가하기</a></div>
                            </div>
                        </div>
                        <div class="footer-corp">
                            <div class="logo-corp graycode"></div>
                            <p class="px13">(주)그레이코드 개인정보보호책임자 홍길동 주소 : 서울시 강남구 논현동 243-17번지 1층 전화 : 1588-4444 팩스 : 02-248-4444<br>
                                E-mail : contact@evolchat.com 사업자등록번호 : 220-87-17456 통신판매업 신고번호 : 제2024-서울강남-1659호
                                사업자정보확인</p>
                            <div class="copy-corp"><img src="/images/logo/corp.png" alt="corp.png"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content chatLayer bc-aside">
                <div class="chat">
                    <div class="title">
                        <p>코리아 스피드 바카라 A <span class="">582</span></p>
                    </div>
                    <div class="content">
                        <div class="chatingLayer">
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white bc-activate">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="chatLayout  flex-row ">
                                <div class="profile"><img src="/images/profile/user1.png" alt="#"></div>
                                <div class="chatContent">
                                    <div class="top flex-row flex-c">
                                        <div class="nickname grey-4">우울한협객</div>
                                        <div class="time grey-1">16:03</div>
                                    </div>
                                    <div class="bottom white opacity80 bc-gray-dark">
                                        <div class="text ">
                                            오늘 카드가 너무 이쁘게 나오네~ 100출 1000마감 해봐야겠다!
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="chatInsert bc-gray-dark">
                        <div class="btn other"></div>
                        <input type="text" placeholder="채팅 메세지 보내기">
                        <div class="btn gif"></div>
                        <div class="btn img"></div>
                    </div>
                </div>
            </div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>