<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 랭킹</title>

    <script>
        (function (d) {
            var config = {
                kitId: 'xfr4aba',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <link rel="stylesheet" href="../static/css/style.css">
<!-- select box -->
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <!-- select box -->
    
</head>

<body>
    <div class="wrapper bc-black vh100 ">
        <div id="header"></div>
        <Section class="container flex-row">
            <div id="nav"></div>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list active"><a href="./rank.html">배팅 수익</a></div>
                            <div class="list "><a href="#">최근 100게임 적중률</a></div>
                            <div class="list "><a href="#">바카라 연승</a></div>
                            <div class="list"><a href="#">최대 배당 당첨</a></div>
                            <div class="list"><a href="#">잭팟 수령</a></div>
                            <div class="list"><a href="#">활동 포인트</a></div>
                        </div>
                        <div class="sub-header">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="닉네임 검색">
                            </div>
                        </div>
                        <div class="mainLayer">
                            <div class="table-radius">
                                <table class="rank-table white">
                                    <thead>
                                        <tr>
                                            <th>순위</th>
                                            <th>프로필</th>
                                            <th>닉네임</th>
                                            <th>배팅 수익</th>
                                            <th>배팅 전적</th>
                                            <th>승률</th>
                                            <th>최대 연승</th>
                                            <th>활동기간</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><img src="../static/images/profile/user1.png" alt="#"></td>
                                            <td>우울한협객</td>
                                            <td>1,048,150,000</td>
                                            <td><span>394승</span><span>291패</span></td>
                                            <td>57.52%</td>
                                            <td>12연승</td>
                                            <td>245일</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>


                    </div>

                    <div id="footer"></div>
                </div>

            </div>
            <div id="chat"></div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>