<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
    <script th:src="@{/static/js/register.js}"></script>
    <link rel="stylesheet" href="../static/css/page/assign.css">
</head>

<body>

    <div class="wrapper bc-main vh100">
        <div class="join-wrap login-wrap assign-wrap max1280 flex-c-c">
            <div class="header">
                <div class="logo m-t-80">
                    <img src="../static/images/logo/login_logo.png" alt="logo.png">
                </div>
            </div>
            <div class="content white">
                <form th:action="@{/register}" method="post" th:object="${user}">
                    <div class="inputfields px17 flex-column">
                        <!-- 휴대폰 인증 부분 생략 -->
                        <div class="phone flex-c flex-row white bc-activate">
                            <div class="icon"><img src="../static/images/svg/register-top-icon.svg" alt=""></div>
                            <div class="text text-left">
                                <div class="title px19 m-b-5">휴대폰 인증</div>
                                <div class="px13">본인 명의의 휴대폰으로 인증 청소년 가입이 불가합니다.</div>
                            </div>
                            <div class="icon"><img src="../static/images/svg/arrow-right.svg" alt=""></div>
                        </div>
                        <form name="form_chk" method="post">
                            <input type="hidden" name="m" value="checkplusService">
                            <input type="hidden" name="EncodeData" th:value="${sEncData}">
                        </form>
                        <!-- 닉네임 입력 필드 -->
                        <div class="field m-b-20">
                            <div class="top px14 m-b-8">
                                <label for="nickname" class="opacity60">닉네임</label>
                                <div class="description opacity40">한글, 영문 2자 ~ 12글자</div>
                            </div>
                            <input class="input p-lr-20" type="text" id="nickname" name="nickname" th:field="*{nickname}">
                        </div>

                        <!-- 아이디 입력 필드 -->
                        <div class="field m-b-20">
                            <div class="top px14 m-b-8">
                                <label for="username" class="opacity60">아이디</label>
                                <div class="description opacity40">영문, 숫자, 3~20글자 (특수문자 _ 만 사용가능)</div>
                            </div>
                            <input class="input p-lr-20" type="text" id="username" name="username" th:field="*{username}">
                        </div>

                        <!-- 비밀번호 입력 필드 -->
                        <div class="field m-b-20">
                            <div class="top px14 m-b-8">
                                <label for="password" class="opacity60">비밀번호</label>
                                <div class="description opacity40">6자 이상의 영문, 숫자, 특수문자</div>
                            </div>
                            <div class="flex-c flex-row input-wrap">
                                <input class="input" type="password" id="password" name="password"
                                    th:field="*{password}">
                                <img src="../static/images/svg/input-icon-eye.svg" alt="">
                            </div>

                        </div>

                        <!-- 비밀번호 확인 입력 필드 -->
                        <div class="field m-b-20">
                            <div class="top px14 m-b-8">
                                <label for="confirmPassword" class="opacity60">비밀번호 확인</label>
                                <div id="password-error" class="error-msg"></div> <!-- 에러 메시지 표시 영역 -->
                            </div>
                            <div class="flex-c flex-row input-wrap">
                                <input class="input" type="password" id="confirmPassword" name="confirmPassword"
                                    th:field="*{confirmPassword}">
                                <img src="../static/images/svg/input-icon-eye.svg" alt="">
                            </div>

                        </div>

                        <!-- 동의 체크박스 그룹 -->
                        <div class="checkGroup">
                            <div class="field">
                                <input type="checkbox" name="all" id="all">
                                <div class="top">
                                    <label for="all" class="px17">모두 동의</label>
                                </div>
                            </div>
                            <div class="field px15">
                                <div class="top">
                                    <label for="accept1"><img src="../static/images/svg/check.svg" alt="">[필수] 이용약관
                                        동의</label>
                                    <div class="description">내용보기</div>
                                </div>
                                <input type="checkbox" name="accept" id="accept1">
                            </div>
                            <div class="field px15">
                                <div class="top">
                                    <label for="accept2"><img src="../static/images/svg/check.svg" alt="">[필수] 개인정보 수집 및
                                        이용 동의</label>
                                    <div class="description">내용보기</div>
                                </div>
                                <input type="checkbox" name="accept" id="accept2">
                            </div>
                        </div>
                    </div>

                    <!-- 이전 및 회원가입 버튼 -->
                    <div class="btns flex-row flex-c">
                        <button type="button">이전</button>
                        <button type="submit">회원가입</button>
                    </div>
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </div>
</body>

</html>