<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 상점</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
        <div id="header"></div>
        <Section class="container flex-row">
            <div id="nav"></div>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="mainLayer">
                            <div class="item-serch">
                                <div class="input-field">
                                    <input type="text" placeholder="상품명, 상품 설명 검색">
                                    <div class="icon postion-a"></div>
                                </div>
                            </div>

                            <div class="item-list">
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-1"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase activate">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-2"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase activate">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-3"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-4"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-5"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-6"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-7"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-8"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-9"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-10"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-11"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-12"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-13"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-14"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-15"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">1개월</div>
                                            <div class="name">오토봇 사용권</div>
                                            <div class="text">닉네임, 프로필 사진, 마이홈 배경, 오늘의 한마디, 채팅, 메신저, 채팅 이미지, GIF, 이모티콘
                                                무제한 이용가능</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-16"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-17"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-item-wrap">
                                    <div class="top flex-row">
                                        <div class="left">
                                            <div class="type">일회용</div>
                                            <div class="name">닉네임 변경권</div>
                                            <div class="text">프로필을 클릭하여 계정관리 메뉴에서 닉네임을 변경하실 수 있습니다.</div>
                                        </div>
                                        <div class="right">
                                            <div class="shopping-item shopping-item-18"></div>
                                        </div>
                                    </div>
                                    <div class="center flex-row white">
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-3">

                                            </div>
                                            <span>19,800</span>
                                        </div>
                                        <div class="case flex-row">
                                            <div class="shopping-item-icon shopping-item-icon-1"></div>
                                            <span>198</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="btn-wrap flex-row">
                                            <div class="count-btn-wrap">
                                                <div class="count-btn count-down"></div>
                                                <div class="count">1</div>
                                                <div class="count-btn count-up"></div>
                                            </div>
                                            <button class="purchase disabled">구매</button>
                                            <button class="gift disabled">선물</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="footer"></div>
                </div>

            </div>
            <div id="chat"></div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>