<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 고객센터 - 문의하기</title>

    <script>
        (function (d) {
            var config = {
                kitId: 'xfr4aba',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <link rel="stylesheet" href="../static/css/style.css">
<!-- select box -->
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <!-- select box -->
    
</head>

<body>
    <div class="wrapper bc-black vh100 ">
        <div id="header"></div>
        <Section class="container flex-row">
            <div id="nav"></div>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list "><a href="support_notice.html">공지사항</a></div>
                            <div class="list "><a href="support_help.html">도움말</a></div>
                            <div class="list active"><a href="support_support.html">문의하기</a></div>
                            
                        </div>
                        <div class="sub-header">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="닉네임 검색">
                            </div>
                        </div>
                      
                        <div class="mainLayer ">
                            <div class="content-wrap flex-c-c flex-column">
                                <div class="img-illust illust-1"></div>
                                <P>문의 내역이 없습니다.</P>
                            </div>
                        </div>
                    </div>

                    <div id="footer"></div>
                </div>

            </div>

            <div id="chat"></div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>