<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 고객센터 - 공지사항</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
        <div id="header" class="header flex-row bc-header"></div>
        <Section class="container flex-row">
            <div id="nav" class="bc-aside g-12"></div>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list active"><a href="support_notice.html">공지사항</a></div>
                            <div class="list "><a href="support_help.html">도움말</a></div>
                            <div class="list "><a href="support_support.html">문의하기</a></div>
                            
                        </div>
                        <div class="sub-header">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="닉네임 검색">
                                <img src="../static/images/svg/search.svg" alt=""
                                    class="input-icon search" />
                            </div>
                        </div>
                        <div class="mainLayer">
                            <div class="table-radius">
                                <table class="rank-table white">
                                    <thead>
                                        <tr>
                                            <th>분류</th>
                                            <th>제목</th>
                                            <th>일시</th>
                                            <th>조회</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div class="red">공지</div></td>
                                            <td><div>골드칩(도네이션용 가상화폐) 사용 설명서</div></td>
                                            <td>2024-05-06</td>
                                            <td>2564</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>


                    </div>

                   <div id="footer"></div>
                </div>

            </div>
            <div id="chat" class="content chatLayer bc-aside"></div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>