<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 고객샌터 - 도움말</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
</head>

<body>

    <div class="wrapper bc-black vh100 ">
        <div id="header"></div>
        <Section class="container flex-row">
            <div id="nav"></div>
            <div class="wrap bc-footer">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list "><a href="support_notice.html">공지사항</a></div>
                            <div class="list active"><a href="support_help.html">도움말</a></div>
                            <div class="list "><a href="support_support.html">문의하기</a></div>
                            
                        </div>
                        <div class="sub-header">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="닉네임 검색">
                            </div>
                        </div>
                        <div class="mainLayer">
                            <div class="search-area">
                                <h2 class="white px44">궁금하신 내용을<br> 검색하시면 해결해드릴게요!</h2>
                                <div class="search">
                                    <div class="input">
                                        <input type="text" placeholder="궁금하신 사항을 검색해 보세요.">
                                    </div>

                                </div>
                                <div class="character-wrap">
                                    <div class="character position-r">
                                        <img src="../static/images/Character/head.png" alt="물음표 모양의 캐릭터 머리">
                                    </div>
                                </div>
                            </div>
                            <div class="text-wrap help">
                                <div class="text_set grey-5 g-6  px15">
                                    <div class="title white px24">계정 관련</div>
                                    <div class="question">아이디와 비밀번호(계정정보)를 잃어 버렸습니다.</div>
                                    <div class="question">회원 탈퇴는 어디서 할 수 있나요?</div>
                                    <div class="question">본인 명의의 휴대폰이 없는데 회원가입을 할 수 없나요?</div>
                                    <div class="question">미성년자인데 회원가입을 할 수 없나요?</div>
                                    <div class="question">여러개의 계정을 생성할 수 있나요?</div>
                                </div>
                                <div class="text_set grey-5 g-6 px15">
                                    <div class="title white px24">서비스 이용 및 운영정책</div>
                                    <div class="question">이용 중 활동 정지를 당했는데 해제할 수 있는 방법이 없나요?</div>
                                    <div class="question">채팅창에서 성인물이나 욕설을 하는 사람을 신고할 수 없나요?</div>
                                    <div class="question">잭팟(Jackpot)은 뭔가요?</div>
                                </div>
                                <div class="text_set grey-5 g-6 px15">
                                    <div class="title white px24">아이템 관련</div>
                                    <div class="question">아이템을 샀는데 채팅(오픈채팅 개설, 메신저, 전적초기화...)이 되지 않습니다.</div>
                                    <div class="question">회원 탈퇴는 어디서 할 수 있나요?</div>
                                    <div class="question">본인 명의의 휴대폰이 없는데 회원가입을 할 수 없나요?</div>
                                    <div class="question">미성년자인데 회원가입을 할 수 없나요?</div>
                                    <div class="question">여러개의 계정을 생성할 수 있나요?</div>
                                </div>
                                <div class="text_set grey-5 g-6 px15">
                                    <div class="title white px24">광고 및 비지니스 관련</div>
                                    <div class="question">이용 중 활동 정지를 당했는데 해제할 수 있는 방법이 없나요?</div>
                                    <div class="question">채팅창에서 성인물이나 욕설을 하는 사람을 신고할 수 없나요?</div>
                                    <div class="question">잭팟(Jackpot)은 뭔가요?</div>
                                </div>
                            </div>

                        </div>

                    </div>
                   <div id="footer"></div>
                </div>

            </div>
            <div id="chat"></div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>