<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에볼챗닷컴 : 고객센터 - 문의하기</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
    <script src="../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <script src="../static/js/common.js"></script>
</head>

<body>
    <div class="wrapper bc-black vh100 ">
        <div id="header" class="header flex-row bc-header"></div>
        <Section class="container flex-row">
            <div id="nav" class="bc-aside g-12"></div>
            <div class="wrap bc-footer ">
                <div class="content">
                    <div class="mainContent bc-main">
                        <div class="sub-header flex-row flex-c white opacity60 px15">
                            <div class="list "><a href="support_notice.html">공지사항</a></div>
                            <div class="list "><a href="support_help.html">도움말</a></div>
                            <div class="list active"><a href="support_support.html">문의하기</a></div>

                        </div>
                        <div class="sub-header">
                            <div class="sub-header-search bc-footer">
                                <input type="text" placeholder="닉네임 검색">
                                <img src="../static/images/svg/search.svg" alt=""
                                    class="input-icon search" />
                            </div>
                        </div>

                        <div class="mainLayer ">
                            <div class="content-head">
                                <div class="title">문의글 작성</div>
                                <div class="btn">
                                    <div class="btn">임시등록</div>
                                    <button class="btn disabled">등록</button>
                                </div>

                            </div>
                            <div class="content-wrap">
                                <div class="select-box">
                                    <select>
                                        <option>어떤 부분에 대한 질문인지 선택해 주세요.</option>
                                        <option>골드칩 환전에 관한 질문이 있습니다.</option>
                                        <option>기술적인 문제가 있습니다.</option>
                                        <option>사용 계정에 대한 질문이 있습니다.</option>
                                        <option>상점 아이템에 대한 질문이 있습니다.</dioptionv>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="footer"></div>
                </div>

            </div>
            <div id="chat" class="content chatLayer bc-aside"></div>
        </Section>
    </div>
<script>
        $(function() {
          $('select').selectric();
        });
        </script>
</body>

</html>