.mainLayer .money-wrap>div {
    border: 1px solid #35373D;
    background-color: #303237;
    width: 100%;
    min-height: 44px;
    max-height: 44px;
    padding: 0px 15px;
    justify-content: space-between;
}

.mainLayer .money-wrap>div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mainLayer .money-wrap>div:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mainLayer {
    width: 100%;
    padding: 20px;
}

.etc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.money-wrap, .text-wrap {
    border-radius: 10px;
    padding: 20px;
    color: #e0e0e0;
}

.money-wrap {
    flex: 1;
}

.jackpot {
    line-height :1.3;
}

.text-wrap ol {
    padding-left: 20px;
}

.text-wrap li {
    list-style-type: disc;
}

.text-wrap {
    flex: 2;
    margin: 20px 20px 0 0;
    background-color: #303237;
    border: 1px solid #35373D;
    height: 180px;
}

.buy_chip {
    justify-content: end;
}

.chip {
    width: 30px;
}

.search {
    padding: 20px 0;
}

.table-radius {
    overflow: hidden;
    border-radius: 10px;
}

.rank-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2a2a2a;
}

.rank-table thead {
    background-color: #333;
}

.rank-table th, .rank-table td {
    padding: 15px;
}

.rank-table th {
    color: #aaa;
}

.rank-table td {
    text-align: center;
}

.rank-table td:nth-child(4) {
    display: flex;
    justify-content: space-between;
}

.num {
    margin-top: 5px;
}

.rank-table .text-center {
    text-align: center;
    background-color: #35373D;
}

.rank-table .text-right {
    text-align: left;
    background-color: #2C2E33;
    font-size: 15px;
}

.rank-table .text-left {
    text-align: left;
    padding: 25px;
}

.rank-table .text-left .gold {
    color: #FFBF00;
}

.rank-table tbody tr:hover {
    background-color: #3a3a3a;
}

.rank-table span {
    color: #1990ff;
    font-weight: bold;
}

.rank-table span:nth-child(3) {
    color: #ffa500;
}

.rank-table span:nth-child(4) {
    color: #ffd700;
}
