
/* myitem */
.myitem .use {
    color: #F23F42;
}

.myitem .use-btn {
    background-color: #F23F42;
    color: #fff;
}

.myitem .count-btn-wrap {
    border-radius: 5px;
}

.myitem button {
    border-radius: 5px;
    background-color: #8744FF;
    color: #fff;
}

/* myitem */