/* gameLayer */
div.mainContent {
    padding-bottom: 80px;
    position: relative;
}

div.mainContent>div.header {
    min-height: 70px;
    max-width: 800px;
    min-height: 70px;
    width: 100%;
    margin: 0 auto;

}

div.mainContent>div.header>div.options>div {
    margin: 0 5px;
}

body>div>section>div.wrap>div>div.mainContent>div.header>div.options>div.icon {
    border: 1px solid #3f383b;
    border-radius: 50%;
    padding: 10px;
}

div.mainContent>div.header div.options {
    z-index: 1;
    position: relative;
}

div.mainContent>div.header div.item-wrap.flex-row.flex-c>div.bg-game-chips {

    margin: 0 5px;
}

div.mainContent>div.header .bg {
    max-width: 800px;
    width: 100%;
    background-color: #1b1c1e;
    border-radius: 10%;
    position: absolute;
    height: 200%;
    max-height: 1500px;
    /* top: -190%; */
    top: -1425px;
    left: 50%;
    transform: translateX(-50%);
}

div.mainContent>div.mainLayer>div>div>div.middle.flex-row.flex-c-c {
    font-size: 0.8rem;
}

div.mainContent>div.mainLayer>div>div>div.middle.flex-row.flex-c-c>div:nth-child(2n+1) {
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

div.mainContent>div.mainLayer>div>div>div.middle.flex-row.flex-c-c>div:nth-child(2n) {
    width: 100px;
}

div.mainContent>div.mainLayer>div>div>div.middle.flex-row.flex-c-c>div:nth-child(3) {
    width: 40px;
}

div.mainContent>div.mainLayer>div>div>div.bottom>div {
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

div.mainContent>div.mainLayer>div>div>div.top.flex-row>div.title {
    padding: 15px 10px;
}

div.mainContent>div.mainLayer>div>div>div.bottom>div>div:nth-child(5)>div::after,
div.mainContent>div.mainLayer>div>div>div.bottom>div>div:nth-child(6)>div::after {
    content: '';
    display: inline-block;
    border-radius: 10px;
    width: 5px;
    height: 5px;
    border: 1px solid #1d1c1e;
    position: absolute;
    background-color: #185cc6;
    top: 0;
    left: 0;
}

div.mainContent>div.mainLayer>div>div>div.bottom>div>div:nth-child(6)>div::after {
    background-color: #c52123;
    right: 0;
    bottom: 0;
    top: auto;
}

