<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대시보드</title>
    <link rel="stylesheet" href="../asset/css/style.css">
</head>

<body>
    <div class="warp flex-row vh100 white">
        <div class="left ">
            <div class="logo p-left-right-20">
                <img src="" alt="로고.png">
            </div>
            <div class="nav">
                <nav>
                    <ul>
                        <li class="active flex-c p-left-right-20"><a href="#"><i>icon</i>대시보드</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>회원관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>게시물 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>채팅 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>포인트 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>아이템 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>광고 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>통계</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>환경설정</a></li>
                    </ul>
                </nav>
                <div class="btn">
                    <button>로그아웃</button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="top flex-row flex-sb  p-left-right-30">
                <div class="serch-area">
                    <input type="text" placeholder="회원 닉네임 검색">
                </div>
                <div class="flex-row flex-c ">
                    <div class="">TEMP</div>
                    <div class="">TEMP</div>
                    <div class="">닉네임</div>
                </div>
            </div>
            <div class="content-wrap  p-left-right-30">
                <div class="content-header flex-row flex-sb">
                    <div class="nav-wrap">
                        <ul class="flex-row flex-c h100">
                            <li class="active">전체목록</li>
                            <li>일반회원</li>
                            <li>프리미엄 회원</li>
                            <li>활동정지 회원</li>
                            <li>탈퇴 회원</li>
                        </ul>
                    </div>
                    <div class="btn-wrap">
                        <button>선택 활동정지</button>
                        <button>선택 포인트 몰수</button>
                        <button>회원추가</button>
                    </div>
                </div>
                <div class="content-body">
                    <div class="row flex-row">
                        <div class="box flex-row flex-c">
                            <div class="icon">icon</div>
                            <div class="flex-row flex-sb">
                                <div class="">
                                    <div class="key">전체 회원</div>
                                    <div class="value">258,489</div>
                                </div>
                                <div class="">
                                    <div class="key">오늘 가입자</div>
                                    <div class="value">892</div>
                                </div>
                                <div class="">
                                    <div class="key">오늘 방문자</div>
                                    <div class="value">298,150</div>
                                </div>
                            </div>
                        </div>
                        <div class="box flex-row flex-c">
                            <div class="icon">icon</div>
                            <div class="flex-row flex-sb">
                                <div class="">
                                    <div class="key">캐시 충전</div>
                                    <div class="value">15,480,000</div>
                                </div>
                                <div class="">
                                    <div class="key">캐시 사용</div>
                                    <div class="value">14,600,000</div>
                                </div>
                                <div class="">
                                    <div class="key">보유 캐시</div>
                                    <div class="value">48,450,000</div>
                                </div>
                            </div>
                        </div>
                        <div class="box flex-row flex-c">
                            <div class="icon">icon</div>
                            <div class="flex-row flex-sb">
                                <div class="">
                                    <div class="key">골드칩 구매</div>
                                    <div class="value">250,000</div>
                                </div>
                                <div class="">
                                    <div class="key">골드칩 환전</div>
                                    <div class="value">150,000</div>
                                </div>
                                <div class="">
                                    <div class="key">보유 골드칩</div>
                                    <div class="value">1,005,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-row">
                        <div class="box flex-row flex-c">
                            <div class="icon">icon</div>
                            <div class="flex-row flex-sb">
                                <div class="">
                                    <div class="key">지급 AP</div>
                                    <div class="value">258,489</div>
                                </div>
                                <div class="">
                                    <div class="key">회수 AP</div>
                                    <div class="value">125,480</div>
                                </div>
                                <div class="">
                                    <div class="key">보유 AP</div>
                                    <div class="value">304,298,150</div>
                                </div>
                            </div>
                        </div>
                        <div class="box flex-row flex-c">
                            <div class="icon">icon</div>
                            <div class="flex-row flex-sb">
                                <div class="">
                                    <div class="key">롤링</div>
                                    <div class="value">91,489,460,000</div>
                                </div>
                                <div class="">
                                    <div class="key">당첨</div>
                                    <div class="value">81,489,460,000</div>
                                </div>
                            </div>
                        </div>
                        <div class="box flex-row flex-c">
                            <div class="icon">icon</div>
                            <div class="flex-row flex-sb">
                                <div class="">
                                    <div class="key">게시물</div>
                                    <div class="value">25,145</div>
                                </div>
                                <div class="">
                                    <div class="key">댓글</div>
                                    <div class="value">76,120</div>
                                </div>
                                <div class="">
                                    <div class="key">페이지 뷰</div>
                                    <div class="value">1,205,048</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row  flex-row">
                        <div class="box graph ">graph</div>
                        <div class="box graph">graph</div>
                        <div class="box">
                            <div class="title">
                                연령대
                            </div>
                            <div class="flex-row">
                                <div class="left-area">20대</div>
                                <div class="right-area">90.01%</div>
                            </div>
                            <div class="flex-row">
                                <div class="left-area">30대</div>
                                <div class="right-area">2.34%</div>
                            </div>
                            <div class="flex-row">
                                <div class="left-area">40대</div>
                                <div class="right-area">2.12%</div>
                            </div>
                            <div class="flex-row">
                                <div class="left-area">50대</div>
                                <div class="right-area">1.12%</div>
                            </div>
                            <div class="flex-row">
                                <div class="left-area">60대</div>
                                <div class="right-area">1.11%</div>
                            </div>
                            <div class="flex-row">
                                <div class="left-area">그 이상</div>
                                <div class="right-area">3.52%</div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="title">
                                접속 국가
                            </div>
                            <div class="flex-row"><i>국기</i>
                                <div class="left-area">대한민국</div>
                                <div class="right-area">90.01%</div>
                            </div>
                            <div class="flex-row"><i>국기</i>
                                <div class="left-area">미국</div>
                                <div class="right-area">2.34%</div>
                            </div>
                            <div class="flex-row"><i>국기</i>
                                <div class="left-area">중국</div>
                                <div class="right-area">2.12%</div>
                            </div>
                            <div class="flex-row"><i>국기</i>
                                <div class="left-area">일본</div>
                                <div class="right-area">1.12%</div>
                            </div>
                            <div class="flex-row"><i>국기</i>
                                <div class="left-area">캐나다</div>
                                <div class="right-area">1.11%</div>
                            </div>
                            <div class="flex-row"><i>국기</i>
                                <div class="left-area">그외 국가</div>
                                <div class="right-area">3.52%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>