<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원관리</title>
    <link rel="stylesheet" href="../../../static/css/admin.css">
        <script src="../../../static/plugin/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../../../static/plugin/lcdsantos-jQuery-Selectric/src/jquery.selectric.js"></script>
    <link rel="stylesheet" href="../../../static/plugin/lcdsantos-jQuery-Selectric/selectric.css">
</head>

<body>
    <div class="warp flex-row vh100 white">
        <div class="left flex-column">
            <div class="logo p-left-right-20">
                <img src="" alt="로고.png" class="hidden">
            </div>
            <div class="nav flex-column">
                <nav>
                    <ul class="h100">
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>대시보드</a></li>
                        <li class="active flex-c p-left-right-20"><a href="#"><i>icon</i>회원관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>게시물 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>채팅 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>포인트 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>아이템 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>광고 관리</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>통계</a></li>
                        <li class="flex-c p-left-right-20"><a href="#"><i>icon</i>환경설정</a></li>
                    </ul>
                </nav>
                <div class="btn">
                    <button>로그아웃</button>
                </div>
            </div>
        </div>
        <div class="right flex-column">
            <div class="top flex-row flex-sb flex-c p-left-right-30">
                <div class="search-area flex-row flex-c">
                    <input type="text" class="white" placeholder="회원 닉네임 검색">
                </div>
                <div class="flex-row flex-c ">
                    <div class="">TEMP</div>
                    <div class="">TEMP</div>
                    <div class="">닉네임</div>
                </div>
            </div>
            <div class="content-wrap  p-left-right-30">
                <div class="content-header flex-row flex-sb">
                    <div class="nav-wrap">
                        <ul class="flex-row flex-c h100">
                            <li class="">기본 환경설정</li>
                            <li class="active">관리자 권한 설정</li>
                            <li class="">문자메시지 전송</li>
                            <li class="">이메일 발송</li>
                            <li class="">팝업 레이어 관리</li>
                            <li class="">IP 차단</li>
                            <li class="">사이트 점검</li>
                            <li class="">관리자 로그</li>
                        </ul>
                    </div>
                    <div class="btn-wrap">
                        <button>선택 활동정지</button>
                        <button>선택 포인트 몰수</button>
                        <button>회원추가</button>
                    </div>
                </div>
                <div class="content-body">
                    
                    <div class="table px14 admin">
                        <table>
                            <thead>
                                <tr>
                                    <th width="6.52%">사진</th>
                                    <th width="6.52%">이름</th>
                                    <th width="9.13%">직급</th>
                                    <th width="6.52%">근무위치</th>
                                    <th width="7.82%">관리 경력</th>
                                    <th width="39.11%">접근 권한</th>
                                    <th width="11.73%">마지막 접속</th>
                                    <th width="10.30%">미확인 관리자 로그</th>
                                    <th width="1%">관리</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td><img src="../../../static/images/profile/default.png" alt=""></td>
                                    <td>홍길동</td>
                                    <td>관리팀 과장</td>
                                    <td>F1M01</td>
                                    <td>315일 차</td>
                                    <td>대시보드, 회원관리, 게시물 관리, 채팅 관리, 포인트 관리, 아이템 관리, 광고 관리, 통계</td>
                                    <td>2024-05-29 12:22:12</td>
                                    <td>2 건</td>
                                    <td>...</td>
                                </tr>
                                <tr>
                                    <td><img src="../../../static/images/profile/default.png" alt=""></td>
                                    <td>홍길동</td>
                                    <td>관리팀 과장</td>
                                    <td>F1M01</td>
                                    <td>315일 차</td>
                                    <td>대시보드, 회원관리, 게시물 관리, 채팅 관리, 포인트 관리, 아이템 관리, 광고 관리, 통계</td>
                                    <td>2024-05-29 12:22:12</td>
                                    <td>2 건</td>
                                    <td>...</td>
                                </tr>
                                <tr>
                                    <td><img src="../../../static/images/profile/default.png" alt=""></td>
                                    <td>홍길동</td>
                                    <td>관리팀 과장</td>
                                    <td>F1M01</td>
                                    <td>315일 차</td>
                                    <td>대시보드, 회원관리, 게시물 관리, 채팅 관리, 포인트 관리, 아이템 관리, 광고 관리, 통계</td>
                                    <td>2024-05-29 12:22:12</td>
                                    <td>2 건</td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

</body>

</html>